<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'lp-manual-rapido-nps'"
[rd-identificador]="'prod-lp-manual-rapido-nps'"
[imagem-header]="'/assets/images/lp/ebook-nps/ebook-nps-net-promoter-score.png'"
[hide-logo]="'false'"
[titulo]="'NPS: a métrica que pode mudar o seu negócio'"
[sub-titulo]="'Descubra como o NPS pode ajudar a sua empresa a otimizar o atendimento ao cliente, reduzir custos e aumentar as vendas.'"
[alt-header]="'eBook manual rápido do NPS - Net promoter score'"
[titulo-form]="'Quero meu eBook grátis!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar eBook agora!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1508518080ebook-manual-rapido-do-nps.pdf'"
>
</octadesk-lp-header-com-form>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">O que é NPS?</h2>
        <p>NPS é a sigla para Net Promoter Score. O NPS é uma métrica utilizada para calcular a lealdade de clientes, indicando pontos de melhoria da experiência do cliente e sendo calculada com base em uma pergunta feita para os clientes:
          "Em uma escala de 0 a 10, o quanto você recomendaria a minha empresa a um amigo ou familiar?".
        </p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-nps-simplicidade">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Simplicidade de formulação</dt>
          <dd class="od-DescriptionList-detail">O NPS é uma métrica simples, já que demanda uma única pergunta.  Além de facilitar a sua análise, também permite velocidade de implementação.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-nps-facilidade-resposta">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Facilidade de resposta</dt>
          <dd class="od-DescriptionList-detail">O NPS deve ser o mais rápido e intuitivo possível, tendo um casamento ideal com canais de coleta digitais. Pela rapidez da resposta, há mais chances dos clientes contribuírem com a pesquisa.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-nps-informacoes-precisas">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Informações precisas</dt>
          <dd class="od-DescriptionList-detail">O NPS é uma métrica que oferece números objetivos sobre o que os clientes pensam e sentem em relação a sua marca. Assim, Você consegue ter uma visão geral da experiência que eles têm.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-nps-aumento-vendas">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Aumento das vendas</dt>
          <dd class="od-DescriptionList-detail">Empresas que adotam o NPS percebem suas vendas aumentarem. Com o NPS, é possível estabelecer estratégias mais concretas para garantir a evolução da métrica, aumentando os clientes promotores.</dd>
        </dl>
      </div>
    </div>
  </div>
</article>

<!-- sales flow -->
<div class="u-bgLightGray">
    <div class="container od-SalesFlow">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md">
          <h2 class="u-fontThin">NPS de Relacionamento e Transacional</h2>
          <p>É possível aplicar o indicador num sentido amplo, o chamado NPS de Relacionamento, no qual se considera o índice de recomendação da marca como um todo. Também é possível aplicar o indicador em algum ponto específico da jornada do cliente, ou seja, em uma transação particular realizada entre a empresa e o cliente durante algum ponto de contato da jornada dele. Esse é o caso do NPS Transacional.</p>
        </div>
        <div class="col-12 col-md flex-first flex-md-last text-center">
          <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/nps-relacionamento-transacional.png" alt="NPS de relacionamento e NPS transacional" title="NPS - Relacionamento e transacional">
        </div>
      </div>
    </div>
  </div>
    
  <div class="od-Wrapper">
    <div class="container od-SalesFlow">    
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md text-center">
          <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/nps-pre-venda-pos-venda.png" alt="Quando medir a NPS" title="Quando medir a NPS">
        </div>
        <div class="col-12 col-md">
          <h2 class="u-fontThin">Quando aplicar o NPS?</h2>
          <p>É possível fazer uma pesquisa de satisfação logo na primeira visita do usuário ao seu site, ou após uma compra, seja na loja física ou online, ou integrá-la a uma estratégia maior de pós-venda, baseada nos princípios do Customer Success, uma abordagem que visa a colocar o cliente como centro da estratégia.
            <br>A pesquisa de NPS deve ser feita frequentemente, com clientes diferentes. Uma boa pesquisa é feita com todos os clientes, logo após uma determinada interação, ou, então, segmentando a base de clientes inativos. A frequência mínima recomendada é mensal, mas o ideal é realizar um disparo por dia. Agora, para um mesmo cliente, é recomendado manter um intervalo de 90 dias entre uma pesquisa e outra.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="u-bgLightGray">
    <div class="container od-SalesFlow">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md">
          <h2 class="u-fontThin">NPS na pré-venda e no pós-venda</h2>
          <p>Pesquisas de NPS realizadas durante a pré-venda te ajudam a descobrir o que faz com que os visitantes do seu site não se tornem seus clientes. Assim, é possível descobrir quais elementos do seu site ou blog são mais atrativos aos usuários e quais são menos.
            <br>Nas etapas de pós-venda, a aplicação do NPS pode servir, portanto, para identificar com quais clientes você deve investir em retenção e para traçar estratégias de Customer Success. Um valor muito baixo de NPS na fase de fidelização é um sinal de alerta e indica um possível Churn de grande parte desses clientes.
          </p>              
        </div>
        <div class="col-12 col-md flex-first flex-md-last text-center">
          <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/quando-medir-nps.png" alt="NPS na pré venda e NPS no pós venda" title="NPS - Pré vendas e pós venda">
        </div>
      </div>
    </div>
  </div>

      <div class="container od-SalesFlow">    
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md text-center">
            <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/segredos-nps.png" alt="O segredo para aproveitar melhor a NPS" title="Segredo da NPS">
          </div>
          <div class="col-12 col-md">
            <h2 class="u-fontThin">O segredo para aproveitar o NPS</h2>
            <p>O segredo para que você consiga realmente aproveitar o NPS está em estabelecer metas e monitorá-las de tempos em tempos para ver se estão sendo alcançadas. É importante que as metas sejam realistas, específicas e mensuráveis.</p>
          </div>
        </div>
      </div>
    
    <div class="u-bgLightGray">
      <div class="container od-SalesFlow">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md">
            <h2 class="u-fontThin">Como medir o NPS?</h2>
            <p>Para obter resultados relevantes, antes de liberar a pesquisa, você precisa responder a cinco perguntas fundamentais:                
              <ul>
                <li>Para quem perguntar?</li>
                <li>Por onde perguntar?</li>
                <li>Quando perguntar?</li>
                <li>Qual a frequência da pesquisa?</li>
                <li>Como será o design da pesquisa?</li>
              </ul>         
          </div>
          <div class="col-12 col-md flex-first flex-md-last text-center">
            <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/como-medir-nps.png" alt="Como medir a NPS?" title="NPS: como medir?">
          </div>
        </div>
      </div>
    </div>

<!-- resume -->
<article class="od-Wrapper u-bgWhite">
    <div class="container"> 
      <h2 class="h1 u-fontThin">Resumo</h2>
      <p>No nosso "Manual Rápido do NPS", você vai descobrir quando, como e por que medir o NPS e quais as vantagens em adotá-lo. Além disso, te ensinamos como aplicar essa métrica em cada uma das etapas da jornada do seu cliente (conscientização, consideração, compra, retenção e recomendação).
        <br>Você vai saber também o que caracteriza um cliente promotor, um neutro e um detrator, recebendo dicas de como transformar detratores em promotores. Assim, com nosso manual, você tem uma visão completa de como o NPS pode contribuir para o seu negócio, estabelecendo estratégias que se adequem melhor às necessidades da sua empresa.
        <br>Outros temas abordados durante o eBook são:
        <ul>
          <li>Quais os melhores canais de coleta</li>
          <li>De quanto em quanto tempo você deve medir o NPS</li>
          <li>Como o NPS pode aumentar suas vendas, reduzir custos e garantir a satisfação dos clientes</li>
          <li>O impacto que o NPS tem para o atendimento ao cliente</li>
          <li>A importância do NPS durante as etapas de pré-venda e pós-venda</li>
          <li>A relação entre NPS e Customer Success</li>
          <li>Como reter e fidelizar clientes com o NPS</li>
          <li>Como o NPS pode deter o Churn</li>
        </ul>
    </div>
  </article>

  <!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Identificação de causas-raiz</h2>
        <p>A análise do NPS ajuda a identificar as causas-raiz que determinam os resultados obtidos com a pesquisa. Para isso, é possível perguntar o motivo da nota, oferecendo um modelo de pergunta aberta para o cliente. Assim, o NPS permite que o cliente foque naquilo que foi mais relevante para sua experiência, sendo ela negativa ou positiva.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/nps-churn.png" alt="NPS - Identifique as causas raíz do problema" title="Identifique causas-raíz com a NPS">
      </div>
    </div>
  </div>
</div>
  
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/nps-causas-raiz.png" alt="NPS e Churn rate" title="NPS e churn rate">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">NPS e Churn Rate</h2>
        <p>Como o NPS ajuda a empresa a dividir seus clientes em categorias, como detratores, neutros e promotores, é possível ter uma ideia sobre quais clientes têm maior probabilidade de comprar por up e cross-selling, momentos importantes do pós-venda que geram lucros a um baixo custo. Também é possível prever quais clientes têm maior probabilidade de comporem o Churn (detratores). Assim, descobrindo quais são os clientes com maior chance de cancelar seu serviço, é possível implantar as melhores práticas relacionadas ao NPS.</p>
      </div>
    </div>
  </div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Ouça a opinião dos seus clientes</h2>
        <p>Medir o NPS e realizar pesquisas de satisfação são uma forma eficiente de obter feedback tanto de detratores, como promotores, que estão engajados com a sua marca e acompanham o seu negócio. Ouvir a opinião dos clientes para saber o que melhorar é importante e faz com que eles se engajem ainda mais, porque sentem que a opinião deles é relevante para a sua empresa.</p>              
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/nps-ouca-clientes.png" alt="NPS - Ouça seus clientes" title="Ouça a opinião dos seus clientes com a NPS">
      </div>
    </div>
  </div>
</div>