<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'como-melhorar-a-qualidade-no-atendimento-ao-cliente'"
[rd-identificador]="'prod-como-melhorar-a-qualidade-no-atendimento-ao-cliente'"
[imagem-header]="'/assets/images/lp/ebook-dicas-qualidade-atendimento/qualidade_atendimento_header.png'"
[hide-logo]="'false'"
[titulo]="'Quer garantir qualidade no atendimento ao cliente?'"
[sub-titulo]="'Descubra 17 dicas essenciais para melhorar a qualidade no atendimento ao cliente. Reduza custos, aumente as vendas e garanta a produtividade da equipe com nosso material exclusivo.'"
[alt-header]="'ebook qualidade no atendimento ao cliente'"
[titulo-form]="'Quero meu eBook grátis!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar eBook!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1484332456ebook_qualidade_atendimento.pdf'"
>
</octadesk-lp-header-com-form>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Sofrendo com problemas de atendimento?</h2>
        <p>Oferecer um atendimento de qualidade é fundamental para empresas de todos os tamanhos. Pensando nisso, montamos um eBook especialmente para você. Com nosso material, você vai ficar por dentro das melhores dicas para aumentar a qualidade no atendimento que sua empresa está oferecendo para os seus clientes e ainda terá acesso a conceitos importantes para o mundo dos negócios, como gestão de pessoas, processos e tecnologia.</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
            <i class="icon-agent-star">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span>
            </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Atenda bem seus clientes</dt>
          <dd class="od-DescriptionList-detail">Um cliente bem atendido tem muito mais chances de continuar com o seu produto/serviço e/ou indicar sua empresa para conhecidos</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-love-medal">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Garanta a satisfação</dt>
          <dd class="od-DescriptionList-detail">Um cliente insatisfeito tem mais chances de reclamar publicamente da sua marca. Influenciando, negativamente, futuros clientes</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-thumbs-up">
            <span class="path1"></span><span class="path2"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Busque recomendação</dt>
          <dd class="od-DescriptionList-detail">A opinião negativa de um cliente pode ser fator decisivo para impedir que outras pessoas contratem seu produto/serviço, antes mesmo de experimentá-lo</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-customer-lover">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Fidelize seus clientes</dt>
          <dd class="od-DescriptionList-detail">O esforço que uma empresa tem para recuperar um cliente chega a ser 10 vezes maior do que o esforço que é feito para mantê-lo.</dd>
        </dl>
      </div>
    </div>
  </div>
  </article>

  <!-- salesflow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Entenda o cliente</h2>
          <p>Não tente adivinhar o que o cliente quer, pergunte para ele! Pode parecer óbvio, mas fazer as perguntas certas custa pouco e traz informações importantíssimas sobre o que seu cliente pensa da sua empresa, marca e produto/serviço.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-qualidade-atendimento/entenda_cliente.png" alt="Entenda o seu cliente e aumente a qualidade no atendimento ao cliente" title="Entenda seu cliente e aumente a qualidade no atendimento ao cliente">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-fidelizacao-clientes/customer_success.png" alt="O bom agente melhora a qualidade no atendimento ao cliente" title="Um bom agente aumenta a qualidade no atendimento ao cliente">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Qualidades de um bom agente</h2>
        <p>O agente lida com pessoas que estão com um problema que precisa ser resolvido, portanto ele precisa manter-se calmo e tolerante quanto às solicitações do cliente para garantir o sucesso do atendimento. Qualidades como estas podem ser diretamente responsáveis pelo sucesso no relacionamento e na qualidade do atendimento ao cliente:</p>
        <ul>
          <li>Gostar de lidar com pessoas</li>
          <li>Gostar de servir, fazer o outro feliz</li>
          <li>Ser simpático</li>
          <li>Ser positivo</li>
          <li>Ter humildade</li>
          <li>Ser comprometido</li>
        </ul>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Comportamentos a serem evitados pela equipe de atendimento</h2>
        <p>Da mesma forma que existem algumas qualidades básicas, existem também erros que jamais podem ser cometidos, sob riscos que podem por todo o trabalho a perder.</p>
        <ul>
          <li>Usar palavras negativas</li>
          <li>Falar gírias</li>
          <li>Tratar o cliente com muita intimidade</li>
          <li>Errar o nome do cliente </li>
          <li>Falar mal da empresa para o cliente</li>
        </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-qualidade-atendimento/comportamentos_evitados.png" alt="Evite isso para aumentar a qualidade no atendimento ao cliente" title="Evite essas coisas para aumentar a qualidade no atendimento ao cliente">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-qualidade-atendimento/problemas_irritam.png" alt="Veja os problemas que irritam o cliente e diminuem a qualidade no atendimento ao cliente" title="Problemas que diminuem a qualidade no atendimento ao cliente">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Problemas que irritam o cliente</h2>
        <ul>
          <li>Postura pouco profissional</li>
          <li>Não posicionar o cliente sobre o que está ocorrendo, deixar o cliente no escuro</li>
          <li>Estar desinformado, não resgatar o histórico de atendimento e identificar o que estava ocorrendo</li>
          <li>Não resolver o problema no primeiro contato</li>
          <li>Não fazer follow-up pró-ativo do problema com o cliente, pedir para ele entrar em contato novamente com a central</li>
          <li>Não passar do prazo para resolução do problema</li>
        </ul>
      </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Ética no atendimento</h2>
        <p>Qualidade no atendimento ao cliente vai além da resolução de problemas: ela passa por assuntos como respeito e ética, e este detalhe não pode ser negligenciado. Os comportamentos a seguir podem não afetar o resultado do atendimento em si, mas podem ser tão danosos à imagem da empresa quanto um ticket não-solucionado:</p>
        <ul>
          <li>Agir com intimidade forçada com o cliente</li>
          <li>Receber presentes do cliente em troca de serviços</li>
          <li>Fazer críticas de outros setores na frente do cliente</li>
          <li>Falar mal de pessoas na frente do cliente</li>
          <li>Usar o cliente para desabafo</li>
          <li>Reclamar, lamentar, colocar problemas salariais, etc.</li>
        </ul>
        <p>Erros como estes podem ser fatais para a imagem da empresa, por isso devem ser corrigidos imediatamente antes que tomem grandes proporções.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-qualidade-atendimento/etica_atendimento.png" alt="Ética no atendimento aumenta a qualidade no atendimento ao cliente" title="aumente a qualidade no atendimento ao cliente com ética">
      </div>
    </div>
  </div>
</div>
<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-qualidade-atendimento/todos_lugares.png" alt="Atendimento omnichannel aumenta a qualidade no atendimento ao cliente" title="Atendimento omnichannel aumenta a qualidade no atendimento ao cliente">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Esteja em todos os lugares</h2>
        <p>O cliente hoje está nas redes socais, em seu site, no telefone, em todo lugar, de modo que você também precisa estar. Recentemente, um conceito vem sendo muito mencionado, o “omnichannel”, trazendo a ideia de que os canais devem ser complementares, permitindo um serviço de atendimento abrangente, eficaz e prestativo e que garante ao cliente a satisfação de resolver tudo o que precisa sem dificuldade, onde quer que esteja. <br>Mas lembre-se: o segredo não está em simplesmente disponibilizar o canal, mas em ser efetivo em cada um deles. De nada adianta propor um atendimento por um determinado canal sem que você possa dar soluções através dele. Mais uma vez, um sistema unificado de atendimento é a chave para gerenciar suas atividades em todos os canais, provendo uma experiência de atendimento consistente.</p>
      </div>
  </div>
</div>

  <!-- resume -->
<article class="od-Wrapper u-bgLightGray">
  <div class="container">
    <h2 class="h1 u-fontThin">Resumo</h2>
    <p>Nesse e-book, te oferecemos 17 dicas essenciais para você melhorar a qualidade no atendimento ao cliente. Seguindo as dicas que separamos, você conseguirá superar as expectativas dele e entregar uma experiência fluída e completa para ele. Além disso, você irá aprender algumas premissas básicas para oferecer um atendimento de qualidade para o cliente, como:</p>
    <ul>
      <li><b>Atenção:</b> esteja sempre atento ao que o cliente fala e solicita</li>
      <li><b>Gentileza:</b> seja sempre gentil com o cliente, independentemente da postura dele</li>
      <li><b>Competência:</b> ganhe a confiança do cliente demonstrando profundo conhecimento sobre o problema</li>
      <li><b>Agilidade:</b> foque em resolver o problema do cliente o mais rápido possível</li>
      <li><b>Compromisso:</b> esteja comprometido em resolver o problema do cliente</li>
      <li><b>Precisão:</b> tome decisões certeiras e seja preciso nas informações que serão passadas</li>
      <li><b>Sinceridade:</b> seja sincero com o cliente, exponha a real situação</li>
      <li><b>Transparência:</b> mantenha o cliente sempre informado a respeito do que está ocorrendo</li>
      <li><b>Informação:</b> passe somente as informações necessárias, não confunda o cliente</li>
      <li><b>Consistência:</b> padronize o seu atendimento, seja consistente em suas respostas</li>
      <li><b>Empatia:</b> coloque-se no lugar do cliente, atendendo como você gostaria de ser atendido</li>
      <li><b>Flexibilidade:</b> siga as normas e procedimentos, mas caso se faça necessário, busque caminhos alternativos para resolver o problema</li>
      <li><b>Credibilidade:</b> passe o máximo possível de confiança para o cliente</li>
    </ul>
    <p>Esperamos que você aproveite nosso material e consiga aplicar nossas dicas no dia-a-dia da sua empresa para melhorar o qualidade no atendimento ao cliente.</p>
  </div>
</article>