<form [id]="GtmFormIdentificator" [formGroup]="form" (ngSubmit)="onSubmit($event)" class="om-OctadeskModal-form" autocomplete="off" novalidate>
    <input name="token_rdstation" type="hidden" />
    <input name="identificador" type="hidden" />

	<utm-hidden-fields></utm-hidden-fields>

    <fieldset class="om-OctadeskModal-form-fieldset" [ngClass]="{'has-success': hasSuccess.name, 'has-danger': hasDanger.name}">
        <label class="om-OctadeskModal-form-label">Nome</label>
        <input
			type="text"
			class="om-OctadeskModal-form-field mb-4"
			formControlName="nome"
			placeholder="Nome"
			[(ngModel)]="name"
			(blur)="validateName($event)"
			tabindex="1"
			required
			autofocus
		/>
		<div class="om-OctadeskModal-form-feedback-absolute" *ngIf="hasDanger.name">O campo "Nome" precisa ser preenchido.</div>
    </fieldset>
      <fieldset class="om-OctadeskModal-form-fieldset" [ngClass]="{'has-success': hasSuccess.email, 'has-warning': hasWarning.email, 'has-danger': hasDanger.email}">
        <label class="om-OctadeskModal-form-label">E-mail Comercial</label>
        <input
			type="email"
			class="om-OctadeskModal-form-field mb-4"
			formControlName="email"
			placeholder="E-mail Comercial"
			[(ngModel)]="email"
			(blur)="validateEmail($event)"
			tabindex="2"
			requiredgit
		/>
		<div class="om-OctadeskModal-form-feedback-absolute" *ngIf="hasDanger.email">E-mail inválido. Verifique e digite novamente.</div>
		<div class="om-OctadeskModal-form-feedback-absolute" *ngIf="hasWarning.email">Sugerimos a utilização de um e-mail corporativo.</div>
    </fieldset>
    <fieldset class="om-OctadeskModal-form-fieldset" [ngClass]="{'has-success': hasSuccess.phone, 'has-danger': hasDanger.phone}">
        <label class="om-OctadeskModal-form-label">Telefone</label>
        <input
			type="text"
			class="om-OctadeskModal-form-field mb-4 hidden-md-down"
			formControlName="telefone"
			placeholder="Telefone"
			minlength="14"
			maxlength="15"
			[(ngModel)]="phone"
			(blur)="validatePhone()"
			tabindex="3"
			phone-mask
			required
		/>
		<input
			type="tel"
			class="om-OctadeskModal-form-field mb-4  hidden-lg-up"
			formControlName="telefone"
			placeholder="Telefone"
			minlength="14"
			maxlength="15"
			[(ngModel)]="phone"
			(blur)="validatePhone()"
			tabindex="3"
			phone-mask
			required
		/>
		<div class="om-OctadeskModal-form-feedback-absolute" *ngIf="hasDanger.phone">Número de telefone inválido. Verifique e digite novamente.</div>
    </fieldset>
   <fieldset class="om-OctadeskModal-form-fieldset" [ngClass]="{'has-success': hasSuccess.company, 'has-danger': hasDanger.company}">
        <label class="om-OctadeskModal-form-label">Empresa</label>
        <input
			type="text"
			class="om-OctadeskModal-form-field mb-4"
			formControlName="empresa"
			placeholder="Empresa"
			[(ngModel)]="company"
			(blur)="validateCompany($event)"
			tabindex="4"
			required
		/>
		<div class="om-OctadeskModal-form-feedback-absolute" *ngIf="hasDanger.company">O campo "Empresa" precisa ser preenchido.</div>
    </fieldset>

    <fieldset class="om-OctadeskModal-form-fieldset">
        <button
			type="submit"
			class="om-OctadeskModal-form-button mb-1"
			name="submit"
			[value]="SubmitText">
			{{SubmitText}}
		</button>
    </fieldset>
</form>
