<img src="/assets/images/materials/imagem_infografico_Pessoas.png" alt="infografico pessoas" width="100%">
<h4>Infográfico</h4>
<h4 class="u-fontThin">Gestão de Pessoas - O pilar mais importante para um bom atendimento</h4>
<button type="button" gtm-identificator="ebook-pessoas" (click)="downloadInfograficoModal()" class="mt-1 btn btn-warning cursor-pointer">Baixar infográfico</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1499117908infografico_gestao-de-pessoas.pdf'"
  [gtm-form-id]="'infografico-pessoas'"
  [rd-identificator]="'lp-gestao-de-pessoas-infografico'"
  [modal-title]="'Pessoas o pilar mais importante de um bom atendimento'"
  [modal-submit-text]="'Baixar Infográfico'">
</octadesk-form-modal>

