<div class="container od-Ebook">
	<div class="row d-flex align-items-center">
		<div class="col-md-6 text-center">
			<img class="od-Ebook-image od-Ebook-image--size" src="/assets/images/materials/imagem_ebook_satisfacao_agradecimento.png" alt="7 dicas poderosas para fidelizar seus clientes" title="7 dicas poderosas para fidelizar seus clientes">
		</div>
		<div class="col-md-6 flex-first flex-md-last text-center text-md-left">
			<h2 class="od-Ebook-title"><span class="u-fontThin">Veja 7 dicas poderosas </span> <br>para fidelizar seus clientes</h2>
			<button class="btn btn-warning my-1" gtm-identificator="download-ebook-home-content cursor-pointer" (click)="downloadEbookModal()">Baixar ebook</button>
      <octadesk-form-modal
        [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1495718829ebook-7-dicas-poderosas-para-fidelizar-seus-clientes.pdf?utm_source=site&utm_medium=button-site&utm_term=pagina-materiais&utm_content=lightbox&utm_campaign=Atendimento'"
        [gtm-form-id]="'download-ebook-home-content'"
        [rd-identificator]="'site-materiais-ebook-do-inferno-ao-ceu'"
        [modal-title]="'7 dicas poderosas para fidelizar seus clientes'"
        [modal-submit-text]="'Baixar Ebook'">
      </octadesk-form-modal>
		</div>
	</div>
</div>

