<article class="od-Wrapper od-BgUnderstandYourService" [ngClass]="bgColorClass">
	<div class="container od-UnderstandYourService"> 
		<div class="row">
			<div class="col text-center">
				<h2 class="h1 u-fontThin">{{Title}}</h2>
				<p>{{SubTitle}}</p>
				<img class="od-UnderstandYourService-image" src="/assets/images/features/octadesk-dashboard.png" alt="{{imgAlt1}}" title="Computador na tela dashboard do octadesk">
			</div>
		</div>
	</div>
</article>
<article class="od-Wrapper" [ngClass]="bgItensColor">
	<div class="container od-YourMetricServices">
		<div class="row">
			<div class="col-xl-4 mt-2">
				<div class="row d-flex align-items-center">
					<div class="col-sm-7 col-md-6 col-lg-5 col-xl-12">
						<img class="od-YourMetricServices-image mb-1" src="/assets/images/features/metricas-sla.png" alt="{{imgAlt2}}"
							title="Prazo de resolução (SLA)">
					</div>
					<div class="col-sm-5 col-md-6 col-lg-7 col-xl-12">
						<h3 class="u-fontThin">{{titleItenOne}}</h3>
						<p>{{contentItenOne}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 mt-2">
				<div class="row d-flex align-items-center">
					<div class="col-sm-7 col-md-6 col-lg-5 col-xl-12">
						<img class="od-YourMetricServices-image mb-1" src="/assets/images/features/metricas-relatorios.png" alt="{{imgAlt3}}"
							title="Métricas do seu atendimento">
					</div>
					<div class="col-sm-5 col-md-6 col-lg-7 col-xl-12">
						<h3 class="u-fontThin">{{titleItenTwo}}</h3>
						<p>{{contentItenTwo}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 mt-2">
				<div class="row d-flex align-items-center">
					<div class="col-sm-7 col-md-6 col-lg-5 col-xl-12">
						<img class="od-YourMetricServices-image mb-1" src="/assets/images/features/metricas-satisfacao.png" alt="{{imgAlt4}}"
							title="Satisfação do seu cliente">
					</div>
					<div class="col-sm-5 col-md-6 col-lg-7 col-xl-12">
						<h3 class="u-fontThin">{{titleItenThree}}</h3>
						<p>{{contentItenThree}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
