<div class="container od-Customers">
	 <ul class="row flex-items-center od-ListType">
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img class="od-Customers-image--size" src="/assets/images/customers/ald-automotive.png" alt="ALD Automotive" title="ALD Automotive">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img class="od-Customers-image--size" src="/assets/images/customers/castelatto.png" alt="Castelatto" title="Castelatto">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img class="od-Customers-image--size" src="/assets/images/customers/nita-alimentos.png" alt="Nita Alimentos" title="Nita Alimentos">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img class="od-Customers-image--size" src="/assets/images/customers/plano-e-plano.png" alt="Plano & Plano" title="Plano & Plano">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img class="od-Customers-image--size" src="/assets/images/customers/roge.png" alt="Roge" title="Roge">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img class="od-Customers-image--size" src="/assets/images/customers/zambon.png" alt="Zambon" title="Zambon">
		</li>
	</ul>
</div>
