<img src="/assets/images/materials/imagem_infografico_Satisfacao_processos.png" alt="infografico satisfacao processos" width="100%">
<h4>Infográfico</h4>
<h4 class="u-fontThin">Gestão de processos no atendimento ao cliente</h4>
<button type="button" gtm-identificator="ebook-pessoas" (click)="openModal()" class="mt-1 btn btn-warning cursor-pointer">Baixar infográfico</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1500327474infografico_gestao_de_processos_atendimento_ao_cliente.pdf'"
  [gtm-form-id]="'infografico-processos'"
  [rd-identificator]="'lp-gestao-de-processos-info'"
  [modal-title]="'Gestão de processos no atendimento ao cliente'"
  [modal-submit-text]="'Baixar Infográfico'">
</octadesk-form-modal>


