<div class="container u-alignCenter od-Cases">
	<p class="h3 d-block u-alignCenter-item u-cta od-Cases-text u-fontThin">
		Conheça nossos casos de sucesso e veja como podemos melhorar suas operações de atendimento.
	</p>
	<div class="u-alignCenter-item u-cta od-Cases-actions mt-1">
		<a role="button" gtm-identificator="transforme-seu-projeto-em-caso-de-sucesso-content" class="btn btn-warning" [routerLink]="['/casos-de-sucesso/sistema-de-atendimento']">
			Transforme<span class="hidden-sm-up">-se</span> <span class="hidden-xs-down">seu projeto</span> em um caso de sucesso
		</a>
	</div>
</div>
