<div class="container u-alignCenter octa-FreeTrial text-white">
	<p class="h3 u-alignCenter-item u-cta u-fontThin octa-FreeTrial-text">
		Descubra como um sistema de chamados pode melhorar o seu atendimento.
	</p>
	<div class="u-alignCenter-item u-cta od-SaleOff-actions mt-1">
		<button type="button" gtm-identificator="agendar-demonstracao-content" class="btn od-ButtonOutline--lighten" (click)="open()">
			Agendar demonstração <i class="icon-next"></i>
		</button>
		<octadesk-contact-modal [gtm-form-id]="'agendar-demonstracao-content'" [rd-identificator]="'site-modal-demo-suporte'"></octadesk-contact-modal>

	</div>
</div>
