<article class="u-bgPurple hide-overflow">
  <div class="container u-alignCenter od-EsperandoOque text-white">

  <div class="row">
    <div class="col-md-12 col-lg-3 m-auto od-EsperandoOque-content">
      <h3 class="text-left u-fontThin"> {{Titulo}}</h3>
      <p class="text-left mt-1 u-font-size-sm u-fontThin text-white">
        {{SubTitulo}}
      </p>

      <button type="button" (click)="openTrialModal()" class="btn btn-success font-size-default cursor-pointer float-left">{{ TextoBtn }}</button>
      <try-octadesk-modal [gtm-form-id]="GtmFormId" [rd-identificator]="RdIdentificator"></try-octadesk-modal>
    </div>
    <div class="col-md-9 hidden-md-down">
        <img src="/assets/images/img_cta.png">
    </div>

  </div>
  </div>

</article>
