<div class="container u-alignCenter octa-FreeTrial text-white">
	<p class="h3 u-alignCenter-item u-cta u-fontThin octa-FreeTrial-text">
		Descomplique o seu atendimento, torne a vida do seu cliente mais fácil.
	</p>
	<div class="u-alignCenter-item u-cta od-SaleOff-actions">
		<button type="button" class="btn od-ButtonOutline--lighten" gtm-identificator="experimente-gratis-content" (click)="openTrialModal()">
			Avalie grátis <i class="icon-next"></i>
		</button>
		<try-octadesk-modal [gtm-form-id]="'experimente-gratis-content'" [rd-identificator]="'form-trial-experimente-o-octadesk'"></try-octadesk-modal>
		<!--<a class="btn od-ButtonOutline--lighten" href="http://setup.octadesk.com/create-account">
			Avalie grátis <i class="icon-next"></i>
		</a>-->
	</div>
</div>
