<div class="container od-Customers">
	<ul class="row d-flex align-items-center od-ListType">
		<li class="col-12 col-xl text-center od-ListType-item">
			<p class="mb-0">Mencionado na mídia:</p>
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img src="../../assets/images/midia-mentions/exame.png" alt="Exame" title="Exame">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img src="../../assets/images/midia-mentions/PEGN.png" alt="PequenasEmpresas e Grandes Negocios" title="PequenasEmpresas e Grandes Negocios">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img src="../../assets/images/midia-mentions/gestao_negocios.png" alt="Gestão Negocios" title="Gestão Negocios">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img src="../../assets/images/midia-mentions/startse.png" alt="StartSe" title="StartSe">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img src="../../assets/images/midia-mentions/administradores.png" alt="Administradores" title="Administradores">
		</li>
		<li class="col-6 col-md-4 col-xl text-center od-ListType-item">
			<img src="../../assets/images/midia-mentions/jornal_band.png" alt="Jornal da Band" title="Jornal da Band">
		</li>
	</ul>
</div>
