<meta property="robots" content="noindex, follow"/>
<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'lp-ad-sistema-atendimento-cliente'"
[rd-identificador]="'lp-ad-sistema-atendimento-cliente'"
[imagem-header]="' /assets/images/header-lp-img.png'"
[titulo]="'Procurando por um sistema de atendimento ao cliente que resolva os problemas do seu atendimento?'"
[sub-titulo]="'O Octadesk é um sistema de atendimento ao cliente simples e eficiente que ajuda empresas de todos os tamanhos a controlar e organizar o atendimento, reduzindo custos e melhorando a produtividade de suas equipes'"
[alt-header]="'Sistema de atendimento ao cliente Octadesk'"
[titulo-form]="'Rápido. Eficiente. Fácil de usar.'"
[subtitulo-form]="'Não perca mais tempo: conheça o Octadesk'"
[texto-submit]="'Experimente grátis!'"
[under-cta]="'Pode ficar tranquilo, não pedimos cartão de crédito.'"
></octadesk-lp-header-com-form>

<!--- testimonials -->
<octadesk-partimonials
  [texto-citacao]="'O Octadesk consegue agregar todas as informações da empresa necessárias para um atendimento personalizado de forma que o cliente se sinta conhecido e especial desde o primeiro momento.'"
  [pessoa-thumb-url]="'/assets/images/customers/rodrigo-von.png'"
  [pessoa-nome]="'Rodrigo Von'"
  [pessoa-cargo]="'Sócio Diretor - Plano & Plano incorporações'"
  [empresa1-thumb-url]="'/assets/images/customers/puket.png'"
  [empresa2-thumb-url]="'/assets/images/customers/tacobell.png'"
  [empresa3-thumb-url]="'/assets/images/customers/nita-alimentos.png'"
  >
</octadesk-partimonials>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Clientes insatisfeitos? Custos elevados? Baixa produtividade?</h2>
        <p>Descubra como o sistema de atendimento ao cliente da Octadesk pode ajudar sua empresa</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
            <i class="icon-multi-elements">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span>
            </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Centralize seus canais</dt>
          <dd class="od-DescriptionList-detail">Atenda o seu cliente onde e como ele quiser: centralize todos os seus canais de comunicação em um único sistema de atendimento ao cliente.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-pizza-chart">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Controle e organize seu atendimento</dt>
          <dd class="od-DescriptionList-detail">Categorize e priorize as solicitações: descubra a causa raiz dos problemas utilizando relatórios personalizados.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
            <i class="icon-pig-safe-coin"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Reduza seus custos operacionais</dt>
          <dd class="od-DescriptionList-detail">Evite gastos desnecessários: padronize suas respostas e reduza a quantidade de chamados com autoatendimento.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-chart-up"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Melhore sua produtividade</dt>
          <dd class="od-DescriptionList-detail">Ganhe escala e produtividade: conheça os gatilhos, automações de fluxos (workflow) e visualizações personalizadas do nosso sistema de atendimento ao cliente.</dd>
        </dl>
      </div>
    </div>
  </div>
  </article>


<!-- sales flow -->
<div class="u-bgLightGray">
<div class="container od-SalesFlow">
<div class="row d-flex align-items-center">
  <div class="col-12 col-md">
    <h2 class="u-fontThin">Quais são os benefícios de<br>investir no Octadesk?</h2>
    <ul class="od-ListType mt-2">
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Aumento de vendas</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Redução de custos</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Clientes mais satisfeitos</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Ganho de escala e produtividade</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Atendimento como diferencial competitivo</li>
    </ul>
  </div>
  <div class="col-12 col-md flex-first flex-md-last text-center">
    <img class="od-SalesFlow-image" src="/assets/images/lp/campanhas/beneficios-octadesk.png" alt="Impactos na empresa que não utiliza um sistema de atendimento ao cliente" title="Impactos em não utilizar um sistema de atendimento ao cliente">
  </div>
</div>
</div>
</div>

<div class="od-Wrapper">
<div class="container od-SalesFlow">    
<div class="row d-flex align-items-center">
  <div class="col-12 col-md text-center">
    <img class="od-SalesFlow-image" src="/assets/images/lp/campanhas/problemas-help-desk-resolve.png" alt="Problemas em não ter um sistema de atendimento ao cliente" title="Problemas ao não utilizar um sistema de atendimento ao cliente">
  </div>
  <div class="col-12 col-md">
    <h2 class="u-fontThin">Quais problemas um sistema de atendimento<br>ao cliente ajuda a resolver?</h2>
    <ul class="od-ListType mt-2">
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Atendimento impreciso, desorganizado e sem controle</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Ineficiência da comunicação entre colaboradores e clientes</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Alto volume de solicitações não atendidas dentro dos prazos acordados</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Descentralização de canais e de histórico de atendimento</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Falta de padrão no atendimento</li>
    </ul>
  </div>
</div>
</div>
</div>

<div class="od-Wrapper u-bgLightGray">
<div class="container od-SalesFlow">
<div class="row d-flex align-items-center">
  <div class="col-12 col-md">
    <h2 class="u-fontThin">Qual o impacto de não ter um sistema de<br>atendimento ao cliente bem estruturado?</h2>
    <ul class="od-ListType mt-2">
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Falta de transparência, credibilidade e perda de clientes</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Queda de produtividade, qualidade e eficiência da equipe</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Aumento de retrabalho, custos e insatisfação dos clientes</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Atendimento lento, desestruturado e sem profissionalismo</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Perda de oportunidade de vendas</li>
    </ul>
  </div>
  <div class="col-12 col-md flex-first flex-md-last text-center">
    <img class="od-SalesFlow-image" src="/assets/images/lp/campanhas/help-desk-desestruturado.png" alt="Benefícios de um sistema de atendimento ao cliente" title="Vantagens em utilizar um sistema de atendimento ao cliente">
  </div>
</div>
</div>
</div>

<div class="od-Wrapper">
<div class="container od-SalesFlow">
<div class="row d-flex align-items-center">
  <div class="col-12 col-md text-center">
    <img class="od-SalesFlow-image" src="/assets/images/lp/campanhas/resolver-problemas-octadesk.png" alt="Canais em um sistema de atendimento ao cliente" title="Canais de um sistema de atendimento ao cliente">
  </div>
  <div class="col-12 col-md">
    <h2 class="u-fontThin">Como resolver os problemas de<br> atendimento com o Octadesk?</h2>
    <ul class="od-ListType mt-2">
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Organize, classifique e priorize os chamados com nosso módulo de controle de tickets</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Atenda por múltiplos canais, centralize as conversas e o histórico em um único lugar</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Acompanhe o desempenho da sua equipe e a satisfação dos seus clientes</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Padronize e automatize as tarefas do dia a dia, tornando sua equipe mais produtiva</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Torne a vida do seu cliente mais fácil com nossos módulos de autoatendimento</li>
    </ul>
  </div>
</div>
</div>
</div>

<octadesk-cta-esperando-oque
[gtm-form-id]="'lp-ad-sistema-atendimento-cliente'"
[rd-identificador]="'lp-ad-sistema-atendimento-cliente'"
[titulo]="'Está esperando o que?'"
[sub-titulo]="' Garanta, agora, a eficiência do seu atendimento
e tenha resultados surpreendentes'"
[texto-btn]="'EXPERIMENTE GRÁTIS'"
></octadesk-cta-esperando-oque>

<octadesk-lps-footer></octadesk-lps-footer>