<div class="container u-alignCenter od-ManyMoreFeatures">
	<p class="h3 u-alignCenter-item u-cta od-ManyMoreFeatures-text">
		<span class="u-fontThin text-white">O Octadesk tem isso e muito mais!</span>
	</p>
	<div class="u-alignCenter-item u-cta od-ManyMoreFeatures-actions">
		<a role="button" gtm-identificator="conheca-nossas-funcionalidades-content" class="btn btn-warning" [routerLink]="['/funcionalidades/atendimento-ao-cliente']">
			Conheça nossas funcionalidades <i class="icon-next"></i>
		</a>
	</div>
</div>
