<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'lp-jornada-do-cliente-agendor'"
[rd-identificador]="'prod-lp-jornada-do-cliente-agendor'"
[imagem-header]="'/assets/images/lp/ebook-sucesso-jornada/ebook_jornada_header.png'"
[hide-logo]="'false'"
[titulo]="'Quer ter sucesso na jornada do cliente?'"
[sub-titulo]="'Descubra dicas essenciais para melhorar a jornada do cliente, sem perder a qualidade de atendimento. Reduza custos, aumente as vendas e garanta a satisfação dos seus clientes com nosso material exclusivo.'"
[alt-header]="'Jornada do cliente - sucesso do pré vendas ao pós vendas'"
[titulo-form]="'Quero meu eBook grátis!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar eBook!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1500650099ebook_jornada_cliente.pdf'"
>
</octadesk-lp-header-com-form>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Sofrendo com clientes insatisfeitos?</h2>
        <p>A Octadesk, em parceria com a Agendor, montou um eBook completo sobre a jornada do cliente. Com nosso material, você vai ficar por dentro das melhores dicas para aumentar a qualidade da experiência que sua empresa está oferecendo para os seus clientes e ainda terá acesso a conceitos importantes, como persona, touchpoints, Customer Success e muitos outros! Está preparado para embarcar nessa jornada?</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
            <i class="icon-color-money-bag">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
            </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Aumento de vendas</dt>
          <dd class="od-DescriptionList-detail">Entregar uma excelente experiência de atendimento para os clientes é, sem dúvida, um dos principais fatores que impulsionam as vendas.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-blackboard-charts">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Organização e controle</dt>
          <dd class="od-DescriptionList-detail">Conhecendo bem seu cliente, você consegue ter maior organização e controle. Assim, você pode estabelecer estrategias mais efetivas de atendimento.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-color-pig-safe-money">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Redução de custos</dt>
          <dd class="od-DescriptionList-detail">Ao planejar a jornada do cliente, você não perde tempo com processos desorganizados e desnecessários, reduzindo custos de operação.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-customer-lover">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Satisfação dos clientes</dt>
          <dd class="od-DescriptionList-detail">Ao mapear e otimizar a jornada do cliente, você oferece uma experiência mais fluida e personalizada aos seus consumidores, garantindo a satisfação deles.</dd>
        </dl>
      </div>
    </div>
  </div>
  </article>

<!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">O que é a jornada do cliente?</h2>
        <p>A jornada do cliente corresponde à trajetória que ele percorre junto a sua empresa, desde a pré-venda até o pós-venda.</p>
        <p>Para atender às expectativas do consumidor, as empresas precisam se adaptar às novas realidades e manter a qualidade do relacionamento com os clientes durante toda a jornada. Mesmo quando o produto é de boa qualidade, se a experiência do cliente junto à marca não é positiva, no final, a satisfação fica comprometida. Para tornar a jornada mais completa, é necessário fazer um mapeamento dela. Assim, você consegue ter uma visão mais ampla sobre o que está oferecendo, o que seus clientes esperam e quais são as oportunidades e pontos de melhoria.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-sucesso-jornada/o_que_jornada_cliente.png" alt="O que é a Jornada do cliente?" title="O que é a Jornada do cliente?">
      </div>
    </div>
  </div>
</div>
    
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-sucesso-jornada/porque_monitorar.png" alt="Monitorar a jornada do cliente" title="Monitorar a jornada do cliente">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Por que monitorar a jornada do cliente?</h2>
        <p>Ao monitorar o ciclo de vida do seu cliente, você consegue entender seus desejos, motivações, medos e anseios, oferecendo produtos e serviços personalizados com base nos dados coletados.</p>
        <p>Quando você não monitora a jornada do seu cliente, você corre o risco de oferecer um atendimento incompleto, que não supre as necessidades do consumidor.</p>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Como mapear a jornada do cliente?</h2>
        <p>Existem diversos modelos de mapa, mas, sugerimos que ele conte com alguns dados sobre seus clientes, como:</p>
        <ul>
          <li>Quais as motivações que eles têm para procurarem sua empresa</li>
          <li>Quais suas principais dores</li>
          <li>O que eles sentem ao entrar em contato com sua marca</li>
          <li>Quais seus hábitos de compra</li>
          <li>Quão familiarizados estão com o mundo digital (internet, celular, etc.)</li>
          <li>Quais canais mais utilizam</li>
          <li>Quantos chamados foram abertos por eles</li>
          <li>Quais suas principais dúvidas</li>
          <li>Por quais produtos e serviços se interessaram</li>
        </ul>
        <p>Também é importante mapear todos os pontos de contatos (touchpoints) que o cliente tem com sua empresa. Os touchpoints são essenciais para que você entenda melhor o seu cliente, por isso, no nosso eBook, destinamos um tópico inteiro para esse conceito.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-sucesso-jornada/como_mapear.png" alt="Como mapear a jornada do cliente?" title="Como mapear a jornada do cliente?">
      </div>
    </div>
  </div>
</div>

<!-- resume -->
<article class="od-Wrapper u-bgWhite">
  <div class="container">
    <h2 class="h1 u-fontThin">Métricas da Jornada do Cliente</h2>
    <p>Quando falamos em metas, logo pensamos em objetivos e alinhamento estratégico. Para garantir que o seu cliente tenha uma ótima jornada, você deve estabelecer métricas tanto para sua equipe de atendimento e de vendas, como para cada funcionário da empresa.</p>
  </div>
</article>

<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-sucesso-jornada/metricas_marketing.png" alt="Métricas da jornada do cliente" title="Métricas da jornada do cliente">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Métricas de Marketing</h2>
        <ul>
          <li>Visitantes únicos (site, blog e landing pages)</li>
          <li>Taxa de desistência (Bounce)</li>
          <li>Taxa de conversão</li>
          <li>Número de leads</li>
          <li>Eficiência dos canais de aquisição</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Métricas de qualidade do atendimento</h2>
        <ul>
          <li>Volume total de tickets e conversas no mês</li>
          <li>Volume de tickets pendentes</li>
          <li>Quantidade de chamados em aberto</li>
          <li>Volume de chamados resolvidos</li>
          <li>Nível de satisfação dos clientes em relação aos atendimentos realizados</li>
          <li>Tempo médio de atendimento</li>
          <li>Tempo médio de primeira resposta</li>
          <li>Quantidade média de interação por atendimento</li>
          <li>Quantidade de clientes atendidos no mês</li>
        </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-sucesso-jornada/metricas_atendimento.png" alt="Jornada do cliente - métricas de marketing" title="Jornada do cliente - métricas de marketing">
      </div>
    </div>
  </div>
</div>
    
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-sucesso-jornada/metricas_vendas.png" alt="Jornada do cliente - métricas de atendimento ao cliente" title="Jornada do cliente - métricas de atendimento ao cliente">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Métricas de vendas</h2>
        <ul>
          <li>Número de oportunidades</li>
          <li>Taxa de conversão de clientes</li>
          <li>Ticket médio</li>
          <li>Ciclo de vendas</li>
          <li>LTV (lifetime value) - tempo de vida do cliente junto à empresa</li>
          <li>CAC (Cost to Acquire Customers) - custo de aquisição de clientes</li>
          <li>MRR - Receita recorrente mensal</li>
          <li>ARR - Receita recorrente anual</li>
          <li>Receita de serviços</li>
          <li>Receita de expansão</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Métricas para Satisfação do cliente</h2>
          <ul>
            <li>CES (Customer Effort Score)</li>
            <li>CSAT (Customer Satisfaction)</li>
            <li>NPS (Net Promoter Score)</li>
            <li>CHURN RATE</li>
          </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-sucesso-jornada/metricas_satisfacao_cliente.png" alt="Jornada do cliente - métricas de vendas" title="Jornada do cliente - métricas de vendas">
      </div>
    </div>
  </div>
</div>

<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-sucesso-jornada/metricas_engajamento.png" alt="Jornada do cliente - métricas de satisfação de clientes" title="Jornada do cliente - métricas de satisfação de clientes">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Métricas de engajamento e interesse dos clientes</h2>
        <ul>
          <li>Quantidade de materiais baixados </li>
          <li>Quantos e-mails abriu</li>
          <li>Quantos artigos visualizou</li>
          <li>Qual a frequência em que ele visita o site/blog</li>
          <li>Interações em redes sociais</li>
          <li>Respostas de e-mails</li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <!-- resume -->
<article class="od-Wrapper u-bgWhite">
  <div class="container">
    <h2 class="h1 u-fontThin">Resumo</h2>
    <p>Nesse e-book, vamos te mostrar como é importante investir na jornada dos seus clientes e o que você deve fazer para oferecer uma melhor experiência a eles, buscando torná-los fiéis a sua marca. Você vai aprender o que é a jornada do cliente, como mapeá-la e por que monitorá-la. Vamos te apresentar o conceito de persona e mostraremos por que ele é fundamental para o processo de mapeamento da jornada. Também vamos te explicar em que consiste cada uma das etapas que compõem a jornada do cliente e quais métricas devem ser aplicadas em cada uma delas. Por fim, vamos te mostrar qual a importância da integração entre os times de marketing, vendas e atendimento para garantir uma jornada do cliente mais completa e fluida.</p>
  </div>
</article>