	<article class="od-Wrapper u-o-hidden u-bgWhite">
		<div class="container od-RespondQuickly">
			<div class="row d-flex align-items-center">
				<div class="col-md-12 text-center col-lg">
					<img class="od-RespondQuickly-image" src="/assets/images/features/tela-ticket.png" alt="Tela de ticket" title="Tela de ticket">
				</div>
				<div class="col-md-12 col-lg u-md-spacerTop">
					<h2 class="h1 u-fontThin">
						{{title}}
					</h2>
					<p class="mt-3"><strong>{{subTitle}}</strong></p>
					<ul class="mt-3">
						<li>{{topicOne}}</li>
						<li>{{topicTwo}}</li>
						<li>{{topicThree}}</li>
					</ul>
					<button type="button" [routerLink]="['/sistema-de-chamados']" class="btn btn-outline-info float-left cursor-pointer">
						Saiba mais <i class="icon-next"></i>
					</button>
				</div>
			</div>
		</div>
	</article>