<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'lp-info-marketing-de-retencao'"
[rd-identificador]="'prod-lp-info-marketing-de-retencao'"
[imagem-header]="'/assets/images/lp/info-fidelizacao-clientes/infografico-fidelizacao-clientes.png'"
[hide-logo]="'false'"
[titulo]="'Quer investir em fidelização de clientes?'"
[sub-titulo]="'Saiba como o marketing de retenção tem papel fundamental para a fidelização de clientes, trazendo aumento das vendas, redução de custos e recomendação para sua empresa.'"
[alt-header]="'Infográfico de retenção e fidelização de clientes'"
[titulo-form]="'Quero meu infográfico agora!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar infográfico grátis!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1503409367infografico-marketing-de-rentencao.pdf'"
>
</octadesk-lp-header-com-form>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Já conhece o marketing de retenção?</h2>
        <p>O consumidor moderno está cada vez mais exigente e, com o aumento da concorrência, ele tem muitas opções para onde correr se não estiver satisfeito com o atendimento que recebe. Assim, para se diferenciar e ser a primeira opção do cliente, é preciso investir em iniciativas de fidelização e retenção de clientes. Pensando nisso, montamos um infográfico exclusivo sobre marketing de retenção e fidelização de clientes. Confira nosso material!</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-chart-up2">
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Rentabilidade</dt>
          <dd class="od-DescriptionList-detail">Um cliente que compra sempre é um cliente mais rentável para a empresa a longo prazo.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-color-money-bag">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Economia</dt>
          <dd class="od-DescriptionList-detail">Os custos para promoções e publicidade para os clientes já conquistados são muito menores do que para impactar novos clientes.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-happy-balloon">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Recomendação</dt>
          <dd class="od-DescriptionList-detail">Um cliente satisfeito costuma indicar e recomendar os produtos e serviços para outras pessoas.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-color-pig-safe-money">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Aumento de lucros</dt>
          <dd class="od-DescriptionList-detail">Um cliente fiel está disposto a pagar mais por seus produtos e serviços.</dd>
        </dl>
      </div>
    </div>
  </div>
</article>

<!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Marketing de retenção e fidelização de clientes</h2>
        <ul>
          <li>Boa reputação</li>
          <p>A experiência do cliente vale mais do que uma história que é contada para atraí-lo. Assim, não basta prometer e atrair, é preciso conquistar e manter o cliente, isso garante uma boa reputação à empresa.</p>
          <li>Lucratividade</li>
          <p>Clientes fidelizados e satisfeitos tendem a comprar mais de uma vez e a indicar os produtos e serviços a outros consumidores, que farão novas aquisições, aumentando as vendas da empresa.</ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-fidelizacao-clientes/marketing_retencao_fidelizacao.png" alt="Marketing de retenção e fidelização de clientes" title="Marketing de retenção e fidelização de clientes">
      </div>
    </div>
  </div>
</div>
    
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/nps-relacionamento-transacional.png" alt="Fidelização de clientes - Keep e grow" title="Keep e grow - fidelização de clientes">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Keep e Grow</h2>
        <ul>
          <li>Manutenção de clientes</li>
          <p>O KEEP objetiva a manutenção do cliente por meio de produtos ou serviços de venda recorrente, a fim de manter o cliente comprando.</p>
          <li>Aumento da receita dos clientes existentes</li>
          <p>O GROW tem o objetivo de fazer os clientes comprarem mais produtos. Isso pode ser alcançado de dois modos: Cross-selling e Up-selling</ul>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Cross-selling e Up-selling</h2>
        <ul>
          <li>Cross-selling</li>
          <p>É a prática em que você oferece a clientes existentes produtos complementares àqueles que já foram ou estão a ser adquiridos.</p>
          <li>Up-selling</li>
          <p>É  a prática de expor o seu cliente a produtos Premium que são mais caros, encorajando o freguês a gastar um pouco mais, mas fornecendo-lhe em retorno um melhor serviço/produto.</ul>             
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-fidelizacao-clientes/cross_up_selling.png" alt="fidelização de clientes - Cross-selling e up-selling" title="Cross-selling e up-selling">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-fidelizacao-clientes/personalizacao_fidelizacao_clientes.png" alt="Personalização e fidelização de clientes" title="Atendimento personalizado e fidelização de clientes">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Personalização e fidelização de clientes</h2>
      <p>
        <br>A personalização é um elemento importante para a fidelização dos clientes e o marketing de retenção é uma das formas de garantir essa personalização, a partir da coleta de dados sobre os clientes.
        <br>A experiência de um consumidor, seja ela positiva ou negativa, acaba influenciando diretamente na opinião de potenciais clientes, antes mesmo de experimentarem o produto ou serviço.
        <br>É importante, então, não somente atrair o cliente, mas mantê-lo. A empresa deve personalizar a jornada do consumidor de acordo com suas preferências, como por exemplo:</p>
        <ul>
          <li>E-mails personalizados</li>
          <li>Anúncios customizados</li>
          <li>Diferentes landing pages</li>
          <li>Sugestões de produto</li>
        </ul>
    </div>
  </div>
</div>
    
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">O que fazer para fidelizar clientes?</h2>
        <p>Para garantir a fidelização de clientes, é preciso:
          <ul>
            <li>Descobrir os hábitos, medos, anseios e valores que eles têm.</li>
            <li>Entender as necessidades deles e oferecer o produto ou serviço que melhor se encaixe no perfil de cada cliente.</li>
            <li>Investir em conhecer bem o seu cliente, pois, assim, cada vez mais o seu produto estará de acordo com suas expectativas.</li>
          </ul>         
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-fidelizar-clientes/cliente_moderno.png" alt="Como fidelizar clientes?" title="O que fazer para fidelizar clientes?">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-fidelizacao-clientes/qualidade_relacionamento.png" alt="Fidelizar clientes - aumente a qualidade do seu atendimento" title="Fidelizar clientes - aumente a qualidade do seu atendimento">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Quer aumentar a qualidade do seu relacionamento com o cliente?</h2>
        <p>Para aumentar a qualidade do relacionamento com os seus clientes, desenvolva ações que tenham como premissa melhorar a velocidade e precisão de atendimento.
        <br>Quando falamos em satisfação do cliente, não podemos deixar de falar de Customer Success (CS). Diferente do suporte, o CS é uma abordagem pós-venda proativa que visa a fidelização de clientes, aumentando o cross-selling e upselling.
        </p>
    </div>
  </div>
</div>
    
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Customer Success (CS)</h2>
        <p>O conceito de "Sucesso do cliente" surgiu em empresas de SaaS a partir da necessidade de reduzir o CHURN e aumentar o LTV, sempre focando em entregar ao consumidor a melhor experiência de atendimento e entender necessidades de melhoria do produto/serviço. Como o cliente é o foco dessa abordagem, ela tenta reunir o máximo de informações sobre ele, para prever suas necessidades e entregar além do esperado.</p>              
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-fidelizacao-clientes/customer_success.png" alt="Customer Success - fidelização de clientes" title="Customer Success - fidelização de clientes">
      </div>
    </div>
  </div>
</div>
<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-fidelizacao-clientes/como_funciona_customer_success.png" alt="Como o customer success ajuda na fidelização de clientes" title="Customer success e a fidelização de clientes">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Como funciona o Customer Success</h2>
        <p>O CS conta com um planejamento estratégico dividido de acordo com o segmento do cliente para cada produto ou serviço. Ele serve para prever os problemas que o cliente possa vir a ter, oferecendo as soluções antes do consumidor procurar ajuda. Como o objetivo é reduzir a taxa de CHURN, o CS deve visar o crescimento de valor do produto a partir da satisfação do cliente.</p>
    </div>
  </div>
</div>

<!-- resume -->
<article class="od-Wrapper u-bgLightGray">
    <div class="container"> 
      <h2 class="h1 u-fontThin">Resumo</h2>
      <p>Nesse infográfico, você vai saber como o marketing de retenção pode te poupar tempo, dinheiro e muita dor de cabeça quando o assunto é garantir a satisfação e fidelização dos clientes. Vamos te dar dados objetivos que comprovam a importância do marketing de retenção e te mostrar como essa estratégia funciona, fundamentando seus dois princípios : o keep (manutenção de cliente) e o grow (aumento da receita dos clientes existentes).</p>
    </div>
  </article>