<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'lp-gestao-de-processos-info'"
[rd-identificador]="'prod-lp-gestao-de-processos-info'"
[imagem-header]="'/assets/images/lp/info-gestao-processos/infografico_header.png'"
[hide-logo]="'false'"
[titulo]="'Problemas com seu serviço de atendimento ao cliente?'"
[sub-titulo]="'Para empresas de todos os tamanhos, a gestão de processos é uma forma simples e eficiente de garantir a produtividade da equipe, reduzindo custos e tornando o atendimento mais rápido e preciso. Confira, agora, o nosso infográfico sobre gestão de processos e saiba como otimizar o serviço de atendimento ao cliente no seu negócio.'"
[alt-header]="'Infográfico - Gestão de processos - serviço de atendimento ao cliente'"
[titulo-form]="'Quero melhorar meus processos!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar infográfico grátis!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1500327474infografico_gestao_de_processos_atendimento_ao_cliente.pdf'"
>
</octadesk-lp-header-com-form>

<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Atendimento lento? Processos descontrolados? Custos elevados?</h2>
        <p>A gestão de processos oferece mais agilidade e assertividade nas soluções. Por isso, você deve entender, junto ao cliente, em que ponto seus processos estão falhando. É importante avaliar produtos e serviços da concorrência para entender o que pode ser aplicado aos seus processos. Pensando nisso, montamos um infográfico para que você entenda como funciona a gestão do ciclo de vida dos processos, quais suas principais etapas e quais os benefícios que uma gestão eficiente pode trazer para o seu serviço de atendimento ao cliente e para o seu negócio como um todo. Confira!</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-hourglass-yellow">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Otimização do tempo</dt>
          <dd class="od-DescriptionList-detail">A gestão de processos conta com a fase de Planejamento e estratégia, uma passo fundamental para garantir a otimização do tempo e a produtividade da equipe.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-star-medal">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Qualidade no atendimento</dt>
          <dd class="od-DescriptionList-detail">Estruturar processos faz com que o atendimento seja mais simples e dinâmico, eliminando etapas desnecessárias e provendo respostas rápidas.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-blackboard-charts">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Indicadores de performance</dt>
          <dd class="od-DescriptionList-detail">Uma gestão eficiente de processos possibilita estabelecer metas e controlar métricas que envolvam a performance dos funcionários.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-color-pig-safe-money">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Redução de custos operacionais</dt>
          <dd class="od-DescriptionList-detail">Ao otimizar processos, você não sofre com gastos desnecessários, pois sabe exatamente onde seu dinheiro está sendo investido.</dd>
        </dl>
      </div>
    </div>
  </div>
</article>

<!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">A gestão de processos torna o atendimento mais eficiente</h2>
        <p>A gestão de processos economiza tempo e permite a integração entre as áreas, o que gera uma comunicação mais eficiente do que aquela que acontece em modelos verticalizados. Isso faz com que uma série de questões sejam trabalhadas ao mesmo tempo dentro de uma empresa.
          A gestão de processos permite:</p>
          <ul>
            <li>Melhor aproveitamento do tempo</li>
            <li>Melhorar a integração entre as diversas áreas da empresa</li>
            <li>Ganhar qualidade no produto/serviço</li>
            <li>Maior assertividade na tomada de decisões</li>
            <li>Monitoramento mais efetivo dos indicadores de performance</li>
          </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-gestao-processos/atendimento_eficiente.png" alt="benefícios da gestão de processos - serviço de atendimento ao cliente" title="benefícios da gestão de processos - serviço de atendimento ao cliente">
      </div>
    </div>
  </div>
</div>
    
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-gestao-processos/otimizar_automatizar.png" alt="Automatizar e otimizar os processos do serviço de atendimento ao cliente" title="Automatizar e otimizar os processos do serviço de atendimento ao cliente">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Por que otimizar e automatizar os processos de serviço de atendimento ao cliente?</h2>
        <p>A otimização e automação dos processos são fundamentais para garantir o alinhamento operacional com as estratégias de negócio, pois serão os processos que possibilitarão a sua execução. A empresa deve ter claro os seus objetivos e estabelecer quais processos seriam os mais úteis para atingir esses objetivos.
          Abaixo, alguns benefícios que a otimização e automação dos processos trazem para o seu negócio:</p>
        <ul>
          <li>Reduzir etapas e atividades desnecessárias</li>
          <li>Reduzir tempo de espera</li>
          <li>Aumentar a qualidade do atendimento ao cliente</li>
          <li>Reduzir custos operacionais</li>
          <li>Eliminar erros humanos</li>
          </ul>
          <p>Para tornar a organização mais eficiente, é preciso melhorar constantemente os processos. Para que isso aconteça, deve-se conhecê-los em detalhe, uma vez que eles podem não ser explícitos ou serem mais complexos por envolverem outras áreas da empresa</p>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Planejamento e Alinhamento Estratégico</h2>
        <p>Nessa etapa, o objetivo é ter uma visão mais ampla dos processos. Para isso:</p>
        <ul>
          <li>Identifique processos primários, de gestão e apoio e de indicadores de desempenho</li>
          <li>Analise a documentação e como os processos se alinham aos serviços e à estrutura da empresa</li>
        </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/como_atender_social.png" alt="planejamento e alinhamento estratégico - serviço de atendimento ao cliente" title="planejamento e alinhamento estratégico - serviço de atendimento ao cliente">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-gestao-processos/analise_processos.png" alt="Personalização e fidelização de clientes" title="Atendimento personalizado e fidelização de clientes">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Análise de Processos</h2>
      <p>Aqui, o mais importante é a observação quanto ao funcionamento dos processos dentro da empresa, a fim de se obter um quadro geral do contexto em questão, para, então, partir para a fase da modelagem. Por isso, deve-se garantir:</p>  
      <ul>
          <li>Observação dos processos e identificação de gargalos e oportunidades de melhoria</li>
          <li>Entrevista com a equipe</li>
          <li>Documentação dos processos</li>
        </ul>
    </div>
  </div>
</div>
    
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Desenho de Processos</h2>
        <p>Agora é o momento de tomadas de decisão e de desenhar um novo processo a partir da análise de processos feita anteriormente. Para isso, faça:</p>
          <ul>
            <li>Simulações de contextos que incluam as melhorias necessárias</li>
            <li>Criação do processo e do plano de implementação</li>
          </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-gestao-processos/desenho_processos.png" alt="Como desenhar processos para o serviço de atendimento ao cliente?" title="Como desenhar processos para o serviço de atendimento ao cliente?">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-gestao-processos/implantacao_processos.png" alt="Implantação de processos no serviço de atendimento ao cliente" title="Implantação de processos no serviço de atendimento ao cliente">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Implantação dos Processos</h2>
        <p>O objetivo dessa fase é colocar os processos em ação, da maneira como foram desenhados em forma de fluxo de trabalho. Para isso a implantação pode ser:</p>
        <ul>
          <li>Sistêmica (por meio de softwares de automação de processo)</li>
          <li>Não-sistêmica (sem software)</li>
        </ul>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Monitoramento dos Processos</h2>
        <p>Essa fase consiste em monitorar os processos por meio de indicadores de desempenho. Indicadores de desempenho medem o processo em relação a:</p>
          <ul>
            <li>Tempo de duração</li>
            <li>Custo</li>
            <li>Capacidade</li>
            <li>Qualidade</li>
          </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-gestao-processos/monitoramento_processos.png" alt="monitoramento de processos no serviço de atendimento ao cliente" title="monitoramento de processos no serviço de atendimento ao cliente">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-gestao-processos/refinamento_processos.png" alt="Refinamento de processos no serviço de atendimento ao cliente" title="Refinamento de processos no serviço de atendimento ao cliente">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Refinamento de Processos</h2>
        <p>A última etapa do ciclo de vida dos processos exige:</p>
        <ul>
          <li>Observação sobre a evolução dos processos: se os objetivos estratégicos e as metas predefinidas estão sendo alcançados</li>
          <li>Melhoria contínua dos processos, quanto ao desempenho, redução de custos e atendimento ao cliente</li>
        </ul>
        <p>Uma vez implantado o ciclo dos processos, a análise dos processos se dá de forma continua, no intuito de identificar falhas e gargalos para, enfim, melhorá-los e refinar os processos, observando se estão alinhados com as estratégias da empresa. Para isso, as ferramentas tecnológicas, como softwares podem ajudar a agilizar essa cadeia de atividades de que é composto o ciclo de vida dos processos.</p>
    </div>
  </div>
</div>
<!-- resume -->
<article class="od-Wrapper u-bgLightGray">
  <div class="container"> 
    <h2 class="h1 u-fontThin">Resumo</h2>
    <p>A maioria das empresas brasileiras ainda se baseiam na gestão funcional, departamental ou verticalizada. Esse modelo de gestão enfrenta, constantemente, problemas no que concerne as diferentes etapas de produção, já que, muitas vezes, a comunicação entre os departamentos envolvidos no processo não é eficiente. Uma alternativa a esse modelo é a gestão de processos, na qual ficam mais claros os padrões e a evolução dos processos, bem como o resultado final dos produtos. Nesse modelo, pretende-se melhorar a qualidade do produto a partir da integração e organização dos processos envolvidos nessa produção, reduzindo custos, evitando erros e retrabalho. Pensando nisso, mostramos um infográfico focado inteiramente na gestão do ciclo de vida dos processos, composto por:</p>
    <ul>
      <li>Planejamento e estratégia</li>
      <li>Análise de processos</li>
      <li>Desenho de processos</li>
      <li>Implantação de processos</li>
      <li>Monitoramento e controle de processos</li>
      <li>Refinamento de processos</li>
    </ul>
  </div>
</article>