<div class="od-Partimonials-bg od-Partimonials-posi">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p>
        <i class="icon-quotes-left text-info"></i>
         {{quoteText}}
        <i class="icon-quotes-right text-info"></i>
        </p>
        <div class="od-Statement-item-signature d-flex">
          <div class="rounded-circle od-Partimonials-item-thumb">
            <img src="{{personImg}}" alt="{{personImgAlt}}">
          </div>
          <p>
            <strong>{{personName}}</strong><br> {{personJob}}
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <ul class="row align-items-center od-ListType">
            <li class="col-lg-4 col-md-12  text-center od-ListType-item">
                <img  src="{{company1Img}}" alt="{{company1ImgAlt}}">
            </li>
            <li class="col-lg-4 col-md-12  text-center od-ListType-item">
                <img  src="{{company2Img}}" alt="{{company2ImgAlt}}">
            </li>
            <li class="col-lg-4 col-md-12  text-center od-ListType-item">
                <img  src="{{company3Img}}" alt="{{company3ImgAlt}}">
            </li>
          </ul>


      </div>
    </div>
  </div>
</div>
