<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'lp-seo-sistema-help-desk'"
[rd-identificador]="'lp-seo-sistema-help-desk'"
[imagem-header]="' /assets/images/header-lp-img.png'"
[hide-logo]="'false'"
[titulo]="'Procurando por um sistema de help desk que resolva os problemas do seu atendimento?'"
[sub-titulo]="'O Octadesk é um sistema de help desk simples e eficiente que ajuda empresas de todos os tamanhos a controlar e organizar o atendimento, reduzindo custos e melhorando a produtividade de suas equipes'"
[alt-header]="'Sistema de help desk Octadesk'"
[titulo-form]="'Rápido. Eficiente. Fácil de usar.'"
[subtitulo-form]="'Não perca mais tempo: conheça o Octadesk'"
[texto-submit]="'Avalie grátis!'"
[under-cta]="'Pode ficar tranquilo, não pedimos cartão de crédito.'"
></octadesk-lp-header-com-form>

<!--- testimonials -->
<octadesk-partimonials
[texto-citacao]="'O Octadesk consegue agregar todas as informações da empresa necessárias para um atendimento personalizado de forma que o cliente se sinta conhecido e especial desde o primeiro momento.'"
[pessoa-thumb-url]="'/assets/images/customers/rodrigo-von.png'"
[pessoa-nome]="'Rodrigo Von'"
[pessoa-cargo]="'Sócio Diretor - Plano & Plano incorporações'"
[empresa1-thumb-url]="'/assets/images/customers/puket.png'"
[empresa2-thumb-url]="'/assets/images/customers/tacobell.png'"
[empresa3-thumb-url]="'/assets/images/customers/nita-alimentos.png'"
>
</octadesk-partimonials>

<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Clientes insatisfeitos? Custos elevados? Baixa produtividade?</h2>
        <p>Descubra como o sistema de help desk da Octadesk pode ajudar sua empresa</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
            <i class="icon-multi-elements">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span>
            </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Centralize seus canais</dt>
          <dd class="od-DescriptionList-detail">Atenda o seu cliente onde e como ele quiser: centralize todos os seus canais de comunicação em um único sistema de help desk.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-pizza-chart">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Controle e organize seu atendimento</dt>
          <dd class="od-DescriptionList-detail">Categorize e priorize as solicitações: descubra a causa raiz dos problemas utilizando relatórios personalizados.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
            <i class="icon-pig-safe-coin"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Reduza seus custos operacionais</dt>
          <dd class="od-DescriptionList-detail">Evite gastos desnecessários: padronize suas respostas e reduza a quantidade de chamados com autoatendimento.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-chart-up">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Melhore sua produtividade</dt>
          <dd class="od-DescriptionList-detail">Ganhe escala e produtividade: conheça os gatilhos, automações de fluxos (workflow) e visualizações personalizadas do nosso sistema de help desk.</dd>
        </dl>
      </div>
    </div>
  </div>
  </article>

<!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Quais são os benefícios de<br>investir no Octadesk?</h2>
      <ul class="od-ListType mt-2">
        <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Aumento de vendas</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Redução de custos</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Clientes mais satisfeitos</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Ganho de escala e produtividade</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Atendimento como diferencial competitivo</li>
      </ul>
    </div>
    <div class="col-12 col-md flex-first flex-md-last text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/campanhas/beneficios-octadesk.png" alt="Impactos na empresa que não utiliza um sistema de Help desk" title="Sistema de Help Desk Octadesk">
    </div>
  </div>
  </div>
  </div>

  <div class="od-Wrapper">
<div class="container od-SalesFlow">
<div class="row d-flex align-items-center">
  <div class="col-12 col-md text-center">
    <img class="od-SalesFlow-image" src="/assets/images/lp/campanhas/problemas-help-desk-resolve.png" alt="Problemas em não ter um sistema de Help Desk" title="Problemas em não ter um sistema de Help Desk">
  </div>
  <div class="col-12 col-md">
    <h2 class="u-fontThin">Quais problemas um gerenciador de<br>contatos ajuda a resolver?</h2>
    <ul class="od-ListType mt-2">
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Atendimento impreciso, desorganizado e sem controle</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Ineficiência da comunicação entre colaboradores e clientes</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Alto volume de solicitações não atendidas dentro dos prazos acordados</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Descentralização de canais e de histórico de atendimento</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Falta de padrão no atendimento</li>
    </ul>
  </div>
</div>
</div>
</div>

<!-- highlight1 -->
<octadesk-banner-percent
[porcentagem]="'87'"
[msg-before-negrito]="'acreditam que o atendimento ao cliente pode'"
[msg-negrito]="'diferenciar uma empresa de um concorrente'"
[msg-after-negrito]="'no mercado'">
</octadesk-banner-percent>

<!-- sales flow -->
<div class="od-Wrapper u-bgLightGray">
  <div class="container od-SalesFlow">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Qual o impacto de não ter um gerenciador<br>de contatos bem estruturado?</h2>
      <ul class="od-ListType mt-2">
        <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Falta de transparência, credibilidade e perda de clientes</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Queda de produtividade, qualidade e eficiência da equipe</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Aumento de retrabalho, custos e insatisfação dos clientes</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Atendimento lento, desestruturado e sem profissionalismo</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Perda de oportunidade de vendas</li>
      </ul>
    </div>
    <div class="col-12 col-md flex-first flex-md-last text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/campanhas/help-desk-desestruturado.png" alt="Benefícios de um sistema de Help desk" title="Benefícios de um sistema de help desk">
    </div>
  </div>
  </div>
</div>

<!-- highlight2 -->
<octadesk-banner-percent
[porcentagem]="'47'"
[msg-before-negrito]="'acreditam que um atendimento mal feito é um dos'"
[msg-negrito]="'principais fatores que fazem o cliente cancelar, devolver ou não comprar'"
[msg-after-negrito]="'mais um produto/serviço'">
</octadesk-banner-percent>

<!-- sales flow -->
<div class="od-Wrapper">
  <div class="container od-SalesFlow">
  <div class="row d-flex align-items-center">
  <div class="col-12 col-md text-center">
    <img class="od-SalesFlow-image" src="/assets/images/lp/campanhas/resolver-problemas-octadesk.png" alt="Canais em um sistema de help desk" title="Canais de sistema de help desk">
  </div>
  <div class="col-12 col-md">
    <h2 class="u-fontThin">Como resolver os problemas de<br> atendimento com o Octadesk?</h2>
    <ul class="od-ListType mt-2">
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Organize, classifique e priorize os chamados com nosso módulo de controle de tickets</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Atenda por múltiplos canais, centralize as conversas e o histórico em um único lugar</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Acompanhe o desempenho da sua equipe e a satisfação dos seus clientes</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Padronize e automatize as tarefas do dia a dia, tornando sua equipe mais produtiva</li>
      <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Torne a vida do seu cliente mais fácil com nossos módulos de autoatendimento</li>
    </ul>
  </div>
  </div>
  </div>
</div>

<!-- form free avaliation -->
<article class="od-Wrapper u-bgLightGray">
  <div class="container">
    <div class="row">

      <div class="col-xl-6 make-life-easear-text-align">
        <h3 class="u-font-w700">Descomplique seu help desk, <br><span class="u-fontThin"> torne a vida do seu cliente mais fácil. </span></h3>
      </div>
      <div class="col col-lg-5 col-md-8">
        <octadesk-avalie-form-email-field></octadesk-avalie-form-email-field>
        <p class="mt-1 mb-0"> Avalie sem compromisso. Não pedimos cartão de crédito</p>
      </div>
    </div>
  </div>
</article>

<!-- advantage -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Advantage text-DarkGrey">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1"><span class="u-fontThin">Rápido, eficiente, simples de usar.</span></h2> <br class="hidden-xs-down"><p>O nosso sistema de help desk tem funcionalidades que facilitam a vida dos seus clientes e da sua equipe.</p>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-6 col-sm-3 text-center">
        <div class="od-Advantage-thumb mt-3">
          <i class="icon-ticket-o"></i>
        </div>
        <p><strong>Canais de atendimento</strong><br>
        Atenda seus clientes em<br>múltiplos canais de contato<br>de forma rápida, simples e organizada.</p>
      </div>
      <div class="col-6 col-sm-3 text-center">
        <div class="od-Advantage-thumb mt-3">
          <i class="icon-chat-o"></i>
        </div>
        <p><strong>Chat</strong><br>
          Gerencie todas as suas<br>conversas em um só lugar,<br>atendendo o cliente em tempo real.</p>
      </div>
      <div class="col-6 col-sm-3 text-center">
        <div class="od-Advantage-thumb mt-3">
          <i class="icon-open-book-o"></i>
        </div>
        <p><strong>Base de conhecimento</strong><br>
          Reduza o volume de solicitações<br>e antecipe as dúvidas dos<br>seus clientes.</p>
      </div>
      <div class="col-6 col-sm-3 text-center">
        <div class="od-Advantage-thumb mt-3">
          <i class="icon-help-center-o"></i>
        </div>
        <p><strong>Central de ajuda</strong><br>
          Disponibilize um portal de<br>atendimento para seu cliente<br>abrir e acompanhar as solicitações.</p>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-6 col-sm-3 text-center">
        <div class="od-Advantage-thumb mt-3">
          <i class="icon-gift-o"></i>
        </div>
        <p><strong>Produtos e Serviços</strong><br>
          Relacione seus produtos/serviços<br>ás solicitações e tenha<br>métricas mais eficientes.</p>
      </div>
      <div class="col-6 col-sm-3 text-center">
        <div class="od-Advantage-thumb mt-3">
          <i class="icon-clock-o"></i>
        </div>
        <p><strong>Controle de prazos (SLA)</strong><br>
          Tenha clientes mais satisfeitos e<br>gerencie o prazo de resolução das<br>solicitações de maneira eficiente.</p>
      </div>
      <div class="col-6 col-sm-3 text-center">
        <div class="od-Advantage-thumb mt-3">
          <i class="icon-workflow-o"></i>
        </div>
        <p><strong>Automações e workflow</strong><br>
          Padronize tarefas rotineiras, ganhe<br>escala no atendimento e otimize<br>seus processos de trabalho.</p>
      </div>
      <div class="col-6 col-sm-3 text-center">
        <div class="od-Advantage-thumb mt-3">
          <i class="icon-donut-chart-o"></i>
        </div>
        <p><strong>Dashboard e relatórios</strong><br>
          Gerencie as métricas do seu sistema<br>de Help Desk de forma eficiente<br>e entenda sua operação em detalhe.</p>
      </div>
    </div>
  </div>
</article>

<!--MultiChannel-->
<octadesk-multi-channel
[titulo]="'Atendimento multicanal nunca foi tão fácil'"
[sub-titulo]="'Centralize os múltiplos canais de contato e atenda de forma rápida e organizada com nosso sistema de help desk.'"
[bg-color-class]="'u-bgMediumGray'"

[titulo-email]="'Crie chamados a partir de e-mails'"
[conteudo-email]="'Configure o encaminhamento das suas caixas de e-mail para nosso sistema de help desk e transforme automaticamente todo o atendimento feito por e-mail em solicitações.'"
[alt-email]="'integre seu e-mail no sistema de help desk Octadesk'"

[titulo-chat]="'Atendimento ao cliente em tempo real'"
[conteudo-chat]="'Sua equipe consegue conversar simultaneamente com vários clientes, reduzindo o tempo de espera/resolução e aumentando a satisfação de seus clientes.'"
[alt-chat]="'Chat de atendimento ao cliente integrado no sistema de help desk'"

[titulo-central-ajuda]="'Facilite a vida do seu cliente'"
[conteudo-central-ajuda]="'Seu cliente tem acesso a um portal de atendimento para abrir e acompanhar as solicitações. Assim, ele fica sempre informado e satisfeito com seu atendimento.'"
[alt-central-ajuda]="'central de ajuda no sistema de help desk'"

[titulo-base-conhecimento]="'Reduza o volume de chamados'"
[conteudo-base-conhecimento]="'Proporcione uma experiência de autoatendimento ao cliente mais transparente e eficiente, compartilhando informações do seu produto / serviço em sua base de conhecimento. Antecipe as dúvidas dos clientes.'"
[alt-base-conhecimento]="'base de conhecimentos no sistema de help desk'"

[titulo-telefone]="'Conecte sua central de atendimento telefônico'"
[conteudo-telefone]="'Abra solicitaões de forma automática a partir de ligações gravadas, reduzindo riscos e aumentando o controle dos atendimentos telefônicos.'"
[alt-telefone]="'integre sua central telefonica no sistema de help desk Octadesk'"

[titulo-facebook]="'Gerencie seu canal do Facebook'"
[conteudo-facebook]="'Conecte uma ou mais páginas do Facebook e responda diretamente pelo Octadesk, mantendo sempre a organização, histórico e segurança do que foi conversado.'"
[alt-facebook]="'facebook no sistema de help desk octadesk'"

[titulo-form-contato]="'Integre seu site ao nosso sistema de help desk'"
[conteudo-form-contato]="'Integre o formulário de contato do seu site para abrir solicitações diretamente no sistema de help desk, facilitando sua classificação, priorização e atribuição.'"
[alt-form-contato]="'fomulário de contato no sistema de help desk'"
></octadesk-multi-channel>

<!-- produtos e serviços -->
<div class ="mt-3">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/sistema-help-desk/sistema-tablet.png" alt="Sistema de help desk Octadesk" title="Sistema de help desk Octadesk">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Economize tempo com nosso catálogo<br>de produtos e serviços</h2>
      <p>E-mails e outros canais de contato dos clientes abrem chamados automaticamente no Octadesk, assim todas as informações sobre o cliente e o histórico de relacionamento ficam centralizados em um único lugar.</p>
      <ul class="od-ListType mt-2">
        <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Gerencie de forma efetiva o seu atendimento ao cliente</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Elimine os problemas com e-mails compartilhados</li>
        <li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Acompanhe a produtividade da sua equipe de Help Desk</li>
      </ul>
    </div>
    </div>
  </div>
</div>
<!-- WorkFlow -->
<octadesk-gain-scale
[bg-Color]="'u-bgLightGray'"
[titulo-header]="'Deixe o Octadesk trabalhar por você e ganhe'"
[titulo-header2]="'escala no seu atendimento.'"
[img-alt1]="'Fluxos dinâmicos de atendimento no sistema de help desk'"

[topic-title1]="'Workflow'"
[topic-subtitle1]="'Crie fluxos dinâmicos de atendimento ao cliente e otimize seus processos'"
[topico1]="'Automatize etapas e atividades'"
[topico2]="'Priorize demandas corretamente'"
[topico3]="'Trabalhe com alçadas e aprovações em processos'"

[topic-title2]="'Regras automáticas'"
[topic-subtitle2]="'Ganhe velocidade no seu atendimento ao cliente'"
[topico4]="'Categorize e priorize solicitações automaticamente'"
[topico5]="'Direcione para as áreas responsáveis'"
[topico6]="'Notifique o cliente por e-mail'"

[topic-title3]="'Respostas-padrão'"
[topic-subtitle3]="'Melhore a produtividade da sua equipe com nosso sistema de help desk'"
[topico7]="'Personalize e automatize os e-mails enviados para os seus clientes'"
[topico8]="'Ganhe agilidade com nossa biblioteca de respostas-padrão'"
[topico9]="'Aumente a qualidade do seu atendimento ao cliente'"

[topic-title4]="'Formulários inteligentes'"
[topic-subtitle4]="'Controle melhor o seu atendimento com nossos formulários inteligentes '"
[topico10]="'Crie formulários personalizados para cada cenário de atendimento'"
[topico11]="'Configure regras diferentes para cada formulário'"
[topico12]="'Torne sua operação mais inteligente e personalizada'"

[img-alt2]="'Formulários personalizados no sistema de help desk'"
></octadesk-gain-scale>

<!-- Dashboard e relatórios -->
<octadesk-understand
[cor-bg]="'u-bgWhite text-darkGray'"
[cor-bg-itens]="'u-bgLightGray text-darkGray'"
[title]="'Gestão de atendimento como você nunca viu'"
[subTitle]="'Tenha o controle da sua operação com nosso sistema de help desk. Identifique problemas, monitore indicadores e encontre soluções para melhorar sua estratégia.'"
[tituloPrimeiroItem]="'Controle de prazos (SLA)'"
[conteudoPrimeiroItem]="'Controle o tempo de atendimento de todos as solicitações (tempo utilizado, excedido e restante para resolver cada ocorrência).'"
[tituloSegundoItem]="'Métricas para o seu atendimento'"
[conteudoSegundoItem]="'Acompanhe os indicadores de atendimento ao cliente por meio de relatórios personalizados e desenvolva planos de ação para o seu negócio.'"
[tituloTerceiroItem]="'Satisfação do seu cliente'"
[conteudoTerceiroItem]="'Transforme seus clientes em fãs! Monitore a qualidade do atendimento prestado por sua equipe a cada solicitação resolvida.'"
[ImagemAlt1]="'Dashboar do sistema de help desk Octadesk'"
[ImagemAlt2]="'Prazo de resolução ou SLA de um sistema de help desk'"
[ImagemAlt3]="'Métricas do sistema de help desk'"
[ImagemAlt4]="'Satisfação do cliente elevada devido ao sistema de help desk'"

></octadesk-understand>

<!-- Testimonials -->
<octadesk-success-case-dinamico
[titulo]="'Melhore sua operação com nosso sistema de atendimento ao cliente'"
[sub-titulo]="'Veja um de nossos cases de sucesso na área de consultoria'"
[imagem-cliente]="'/assets/images/success-stories/netpartners.jpg'"
[alt-imagem]="'Net Partners usa o sistema de help desk Octadesk'"
[titulo-biografia]="'Fundada em 1996, a Netpartners conta com um portfólio de soluções para otimizar as vendas de seus clientes, combinando plataformas de TI com consultoria de negócios e finanças.'"
[biografia]="'Para garantir um suporte de qualidade, melhorar a experiência de atendimento e aumentar a colaboração entre as diversas áreas de negócio, a Netpartners implantou o sistema de help desk do Octadesk para centralizar em uma única plataforma todas as informações necessárias, tornando o atendimento mais ágil e personalizado para cada cliente.
Com o aumento do portifólio de soluções e da carteira de clientes, atendimento é umas das prioridade da estratégia de crescimento da Netpartners.
Ao utilizar as funcionalidades nativas do sistema de atendimento do Octadesk, foi possível estabelecer um atendimento mais preciso, eficiente e alcançar um maior nível de organização e controle.'"
></octadesk-success-case-dinamico>

<!-- cta footer -->
<octadesk-cta-esperando-oque
[gtm-form-id]="'lp-ad-gerenciador-contatos'"
[rd-identificador]="'lp-ad-gerenciador-contatos'"
[titulo]="'Está esperando o que?'"
[sub-titulo]="' Garanta, agora, a eficiência do seu atendimento
e tenha resultados surpreendentes'"
[texto-btn]="'EXPERIMENTE GRÁTIS'"
></octadesk-cta-esperando-oque>
