<section id="contact-view">

  <!--H1 SEO -->
  <h1 class="titleHide">Conheça nosso sistema de atendimento ao cliente e help desk</h1>




  <!-- header -->
  <header class="od-Wrapper u-bgLightGray">
    <div class="container od-Contact">
      <div class="row d-flex align-items-center">
        <!-- contact form -->
        <div class="col-lg-6 col-xl-5 od-Contact-item">
          <h2 class="h1 u-fontThin">Entre em contato conosco</h2>
          <octadesk-contact-form [rd-identificador]="'site-contato'"></octadesk-contact-form>
        </div>

        <!-- support -->
        <div class="col-lg-6 col-xl-6 push-xl-1 od-Contact-item">
          <div class="row">
            <div class="col od-Support-item od-Support-item--bottom">
              <h4 class="od-Support-item-title">Suporte sempre disponível para te atender</h4>
              <p class="od-Support-item-text">
                Queremos que você tenha a melhor experiência de atendimento.
                <br class="hidden-lg-down"> Até quando estiver com problemas ou dúvidas!
              </p>
              <div class="od-BoxAlpha od-BoxAlpha--lighten">
                <span class="od-BoxAlpha-text od-BoxAlpha-text--darken">
                  <i class="icon-phone-o"></i> (11) 2222-1422
                </span>
              </div>
              <div class="od-BoxAlpha od-BoxAlpha--lighten">
                <a class="od-BoxAlpha-text od-BoxAlpha-text--darken" href="mailto:suporte@octadesk.com?Subject=Suporte%20site%20octadesk">
                  <i class="icon-envelope-o"></i> suporte@octadesk.com
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col od-Support-item">
              <h4 class="od-Support-item-title od-Support-item-title--spacer">Agende uma demonstração</h4>
              <div class="row d-flex align-items-center od-Support-item-showing">
                <div class="col-4 col-lg-3">
                  <div class="rounded-circle od-Support-item-showing-thumb">
                    <img src="/assets/images/consultora-octadesk.jpg" width="100%" height="100%" alt="Consultora octadesk" title="Consultora octadesk">
                  </div>
                </div>
                <div class="col-8">
                  <p class="text-left od-Support-item-text">
                    Conheça os recursos do Octadesk e descubra como podemos ajudar sua empresa
                  </p>
                </div>
              </div>
              <div class="od-Support-item-actions--spacer">
                <button type="button" gtm-identificator="solicitar-demonstracao-footer" class="btn btn-warning" (click)="openContactModal()">Solicitar demonstração</button>
                <octadesk-contact-modal [rd-identificator]="'site-modal-demo-home'"></octadesk-contact-modal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- question -->
  <article class="od-Wrapper u-bgDarkGrey">
    <div class="container u-alignCenter od-HaveQuestion">
      <p class="h3 text-white u-alignCenter-item u-cta od-HaveQuestion-text u-fontThin">
        Dúvida sobre o produto?
      </p>
      <div class="u-alignCenter-item u-cta od-HaveQuestion-actions">
        <a role="button" class="btn btn-outline-warning" href="https://help.octadesk.com/kb" target="_blank">
          Acesse nossa central de ajuda
          <i class="icon-next"></i>
        </a>
      </div>
    </div>
  </article>

  <!-- location -->
  <article class="u-bgWhite">
    <div class="container od-GeoLocation u-o-hidden">
      <div class="row d-flex align-items-center">
        <div class="col py-2">
          <h2 class="h1 u-fontThin">Nosso escritório</h2>
          <p class="od-GeoLocation-text">
            Rua Alexandre Dumas 1658 - 10º andar
            <br> Chácara Santo Antônio, São Paulo - SP -
            <br class="hidden-lg-down hidden-xxl-up">04717-004
          </p>
        </div>
        <div class="col">
          <img src="/assets/images/contact/mapa.jpg" alt="Mapa com a localização do escritório do octadesk" title="Mapa com a localização do escritório do octadesk">
        </div>
      </div>
    </div>
  </article>
</section>
