<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'tecnologia-no-atendimento-info'"
[rd-identificador]="'prod-tecnologia-no-atendimento-info'"
[imagem-header]="'/assets/images/lp/info-tecnologia-atendimento/info_tecnologia_atendimento.png'"
[hide-logo]="'false'"
[titulo]="'Precisando otimizar seus canais de atendimento?'"
[sub-titulo]="'Descubra como melhorar o seu relacionamento com os clientes e fidelizá-los utilizando diversos canais de atendimento.'"
[alt-header]="'Infográfico canais de atendimento'"
[titulo-form]="'Quero meu infográfico agora!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar infográfico grátis!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1502217964infografico-tecnologia-no-atendimento-ao-cliente.pdf'"
>
</octadesk-lp-header-com-form>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Canais descentralizados? Atendimento desorganizado?</h2>
        <p>Baixe nosso infográfico e entenda a importância de investir em canais de atendimento!</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-client-profile">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Histórico salvo</dt>
          <dd class="od-DescriptionList-detail">Centralizar canais com um sistema de atendimento permite concentrar todas as informações sobre os seus clientes em uma única plataforma, tendo acesso integral à ela.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-ticket-control">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Controle de prioridades</dt>
          <dd class="od-DescriptionList-detail">Centralizar canais também permite que os atendentes controlem prioridades, disparem lembretes e direcionem chamados para as áreas responsáveis, tornando o atendimento rápido e fluido.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-fast-response">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Respostas automáticas</dt>
          <dd class="od-DescriptionList-detail">Uma das principais vantagens de centralizar canais de atendimento é o envio de respostas automatizadas. É uma ótima forma de manter a qualidade e agilidade do atendimento.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-brilliant-agent">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Múltiplos canais</dt>
          <dd class="od-DescriptionList-detail">Hoje, ficou mais difícil atender as expectativas do cliente moderno, processos que funcionavam bem no passado, não são mais suficientes atualmente.</dd>
        </dl>
      </div>
    </div>
  </div>
</article>

<!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Canais de atendimento ao cliente</h2>
        <p>O que era feito apenas pessoalmente, ou por telefone, hoje, se espalha por muitos canais:</p>
        <ul>
          <li>Redes Sociais</li>
          <li>Site</li>
          <li>Apps Mobile</li>
          <li>Chat</li>
          <li>E-mail</li>
          <li>SMS</li>
          <li>WhatsApp</li>
          <li>Autoatendimento</li>
        </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-tecnologia-atendimento/canais_atendimento_cliente.png" alt="Conheça os canais de atendimento ao cliente" title="Conheça os canais de atendimento ao cliente">
      </div>
    </div>
  </div>
</div>
    
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-qualidade-atendimento/todos_lugares.png" alt="Dados sobre atendimento ao cliente" title="Dados sobre atendimento ao cliente">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Dados sobre atendimento</h2>
        <p>De acordo com uma pesqusia realizada pela Salesforce:</p>
        <ul>
          <li>58% dos consumidores afirmam que a tecnologia mudou bastante as expectativas que tinham suas expectativas em relação a como as empresas deveriam atendê-los.</li>
          <li>71% dos consumidores tendem a se fidelizar a marcas e empresas que estão disponíveis a qualquer dia, a qualquer hora.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">5 problemas de atendimento que a tecnologia pode resolver</h2>
        <ol>
          <li>Baixa produtividade da equipe</li>
          <li>Atendimento desorganizado</li>
          <li>Longo tempo de resposta</li>
          <li>Informações desencontradas</li>
          <li>Descentralização de canais</li>
        </ol>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-tecnologia-atendimento/problemas_tecnologia.png" alt="Problemas de atendimento que a tecnologia pode resolver" title="Problemas de atendimento que a tecnologia pode resolver">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-tecnologia-atendimento/baixa_produtividade.png" alt="Baixa produtividade da equipe" title="Baixa produtividade da equipe">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">1 – Baixa produtividade da equipe</h2>
      <p>Softwares de gestão de relacionamento com o cliente permitem a centralização de canais de atendimento e ajudam a medir a performance da operação de atendimento, além de detectarem novas formas de otimizar o serviço prestado. A padronização de repostas, bem como o autoatendimento e as funcionalidades disponíveis em sistemas como esses auxiliam na redução da quantidade de solicitações dos clientes. Assim, o atendente não precisa fazer todas aquelas perguntas que, normalmente, irritam o cliente, podendo se dedicar a e questões mais urgentes.</p>
    </div>
  </div>
</div>
    
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">2 – Atendimento desorganizado</h2>
        <p>Quando você junta tecnologia a sistemas de suporte, você é capaz de registrar as melhores práticas de atendimento e todos os passos das interações entre cliente e empresa em um único local, centralizando não só canais de atendimento, bem como informações fundamentais sobre os consumidores. Outra vantagem de um sistema como esse é a emissão de relatórios, que permitem descobrir as causas-raiz dos seus principais problemas de atendimento. Assim, é possível elaborar análises mais aprofundadas, com o objetivo de buscar soluções para o aprimoramento do relacionamento com os clientes.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-tecnologia-atendimento/atendimento_desorganizado.png" alt="Atendimento desorganizado" title="Atendimento desorganizado">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-tecnologia-atendimento/tempo_resposta.png" alt="Longo tempo de resposta" title="Longo tempo de resposta">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">3 – Longo tempo de resposta</h2>
        <p>Ao investir em uma tecnologia adequada às necessidades da empresa, você é capaz de centralizar canais de atendimento, aumentando a eficiência das operações e tornando a resolução de problemas muito mais rápida. Como resultado, o tempo de resposta ao cliente é reduzido. Com o redirecionamento das chamadas, as questões são encaminhadas a atendentes específicos. Isso é feito por meio de categorização automática e da separação de temas/problemas em filas de trabalho para diferentes equipes. Com isso, a equipe economiza um tempo precioso, concentrando-se em questões mais importantes. Reduzindo o tempo de respostas, você mostra ao seu cliente como está preocupado em oferecer uma boa experiência a ele. A tendência é que ele retribua atenção e fique satisfeito com o tratamento recebido.</p>
    </div>
  </div>
</div>
    
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">4 – Informações desencontradas</h2>
        <p>Outra vantagem que a tecnologia oferece é que, ao centralizar as informações dos clientes em um único lugar, o sistema permite que operadores acessem o histórico completo de interações entre cliente e empresa. Essa tecnologia integrada também é vantajosa para o suporte omnichannel. Assim, as questões originadas nos diferentes canais – telefone, email, chat, SMS, WhatsApp e mídias sociais – são redirecionadas para uma mesma caixa de entrada. Com isso, você reduz o tempo que seria gasto na verificação dos canais separados, além de  organizar suas operações de atendimento.</p>              
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-tecnologia-atendimento/informacoes_perdidas.png" alt="Informações desencontradas de atendimento" title="Informações desencontradas de atendimento">
      </div>
    </div>
  </div>
</div>
<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/planilha-cadastro-clientes/dados_importantes.png" alt="Descentralização de canais" title="Descentralização de canais">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">5 – Descentralização de canais</h2>
        <p>O que você acha de centralizar todos os seus canais de contato em um único lugar? O cliente moderno está cada dia mais exigente, por isso, as empresas precisam atender suas expectativas e se preparar para atendê-lo onde e como ele quiser. Com um software de gestão de relacionamento com o cliente, também é possível centralizar todos os canais de contato, tornando a comunicação com seu cliente muito mais eficiente e organizada.</p>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Tecnologia eficiente para um atendimento de qualidade</h2>
        <p>Hoje, com as inovações nos setores de tecnologia e de mobilidade, é possível que o suporte ao cliente seja feito de forma rápida, por qualquer dispositivo com acesso à internet, como notebooks, tablets e smartphones, e de qualquer lugar, não necessariamente de uma central de atendimento. Assim, por meio das várias possibilidades de comunicação e informação, todos os setores de uma empresa são integrados para compartilhar dados que ajudem a otimizar o atendimento ao cliente, os produtos, serviços e as rotinas operacionais da empresa. A tecnologia pode ajudar – e muito! – o atendimento ao cliente na sua empresa, independentemente do tamanho do seu negócio. Um software de gestão é uma excelente opção para organizações que desejam consolidar o relacionamento com seus clientes e o fortalecimento de sua marca. </p>              
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-reduzir-custos/aumente_canais_atendimento.png" alt="atendimento de qualidade com a centralização dos canais de contato" title="atendimento de qualidade com a centralização dos canais de contato">
      </div>
    </div>
  </div>
</div>

<!-- resume -->
<article class="od-Wrapper u-bgLightGray">
    <div class="container"> 
      <h2 class="h1 u-fontThin">Resumo</h2>
      <p>Nosso infográfico tem o objetivo de te mostrar a influência que a tecnologia tem sobre o atendimento ao cliente. No nosso material, você encontrará dados de pesquisas internacionais que comprovam como o comportamento do consumidor moderno mudou, revelando as expectativas que ele tem em relação ao atendimento que recebe das empresas.</p>
    </div>
  </article>