<img src="/assets/images/materials/ebook-para-helpdesk-pessoas.png" alt="Pessoas, o pilar mais importante de um bom atendimento"
 title="Pessoas, o pilar mais importante de um bom atendimento" width="100%">
<h4>Ebook</h4>
<h4 class="u-fontThin">Pessoas, o pilar mais importante de um bom atendimento</h4>
<button type="button" gtm-identificator="ebook-pessoas" (click)="downloadEbookModal()" class="mt-1 btn btn-warning cursor-pointer">Baixar ebook</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1498164079ebook_Gestao_de_Pessoas_O_pilar_mais_importante_para_um_bom_atendimento.pdf'"
  [gtm-form-id]="'ebook-pessoas'"
  [rd-identificator]="'site-materiais-ebook-gestao-de-pessoas-gama'"
  [modal-title]="'Pessoas o pilar mais importante de um bom atendimento'"
  [modal-submit-text]="'Baixar Ebook'">
</octadesk-form-modal>
