<div class="container od-Distinct">
  <div class="row">
    <div class="col text-center">
      <h2 class="h1 u-fontThin">Diferenciais do Octadesk</h2>
      <p>Onde podemos fazer a diferença em sua operação de atendimento ao cliente e Help Desk.</p>
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-lg-3 text-lg-center">
      <div class="rounded-circle od-Distinct-thumb mt-1">
        <i class="icon-setting-o"></i>
      </div>
      <dl class="od-DescriptionList od-Distinct-description mt-1">
        <dt class="od-DescriptionList-title">Configuração do ambiente</dt>
        <dd class="od-DescriptionList-detail">Receba consultoria dos nossos especialistas na configuração do ambiente e no suporte a ferramenta.</dd>
      </dl>
    </div>
    <div class="col-lg-3 text-lg-center">
      <div class="rounded-circle od-Distinct-thumb mt-1">
        <i class="icon-gift-o"></i>
      </div>
      <dl class="od-DescriptionList od-Distinct-description mt-1">
        <dt class="od-DescriptionList-title">Produtos e Serviços</dt>
        <dd class="od-DescriptionList-detail">Relacione produtos ou serviços a cada chamado, proporcionando um atendimento ao cliente mais rápido e preciso.</dd>
      </dl>
    </div>
    <div class="col-lg-3 text-lg-center">
      <div class="rounded-circle od-Distinct-thumb mt-1">
        <i class="icon-workflow-o"></i>
      </div>
      <dl class="od-DescriptionList od-Distinct-description mt-1">
        <dt class="od-DescriptionList-title">Workflow</dt>
        <dd class="od-DescriptionList-detail">Crie regras para automatizar fluxos de atendimento e Help Desk e ao mesmo tempo otimize seus processos de trabalho.</dd>
      </dl>
    </div>
    <div class="col-lg-3 text-lg-center">
      <div class="rounded-circle od-Distinct-thumb mt-1">
        <i class="icon-form-o"></i>
      </div>
      <dl class="od-DescriptionList od-Distinct-description mt-1">
        <dt class="od-DescriptionList-title">Smartforms</dt>
        <dd class="od-DescriptionList-detail">Torne sua operação mais inteligente e personalizada com nossos formulários dinâmicos e campos customizáveis.</dd>
      </dl>
    </div>
  </div>
</div>
