<section id="help-desk-lp">
	<!-- header -->
	<header class="od-Wrapper od-Header od-Header--lp od-Header--bgLPHelpDesk">
		<div class="container h-100">
			<div class="row d-flex align-items-center h-100">
				<div class="col-sm-8 col-md-7 col-xl-6">
					<h1 class="h2">Procurando por uma solução de Help Desk?</h1>
					<h2 class="u-fontThin">O Octadesk ajuda você e a sua equipe a se relacionar melhor com os seus clientes.</h2>
					<button type="button" gtm-identificator="experimente-gratis-header" class="btn btn-warning" (click)="openTrialModal()">Avalie grátis</button>
					<try-octadesk-modal [gtm-form-id]="'experimente-gratis-header'" [rd-identificator]="'form-trial-experimente-o-octadesk'"></try-octadesk-modal>
					<i class="icon-arrow-top-left text-primary"></i>
				</div>
			</div>
		</div>
	</header>

	<!-- sales flow -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-SalesFlow">
			<div class="row d-flex align-items-center">
				<div class="col-12 col-md text-center">
					<img class="od-SalesFlow-image" src="/assets/images/lp/help-desk/problemas-sem-help-desk.png" alt="Empresa sem sistema de help desk" title="Empresa sem Help Desk">
				</div>
				<div class="col-12 col-md">
					<h2 class="u-fontThin">Quais problemas um sistema de<br>Help Desk ajuda a resolver?</h2>
					<ul class="od-ListType mt-2">
						<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Atendimento impreciso, lento, desorganizado e sem controle</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Ineficiência de comunicação entre colaboradores e clientes</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Não atender o volume de solicitações de atendimento nos prazos acordados</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Descentralização de canais e falta de histórico de atendimento</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<p class="h2 u-fontThin text-danger px-3 py-3 od-SalesFlow-arrow od-SalesFlow-arrow--right">"Um <strong>cliente insatisfeito impacta</strong> 11 pessoas e,<br>no mundo digital, mais de 1000."</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-12 col-md">
					<h2 class="u-fontThin">Qual o impacto de não ter um<br>Help Desk bem estruturado? </h2>
					<ul class="od-ListType mt-2">
						<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Perda de clientes, transparência e credibilidade</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Queda de produtividade, qualidade e eficiência</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Aumento de retrabalho, custo e insatisfação dos clientes</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Atendimento lento, desestruturado, sem profissionalismo</li>
					</ul>
				</div>
				<div class="col-12 col-md flex-first flex-md-last text-center">
					<img class="od-SalesFlow-image" src="/assets/images/lp/help-desk/impactos-sem-help-desk.png" alt="Impactos em não ter um help desk" title="Impactos em não ter um help desk">
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<p class="h2 u-fontThin text-danger px-3 py-3 od-SalesFlow-arrow od-SalesFlow-arrow--left">"<strong>Custa 4x mais</strong> fechar com um novo cliente do<br>que vender mais para um cliente existente."</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-12 col-md text-center">
					<img class="od-SalesFlow-image" src="/assets/images/lp/help-desk/canais-de-atendimento-ao-cliente.png" alt="Canais de atendimento de um sistema de help desk" title="Canais de atendimento de um sistema de help desk">
				</div>
				<div class="col-12 col-md">
					<h2 class="u-fontThin">Como resolver os problemas do seu Help Desk?</h2>
					<ul class="od-ListType mt-2">
						<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Organize, classifique e priorize os chamados de atendimento</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Atenda múltiplos canais, centralize as conversas e o histórico em um único lugar</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Acompanhe o desempenho da sua equipe e a satisfação dos seus clientes</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Padronize e automatize as tarefas do dia a dia. Sua equipe entregando mais com menos esforço</li>
					</ul>
					<a role="button" gtm-identificator="veja-nossas-funcionalidades-content" class="btn btn-success mt-1" [routerLink]="['/funcionalidades/atendimento-ao-cliente']">
						Veja nossas funcionalidades
						<i class="icon-next"></i>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<p class="h2 u-fontThin text-success px-3 py-3 od-SalesFlow-arrow od-SalesFlow-arrow--right">"Mercados maduros já utilizam <strong>sistemas<br>de Help Desk</strong> há mais de 10 anos."</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-12 col-md">
					<h2 class="u-fontThin">Quais são os benefícios de investir em uma solução de Help Desk?</h2>
					<ul class="od-ListType mt-2">
						<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Atenda melhor os seus clientes e construa relacionamentos verdadeiros</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Aumente a satisfação e a credibilidade com um atendimento ágil e preciso</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Eleve a qualidade do seu serviço ao controlar e otimizar o seu atendimento</li>
						<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Ganhe escala de atendimento e melhore a performance da sua equipe</li>
					</ul>
				</div>
				<div class="col-12 col-md flex-first flex-md-last text-center">
					<img class="od-SalesFlow-image" src="/assets/images/lp/help-desk/beneficios-com-help-desk.png" alt="Benefícios em utilizar um sistema de Help desk" title="Benefícios de um Help Desk">
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<p class="h2 u-fontThin text-success px-3 py-3">"<strong>Custa quase 10x</strong> mais trazer um novo cliente<br>do que manter um existente."</p>
				</div>
			</div>
		</div>
	</article>

	<!-- get to know -->
	<article class="od-Wrapper u-bgWarning u-o-hidden">
		<octadesk-get-to-know [btn-class]="'btn od-ButtonOutline--lighten'"></octadesk-get-to-know>
	</article>

	<!-- curt features -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-WhatIsOctades">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Funcionalidades para facilitar o dia a dia do seu Help Desk</h2>
				</div>
			</div>
			<octadesk-curt-features [area]="'getLpHelpDeskCurtFeatures'"></octadesk-curt-features>
		</div>
	</article>

	<!-- metrics -->
	<article class="od-Wrapper u-bgLightGray u-o-hidden">
		<octadesk-metrics></octadesk-metrics>
	</article>

	<!-- customers -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-Statement">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Clientes que estão melhorando seu Help Desk com Octadesk</h2>
				</div>
			</div>
			<div class="row mt-1">
				<div class="col-md-5">
					<ul class="row flex-items-center od-ListType">
						<li class="col-6 text-center od-ListType-item">
							<img src="/assets/images/customers/netpartners.png" alt="net partners" title="net partners">
						</li>
						<li class="col-6 text-center od-ListType-item">
							<img src="/assets/images/customers/uplexis.png" alt="up Lexis" title="up Lexis">
						</li>
						<li class="col-6 text-center od-ListType-item">
							<img src="/assets/images/customers/essence.jpg" alt="essence" title="essence">
						</li>
						<li class="col-6 text-center od-ListType-item">
							<img src="/assets/images/customers/smartget.jpg" alt="smart get" title="smart get">
						</li>
					</ul>
				</div>
				<div class="col-md-7 flex-middle od-Statement-item">
					<div class="row">
						<div class="col-lg-7 col-xl-8 push-lg-1 flex-lg-last">
							<p class="od-Statement-item-text">
								<i class="icon-quotes-left text-info"></i> O Octadesk nos ajudou a melhorar o nível de atendimento com nossos clientes,
								além de aumentar a eficiência do time de Help Desk, possibilitando redução de custo operacional.
								<i class="icon-quotes-right text-info"></i>
							</p>
							<div class="hidden-md-down od-Statement-item-signature">
								<strong>Alexandre de Cicco</strong><br> Proprietário - Netpartners
							</div>
						</div>
						<div class="col-lg-4 col-xl-3 push-lg-1 flex-lg-first">
							<div class="row d-flex align-items-center">
								<div class="col-3 col-sm-2 col-md-3 col-lg-12">
									<div class="rounded-circle od-Statement-item-thumb">
										<img src="/assets/images/customers/alexandre-de-cicco.png" alt="Alexandre de Cicco" title="Alexandre de Cicco">
									</div>
								</div>
								<div class="col-9 col-sm-10 col-md-9 hidden-lg-up od-Statement-item-signature">
									<strong>Alexandre de Cicco</strong><br> Proprietário
									<br> Netpartners
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-1">
				<div class="col text-center">
					<a role="button" gtm-identificator="veja-nossas-funcionalidades-content" class="btn btn-warning" [routerLink]="['/casos-de-sucesso/sistema-de-atendimento']">
						Transforme<span class="hidden-sm-up">-se</span> <span class="hidden-xs-down">seu projeto</span> em um caso de sucesso
					</a>
				</div>
			</div>
		</div>
	</article>

	<!-- pricing -->
	<article class="od-Wrapper u-bgLightGray">
		<div class="container od-ChoosePlan">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Planos para equipes de diferentes tamanhos</h2>
				</div>
			</div>
			<octadesk-choose-plan></octadesk-choose-plan>
		</div>
	</article>

</section>
