<img src="/assets/images/materials/ebook-para-helpdesk-melhorar-qualidade.jpg" alt="como melhorar a qualidade no atendimento ao cliente" width="100%">
<h4>Ebook</h4>
<h4 class="u-fontThin"> 17 dicas essenciais para melhorar <br> a qualidade no atendimento <br> ao cliente</h4>
<button type="button" gtm-identificator="ebook-17-dicas-para-melhorar-a-qualidade" (click)="downloadEbookQualidadeAtendimento()" class="mt-1 btn btn-warning cursor-pointer">Baixar ebook</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1484332456ebook_qualidade_atendimento.pdf?utm_source=site&utm_medium=button-site&utm_term=pagina-materiais&utm_content=lightbox&utm_campaign=Atendimento'"
  [gtm-form-id]="'ebook-17-dicas-para-melhorar-a-qualidade'"
  [rd-identificator]="'site-materiais-ebook-qualidade-atendimento'"
  [modal-title]="'17 dicas para melhorar a qualidade no atendimento'"
  [modal-submit-text]="'Baixar Ebook'">
</octadesk-form-modal>

