<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'como-reduzir-custos-com-atendimento-ao-cliente'"
[rd-identificador]="'prod-como-reduzir-custos-com-atendimento-ao-cliente'"
[imagem-header]="'/assets/images/lp/ebook-reduzir-custos/ebook_reduzir_custos_header.png'"
[hide-logo]="'false'"
[titulo]="'Precisando reduzir custos com atendimento ao cliente?'"
[sub-titulo]="'Descubra 13 atitudes matadoras para reduzir custos com atendimento ao cliente. É só baixar nosso eBook gratuitamente.'"
[alt-header]="'ebook - reduza custos com atendimento ao cliente'"
[titulo-form]="'Quero reduzir meus custos!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar eBook grátis!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1485211700ebook_octadesk_reducao_custos.pdf'"
>
</octadesk-lp-header-com-form>

<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Custos elevados? Atendimento descontrolado? Baixa produtividade da equipe?</h2>
        <p>Para empresas de todos os tamanhos que precisam reduzir custos de forma simples e eficiente, montamos um ebook excluisivo com as melhores práticas de atendimento ao cliente. Confira!</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-color-pig-safe-money">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Redução de custos</dt>
          <dd class="od-DescriptionList-detail">Investir em controle de atendimento de qualidade, organizar os processos e ter uma equipe qualificada contribuem para um atendimento mais rápido e eficiente, reduzindo os custos de operação.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-customer-lover">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Retenção de clientes</dt>
          <dd class="od-DescriptionList-detail">Reter clientes ajuda a reduzir custos com novos prospectos. Demonstre para o cliente que suas sugestões de melhoria serão endereçadas e devidamente escaladas.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-blackboard-charts">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Produtividade da equipe</dt>
          <dd class="od-DescriptionList-detail">Comunicação e treinamento são essenciais para garantir que todos estejam alinhados com os objetivos do negócio e que o cliente será atendido rapidamente, diminuindo custos e retrabalho.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-agent-star">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Atendimento eficiente</dt>
          <dd class="od-DescriptionList-detail">Direcione os esforços para responder com qualidade e em pouco tempo. Tente resolver o problema ou dúvida na primeira interação com o cliente, de preferência no mesmo dia da abertura da solicitação.</dd>
        </dl>
      </div>
    </div>
  </div>
</article>

<!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Investa em tecnologia</h2>
        <p>Descuidar do atendimento virtual é um dos principais erros cometidos pelas empresas. O cliente moderno está cada dia mais conectado. Negligenciar esse fato é dar um tiro no pé. Entre outras coisas, não investir em tecnologia para atendimento significa dar aos clientes poucos meios para se comunicarem com a equipe, ter sistemas lentos e que dificultam o andamento dos processos, não ter um sistema de gestão eficiente, não investir em inovação, não estar conectado ao maior número de plataformas online possível e não adotar tecnologia mobile.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/invista_tecnologia.png" alt="Invista em tecnologia para reduzir os custos com atenidmento ao cliente" title="Invista em tecnologia para reduzir os custos com atenidmento ao cliente">
      </div>
    </div>
  </div>
</div>
    
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-reduzir-custos/aumente_canais_atendimento.png" alt="Aumente os canais de atendimento para diminuir os custos com o relacionamento" title="Aumente os canais de atendimento para diminuir os custos com o relacionamento">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Aumente o número de canais de atendimento ao cliente</h2>
        <p>Os conceitos de Omni-channel, Multi-channel e Cross-channel tem como objetivo atender o cliente por múltiplos canais. É claro que cada modelo tem suas particularidades, porém todos visam aumentar os pontos de contato com o cliente de forma consistente. Tudo isso para que sua empresa esteja disponível para se relacionar com o seu cliente a qualquer hora e em qualquer lugar, atendendo as expectativas do consumidor moderno, cada vez mais conectado e imediatista.</p>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Estratégia multicanal eficiente</h2>
        <p>Para implantar uma estratégia multicanal eficiente, repense como os consumidores chegam até sua marca, produto ou serviço, e disponibilize esses novos canais em sua central de atendimento ao cliente. Além da potencial redução de custos, o atendimento multicanal possibilita que as respostas sejam cada vez mais rápidas, gerando mais oportunidades e aumentando o nível de satisfação dos clientes. Para suportar uma central de relacionamento multicanal, é recomendado adotar um sistema de gestão de atendimento que centralize todos os canais em um único ponto de contato, economizando tempo, aumentando a agilidade dos processos e evitando retrabalho.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/redes_chart.png" alt="Tenha uma integração multicanal eficiente" title="Tenha uma integração multicanal eficiente">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-reduzir-custos/sinergia_areas_empresa.png" alt="Faça as áreas da empresa conversar entre si para reduzir custos de atendimento" title="Faça as áreas da empresa conversar entre si para reduzir custos de atendimento">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Crie sinergia entre as áreas da empresa</h2>
      <p>Se cada canal e ponto de atendimento for desconectado dos demais, isso trará problemas para gerenciar o relacionamento com o cliente. Seguindo as melhores práticas de atendimento ao cliente, é recomendável centralizar todas as informações em um único lugar. Nesse caso, um sistema de atendimento irá ajudá-lo a melhorar a integração entre as áreas e pessoas. Essa tecnologia permite:</p>  
        <ul>
          <li>Compartilhar as informações de atendimento de forma eficiente</li>
          <li>Garantir a execução de procedimentos</li>
          <li>Padronizar e centralizar todo o histórico de atendimento</li>
          <li>Automatizar a atribuição e a priorização dos chamados dos clientes</li>
          <li>Acompanhamento e cumprimento de prazos</li>
        </ul>
        <p>Vale ressaltar também a importância de ter pessoas bem informadas e qualificadas, que saibam exatamente o que cada área faz e quais são suas atribuições e responsabilidades em cada etapa do processo de atendimento ao cliente.</p>
    </div>
  </div>
</div>
    
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Faça ações para a retenção de clientes</h2>
        <p>Você sabia que conquistar novos clientes é 5 vezes mais caro que retê-los? Por isso, as áreas de marketing, vendas e atendimento devem andar muito próximas, principalmente quando o objetivo é a fidelização de clientes. Aja para que seu atendimento não apenas solucione problemas, mas para que ele se torne uma fonte ativa e constante de comunicação que objetiva satisfazer as necessidades dos clientes.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-reduzir-custos/acoes_retencao_clientes.png" alt="Como fidelizar clientes?" title="O que fazer para fidelizar clientes?">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/como_atender_social.png" alt="Principais pontos para adotar uma estratégia de fidelização" title="Principais pontos para adotar uma estratégia de fidelização">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Principais pontos em uma estratégia de fidelização de clientes</h2>
        <ul>
          <li>Conheça a fundo o perfil do seu cliente para oferecer atendimento e ofertas personalizadas.</li>
          <li>Pense no cliente, entenda o que ele precisa e faça o máximo possível para atender suas necessidades.</li>
          <li>Mantenha a equipe unida pelo mesmo objetivo, treine a equipe de atendimento e vendas para atender bem e fidelizar clientes.</li>
          <li>Fidelize o cliente a curto prazo, torne frequente e ativa a comunicação com ele, demonstrando sempre a importância que ele tem para sua empresa.</li>
          <li>Demonstre para o cliente que as sugestões de melhoria que ele deu serão endereçadas e devidamente escaladas.</li>
          <li>Fique de olho na concorrência, entenda como ela está se relacionando com os clientes.</li>
          <li>Transparência, mantenha o cliente sempre informado sobre o andamento de suas solicitações.</li>
          <li>Utilize uma solução de gestão de atendimento ao cliente para suportar a sua estratégia de retenção.</li>
        </ul>
          <p>Ações de retenção ajudam a transformar seus clientes em fãs, incentivando a divulgação espontânea (boca a boca). Isto é mais barato do que conquistar um novo cliente e ainda melhora sua imagem.</p>
      </div>
    </div>
  </div>



<div class="u-bgLightGray">
    <div class="container od-SalesFlow">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md">
          <h2 class="u-fontThin">Use uma solução de gestão de atendimento ao cliente</h2>
          <p>Muitas empresas lidam com processos longos e ineficientes. Para reverter isso, muitas ferramentas de gestão podem te ajudar a reduzir as etapas de um atendimento e também agilizar a comunicação entre departamentos, facilitando toda a gestão e controle das informações e seus respectivos fluxos. Geralmente, quanto maior a empresa e seu crescimento, maior é a necessidade de adquirir um software de gestão de atendimento. Veja abaixo alguns motivos pelo qual sua empresa deve utilizar um software de gestão de atendimento ao cliente:</p>
            <ul>
              <li>Oferecer um portal de autoatendimento ao cliente</li>
              <li>Criar automaticamente tickets enviados por e-mail, formulários e redes sociais</li>
              <li>Controlar cadastro de clientes, produtos e serviços</li>
              <li>Supervisionar tarefas delegadas e controlar prazos de atendimento (SLA - Service level agreement)</li>
              <li>Centralizar e gerenciar canais de atendimento de forma unificada</li>
              <li>Criar uma base de dados com todo histórico de atendimentos realizados, evitando perda de informação</li>
              <li>Responder de forma padronizada os problemas e solicitações mais comuns</li>
          </ul>
        </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-reduzir-custos/solucao_gestao_atendimento.png" alt="Solução com gestão de clientes" title="Solução com gestão de clientes">
      </div>
    </div>  
  </div>
</div>


<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-fidelizar-clientes/impacto_satisfacao_cliente.png" alt="Ganho de escala e métricas diminui o custo com atendimento" title="Ganho de escala e métricas diminui o custo com atendimento">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Ganho de escala e métricas</h2>
        <ul>
          <li>Suportar e automatizar regras de negócio e a comunicação interna entre as áreas de forma padronizada</li>
          <li>Gerar relatórios personalizados com as métricas relevantes para gestão do atendimento</li>
          <li>Reduzir erros humanos, evitar retrabalhos e atendimentos duplicados</li>
          <li>Automatizar a criação, direcionamento e priorização dos tickets</li>
          <li>Segregar o atendimento em diferentes níveis, áreas e pessoas para ganhar agilidade e escala</li>
          <li>Notificar automaticamente os clientes sobre qualquer interação em sua solicitação</li>
          <li>Mensurar a performance das equipes de atendimento e acompanhar a produtividade de cada atendente</li>
          <li>Mensurar o nível de satisfação dos seus clientes</li>
          <li>Identificar os principais problemas que estão gerando transtornos ao seus clientes e suas respectivas prioridades de resolução</li>
          <li>Melhor desempenho no atendimento ao cliente, sendo possível filtrar e focar em tickets com maior criticidade</li>
        </ul>
        <p>Um sistema de atendimento ao cliente é uma das peças essenciais para otimizar e reduzir custos de atendimento. Com esse tipo de solução, você garante a qualidade do seu atendimento e impacta diretamente nas práticas de fidelização de clientes.</p>
    </div>
  </div>
</div>
<!-- resume -->
<article class="od-Wrapper u-bgLightGray">
  <div class="container"> 
    <h2 class="h1 u-fontThin">Resumo</h2>
    <p>As empresas estão constantemente preocupadas em proteger o seu ativo mais importante, seus clientes! Hoje em dia não basta ter um produto e/ou serviço de qualidade, precisamos prover um atendimento ao cliente excepcional, diferenciado, que ao mesmo tempo seja escalável. Pensando nisso, montamos um eBook exclusivo com 13 dicas essenciais para reduzir custos com atendimento ao cliente. Não deixe de conferir!</p>
  </div>
</article>