<article class="od-Wrapper u-bgPurple">
		<div class="container u-alignCenter od-DoingMore text-white">
			<p class="h3 u-fontThin u-alignCenter-item u-cta od-DoingMore-text">
				Faça mais com menos, experimente o Octadesk
			</p>
			<div class="u-alignCenter-item u-cta od-DoingMore-actions">
				<button type="button" gtm-identificator="avaliacao-gratis-content" class="btn btn-warning" (click)="openTrialModal()">
					Avaliação grátis <i class="icon-next"></i>
				</button>
				<try-octadesk-modal [gtm-form-id]="'avaliacao-gratis-content'" [rd-identificator]="'form-trial-experimente-o-octadesk'"></try-octadesk-modal>
				<!--<a class="btn btn-warning" href="http://setup.octadesk.com/create-account">
					Avaliação grátis <i class="icon-next"></i>
				</a>-->
			</div>
		</div>
	</article>
