<section id="pricing-view">

   <!--H1 SEO -->
   <h1 class="titleHide"> Planos do sistema de chamados Octadesk</h1>

	<!-- header -->
	<header class="od-Wrapper od-Wrapper--cb u-bgLightGray">
		<div class="container od-ChoosePlan">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Escolha o plano perfeito para sua empresa</h2>
				</div>
			</div>
			<div class="mt-4">
				<octadesk-choose-plan></octadesk-choose-plan>
			</div>
		</div>
	</header>
	<article class="od-Wrapper u-bgLightGray">
      <octadesk-chat-banner></octadesk-chat-banner>
	</article>

	<article class="od-Wrapper u-bgWhite">
    <octadesk-compare-plans-cta></octadesk-compare-plans-cta>
	</article>

	<!-- perguntas frequentes -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-CommonQuestions">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1"><span class="u-fontThin">Perguntas Frequentes</span></h2>
				</div>
			</div>
			<octadesk-common-questions></octadesk-common-questions>
		</div>
	</article>


	<div class="container">
		<hr>
	</div>

	<!-- customers -->
	<article class=" od-Wrapper u-bgWhite">
			<h2 class="h1 u-fontThin text-center">Clientes que confiam no Octadesk</h2>
			<p class="text-center">A flexibilidade do nosso sistema de atendimento ao cliente e Help Desk permite atender empresas de diferentes portes e segmentos de mercado.</p>
		<octadesk-customers></octadesk-customers>
	</article>


	<!-- statement -->
	<article class="od-Wrapper u-bgWhite">
		<octadesk-statement></octadesk-statement>
	</article>

</section>
