<img src="/assets/images/materials/imagem_ebook_satisfacao_agradecimento.png" alt="7 dicas poderosas para fidelizar seus clientes" title="7 dicas poderosas para fidelizar seus clientes" width="100%">
<h4>Ebook</h4>
<h4 class="u-fontThin">7 dicas poderosas para <br> fidelizar seus clientes</h4>
<button type="button" gtm-identificator="ebook-7-dicas-para-fidelizar-clientes" (click)="downloadEbookModal()" class="mt-1 btn btn-warning cursor-pointer">Baixar ebook</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1495718829ebook-7-dicas-poderosas-para-fidelizar-seus-clientes.pdf?utm_source=site&utm_medium=button-site&utm_term=pagina-materiais&utm_content=lightbox&utm_campaign=Atendimento'"
  [gtm-form-id]="'download-ebook-home-content'"
  [rd-identificator]="'site-materiais-ebook-do-inferno-ao-ceu'"
  [modal-title]="'7 dicas poderosas para fidelizar seus clientes'"
  [modal-submit-text]="'Baixar Ebook'">
</octadesk-form-modal>
