<img src="/assets/images/materials/apresentacao-helpdesk-octadesk.jpg" alt="apresentação octadesk - atendimento ao cliente" width="100%">
<h4 >Apresentação</h4>
<h4 class="u-fontThin"> Conheça o Octadesk:<br> Sistema de Help Desk e <br> Atendimento ao cliente</h4>
<button type="button" gtm-identificator="apresentacao-octadesk" (click)="DownloadApresentacaoModalComponent()" class="mt-1 btn btn-warning cursor-pointer">Baixar Apresentação</button>
<octadesk-form-modal
  [material-url]="'/documentos/apresentacao_octadesk.pdf?utm_source=site&utm_medium=button-site&utm_term=pagina-materiais&utm_content=lightbox&utm_campaign=Institucional'"
  [gtm-form-id]="'apresentacao-octadesk'"
  [rd-identificator]="'site-materiais-apresentacao-helpdesk-octadesk'"
  [modal-title]="'Gestão de processos no atendimento ao cliente'"
  [modal-submit-text]="'Baixar Apresentação'">
</octadesk-form-modal>


