<img src="/assets/images/materials/ebook-para-helpdesk-atendimento-ao-cliente.jpg" alt="como reduzir custos de atendimento ao cliente " width="100%">
<h4>Ebook</h4>
<h4 class="u-fontThin"> Reduza custos com 13 atitudes <br> matadoras de atendimento <br> ao cliente</h4>
<button type="button" gtm-identificator="ebook-reduza-custos-com-13-atitudes-matadoras" (click)="downloadEbookAtendimentoModal()" class="mt-1 btn btn-warning cursor-pointer">Baixar ebook</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1485211700ebook_octadesk_reducao_custos.pdf?utm_source=site&utm_medium=button-site&utm_term=pagina-materiais&utm_content=lightbox&utm_campaign=Atendimento'"
  [gtm-form-id]="'ebook-reduza-custos-com-13-atitudes-matadoras'"
  [rd-identificator]="'site-materiais-ebook-reduzir-custos'"
  [modal-title]="'Reduza custos com 13 atitudes de atendimento ao cliente'"
  [modal-submit-text]="'Baixar Ebook'">
</octadesk-form-modal>

