<article class="od-Wrapper banner-margin-top-negative">
  <div class="container">
    <div class="d-flex justify-content-around">
      <div class="d-flex">
        <div class="container-icon">
            <i class="icon-pizza-chart"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
        </div>
        <div>
          <p> {{TitleLeft}}</p>
          <a [routerLink]="['/funcionalidades/atendimento-ao-cliente']" class="btn btn-warning"> {{TitleBtnLeft}}</a>
        </div>
      </div>
      <div class="d-flex">
        <div class="container-icon">
            <i class="icon-copy-o"></i>
        </div>
        <div>
            <p> {{TitleRight}}</p>
            <a [routerLink]="['/planos/sistema-de-chamados']" class="btn btn-warning"> {{TitleBtnRight}}</a>
        </div>
      </div>
    </div>
  </div>
</article>