<div class="container u-alignCenter od-SaleOff">
	<p class="h3 u-alignCenter-item u-cta u-fontThin od-SaleOff-text">
		Assine o Octadesk agora e ganhe 30% de desconto
	</p>
	<div class="u-alignCenter-item u-cta od-SaleOff-timer">
		<div class="text-white">Promoção acaba em:</div>
		<dl class="od-SaleOff-timer-counter">
			<dt>12</dt>
			<dd>Horas</dd>
		</dl>
		<dl class="od-SaleOff-timer-counter">
			<dt>32</dt>
			<dd>Min</dd>
		</dl>
		<dl class="od-SaleOff-timer-counter">
			<dt>49</dt>
			<dd>Seg</dd>
		</dl>
	</div>
	<div class="u-alignCenter-item u-cta od-SaleOff-actions">
		<button type="button" class="btn od-ButtonOutline--lighten">
			Aproveite a promoção <i class="icon-next"></i>
		</button>
	</div>
</div>
