<article class="od-Wrapper" [ngClass]="bgColor">
	<div class="container od-GainServiceScale">
		<div class="row">
			<div class="col text-center">
				<h2 class="h1 u-fontThin">{{headerTitle}}<br class="hidden-md-down">{{headerTitle2}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 text-center mt-3">
				<img class="od-GainServiceScale-image" src="/assets/images/features/automacao-workflow.png" alt="{{imgAlt1}}">
			</div>
			<div class="col-lg-6 mt-3">
				<h3><i class="icon-workflow-o text-info"></i>{{topicTitle1}}</h3>
				<p><strong>{{topicSubtitle1}}</strong></p>
				<ul>
					<li>{{topic1}}</li>
					<li>{{topic2}}</li>
					<li>{{topic3}}</li>
				</ul>
				<h3 class="mt-3"><i class="icon-cog-loop-o text-info"></i> {{topicTitle2}}</h3>
				<p><strong>{{topicSubtitle2}}</strong></p>
				<ul>
					<li>{{topic4}}</li>
					<li>{{topic5}}</li>
					<li>{{topic6}}</li>
				</ul>
			</div>
		</div>
		<hr class="od-GainServiceScale-line">
		<div class="row">
			<div class="col-lg-6 mt-3">
				<h3><i class="icon-copy-o text-info"></i>{{topicTitle3}}</h3>
				<p><strong>{{topicSubtitle3}}</strong></p>
				<ul>
					<li>{{topic7}}</li>
					<li>{{topic8}}</li>
					<li>{{topic9}}</li>
				</ul>
				<h3 class="mt-3"><i class="icon-brain-o text-info"></i>{{topicTitle4}}</h3>
				<p><strong>{{topicSubtitle4}}</strong></p>
				<ul>
					<li>{{topic10}}</li>
					<li>{{topic11}}</li>
					<li>{{topic12}}</li>
				</ul>
			</div>
			<div class="col-lg-6 flex-first flex-lg-last text-center mt-3">
				<img class="od-GainServiceScale-image" src="/assets/images/features/automacao-smart-form.png" alt="{{imgAlt2}}" title="Formulários personalizados">
			</div>
		</div>
	</div>
</article>
