<section id="success-stories-view">
  <!--H1 SEO -->
  <h1 class="titleHide"> Casos de sucesso com um sistema de atendimento ao cliente</h1>

	<!-- header -->
	<header class="od-Wrapper u-bgLightGray">
		<div class="container od-Header od-Header--successStories">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Transforme seu projeto em um caso de sucesso.</h2>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col-md-6 col-lg-7 text-right mt-2">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="640" height="360" src="https://www.youtube.com/embed/YTqpOD-mdj8" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6 col-lg-5 od-Statement mt-2">
					<div class="od-Statement-item">
						<p class="od-Statement-item-text">
							<i class="icon-quotes-left text-warning"></i> Octadesk consegue agregar todas as informações da empresa necessárias
							para um atendimento personalizado de forma que o cliente se sinta conhecido e especial desde o primeiro momento.
							<i class="icon-quotes-right text-warning"></i>
						</p>
						<div class="od-Statement-item-signature">
							<strong>Rodrigo Von</strong><br> Sócio Diretor - Plano &amp; Plano incorporação
						</div>
					</div>
					<button type="button" class="btn btn-warning mt-2"  gtm-identificator="fale-com-nossos-consultores-header" (click)="openContactModal()">
						Fale com nossos consultores
					</button>
					<!-- <octadesk-contact-consultores-modal [gtm-form-id]="'fale-com-nossos-consultores-header'" [rd-identificator]="'site-modal-consultores-casos-de-sucesso'" ></octadesk-contact-consultores-modal> -->
					<i class="icon-arrow-top-left text-primary"></i>

				</div>
			</div>
		</div>
	</header>

	<!-- success stories -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-SuccessStories">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin" >Descubra como podemos melhorar sua operação com nosso sistema de atendimento ao cliente.</h2>
				</div>
			</div>

			<!-- Roge | Distribuidora -->
			<div class="row d-flex align-items-center mt-3">
				<div class="col hidden-md-down">
					<div class="rounded-circle od-SuccessStories-thumb">
						<img src="/assets/images/success-stories/distribuidoras.jpg" alt="Distribuidoras" title="Distribuidoras">
					</div>
				</div>
				<div class="col col-xl-8">
					<h3 class="od-SuccessStories-title">
						<img src="/assets/images/success-stories/roge.jpg" alt="Roge" title="Roge">
						<span>Distribuidora</span>
					</h3>
					<p><strong>Atuando no setor de distribuição de itens de cosméticos, higiene pessoal, limpeza, bebidas e outros, a Roge enfrenta o desafio diário de entregar mais de 40.000 volumes no menor tempo e com a maior qualidade possível.</strong></p>
					<p>
						Isto se reflete diretamente na preocupação e controle da sua operação de atendimento. Utilizando o Octadesk em conjunto com
						o nosso App de integração com a Nota Fiscal eletrônica (NFBox), foi possível estabelecer um sistema de atendimento contextualizado,
						onde todas as solicitações são originadas a partir da busca do item pelo número da Nota Fiscal, pedido ou boleto do
						cliente.
					</p>
					<p>
						Ao utilizar os recursos disponibilizados nativamente pelo sistema de atendimento do Octadesk, a Roge conseguiu alcançar um maior nível de controle
						e governança no relacionamento com os seus clientes. Além de resultar em um atendimento mais ágil e de maior qualidade,
						nossa funcionalidade de workflow ajudou a aumentar a integração e colaboração entre as diversas áreas da empresa.
					</p>
				</div>
			</div>

			<!-- Plano & Plano | Construtora -->
			<div class="row d-flex align-items-center mt-3">
				<div class="col col-xl-8">
					<h3 class="od-SuccessStories-title">
						<img src="/assets/images/success-stories/plano-e-plano.jpg" alt="Plano & Plano" title="Plano & Plano">
						<span>Construtora</span>
					</h3>
					<p><strong>Com o objetivo de prestar serviços de engenharia e construção de qualidade, a Plano&amp;Plano é considerada hoje uma das maiores construtoras e incorporadoras do País.</strong></p>
					<p>
						Com praticamente 20 anos de existência, a empresa mantém até hoje a mesma missão: "Construir e entregar sonhos". Para suportar
						essa estratégia, a Plano &amp; Plano utiliza o sistema de atendimento do Octadesk para gerenciar o relacionamento com seus mais de 20.000 clientes.
					</p>
					<p>
						Visando um atendimento de qualidade, integramos nosso sistema de atendimento com 4 diferentes softwares, melhorando a experiência
						de atendimento e a colaboração entre diversas áreas de negócio.
					</p>
					<p>
						Ao centralizarmos em uma única plataforma informações financeiras, jurídicas (contratos) e questões relacionadas a assistência
						técnica, tornamos o atendimento mais enxuto, rápido e personalizado para cada cliente.
					</p>
				</div>
				<div class="col hidden-md-down">
					<div class="rounded-circle od-SuccessStories-thumb">
						<img src="/assets/images/success-stories/construcao-civil.jpg" alt="Construção civil" title="Construção civil">
					</div>
				</div>
			</div>

			<!-- Zambon | Farmacêutica -->
			<div class="row d-flex align-items-center mt-3">
				<div class="col hidden-md-down">
					<div class="rounded-circle od-SuccessStories-thumb">
						<img src="/assets/images/success-stories/industria-farmaceutica.jpg" alt="Indústria farmacêutica" title="Indústria farmacêutica">
					</div>
				</div>
				<div class="col col-xl-8">
					<h3 class="od-SuccessStories-title">
						<img src="/assets/images/success-stories/zambon.jpg" alt="Zambon" title="Zambon">
						<span>Farmacêutica</span>
					</h3>
					<p><strong>Laboratório farmacêutico Italiano (centenário), presente no Brasil há quase 60 anos, a Zambon destaca-se pelo seu foco em pessoas e inovação.</strong></p>
					<p>
						Atualmente sua operação no Brasil é uma das mais importantes e representativas do grupo. A estrutura comercial da Zambon
						é composta por diversos representantes de vendas espalhados pelo país, onde um sistema de atendimento rápido e eficaz é essencial
						para garantir a performance da equipe e ao mesmo tempo transparecer um dos principais valores da empresa que é "ser
						um organização única".
					</p>
					<p>
						Com base nessa premissa, o sistema de atendimento do Octadesk pôde auxiliá-los na colaboração entre as diversas áreas de negócio e no atendimento do
						time de representantes, garantindo uma resposta rápida e precisa.
					</p>
				</div>
			</div>

			<!-- upLexis | Desenvolvimento de software -->
			<div class="row d-flex align-items-center mt-3">
				<div class="col col-xl-8">
					<h3 class="od-SuccessStories-title">
						<img src="/assets/images/success-stories/uplexis.jpg" alt="upLexis" title="upLexis">
						<span>Desenvolvimento de software</span>
					</h3>
					<p><strong>Atuando há mais de dez anos no mercado, a upLexis&reg; é uma empresa especializada no desenvolvimento de tecnologias emergentes para análise e interpretação de grandes volumes de dados (bigdata) extraídos da internet e de outras bases de conhecimento.</strong></p>
					<p>
						Com a missão de proporcionar inteligência para operações de negócios onde a informação relevante desempenha um papel crítico
						no exercício da tomada de decisão, os clientes da upLexis demandam soluções de missão crítica e consequentemente um
						atendimento excepcional ao mesmo nível de suas plataformas.
					</p>
					<p>
						O sistema de atendimento do Octadesk permitiu que a upLexis aproxime-se ainda mais dos seus clientes, tendo controle absoluto da sua operação de suporte
						de primeiro e segundo nível, conseguindo priorizar corretamente as demandas entre as diversas áreas da empresa, garantindo
						um atendimento ágil e consistente.
					</p>
				</div>
				<div class="col hidden-md-down">
					<div class="rounded-circle od-SuccessStories-thumb">
						<img src="/assets/images/success-stories/desenvolvimento-de-software.jpg" alt="Desenvolvimento de software" title="Desenvolvimento de software">
					</div>
				</div>
			</div>

			<!-- Netpartners | Consultoria -->
			<div class="row d-flex align-items-center mt-3">
				<div class="col hidden-md-down">
					<div class="rounded-circle od-SuccessStories-thumb">
						<img src="/assets/images/success-stories/consultoria.jpg" alt="Consultoria" title="Consultoria">
					</div>
				</div>
				<div class="col col-xl-8">
					<h3 class="od-SuccessStories-title">
						<img src="/assets/images/success-stories/netpartners.jpg" alt="Netpartners" title="Netpartners">
						<span>Consultoria</span>
					</h3>
					<p><strong>Fundada em 1996, a Netpartners conta com um portfólio de soluções para otimizar as vendas de seus clientes, combinando plataformas de TI com consultoria de negócios e finanças.</strong></p>
					<p>Para garantir um suporte de qualidade, melhorar a experiência de atendimento e ao mesmo tempo aumentar a colaboração
						entre as diversas áreas de negócio, a Netpartners implantou o sistema de atendimento do Octadesk para centralizar em uma única plataforma todas
						as informações necessárias para tornar o atendimento mais ágil e personalizado para cada cliente.</p>
					<p>Com o aumento do portifólio de soluções e da carteira de clientes, atendimento é umas das prioridade da estratégia de
						crescimento da Netpartners.</p>
					<p>Ao utilizar as funcionalidades nativas do sistema de atendimento do Octadesk, foi possível estabelecer um atendimento mais preciso, eficiente
						e alcançar um maior nível de governança e controle.</p>
				</div>
			</div>
			<!-- Arkab IT | Consultoria -->
			<div class="row d-flex align-items-center mt-3">
				<div class="col col-xl-8">
					<h3 class="od-SuccessStories-title">
						<img src="/assets/images/success-stories/arkab_it.jpg" alt="arkab - caso de sucesso de empresa de tecnologia da informação" title="arkab_it">
						<span>Tecnologia da Informação</span>
					</h3>
					<p><strong>A Arkab IT é uma empresa de tecnologia da informação, especializada em SAP Business One e com<br>
					grande experiência no mercado corporativo. Além de investir em consultoria e produtos com o<br>
					intuito de personalizar soluções, a Arkab fornece aos seus clientes um CRM voltado às vendas. Com<br>
					isso, simplifica processos e centraliza operações, garantindo eficiência na gestão dos<br>
					empreendimentos.</strong></p>
					<p>
						 Sabendo da importância do relacionamento com o cliente para o negócio, a Arkab IT adotou a solução<br>
						 Octadesk como sistema de atendimento. Assim, garantiu um suporte de qualidade para seus clientes,<br>
						 melhorando suas experiências como consumidores. Com o software, a Arkab conseguiu centralizar,<br>
						 em um único lugar, todos os dados e informações importantes para assegurar precisão, agilidade e<br>
						 organização no atendimento.
					</p>

				</div>
				<div class="col hidden-md-down">
					<div class="rounded-circle od-SuccessStories-thumb">

						<img src="/assets/images/success-stories/consultoria-arkab.jpg" alt="Consultoria" title="Consultoria">
					</div>
				</div>
			</div>

		</div>
	</article>

	<!-- free trial -->
	<article class="od-Wrapper u-bgOrangeOffice">
		<octadesk-free-trial></octadesk-free-trial>
	</article>

	<!-- metrics -->
	<article class="od-Wrapper u-bgLightGray u-o-hidden">
		<octadesk-metrics></octadesk-metrics>
	</article>

	<!-- customers -->
	<article class="od-Wrapper u-bgWhite">
		<octadesk-customers></octadesk-customers>
	</article>


</section>
