<div id="od-FooterContact" class="container">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-5" *ngIf="router.url.indexOf('/contato') == -1">
      <div class="mb-1">
        <h5 class="u-font-W300">Queremos que você tenha a melhor experiência de
          <br> atendimento, até quando estiver com problemas ou dúvidas!
        </h5>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-2">
          <a class="cursor-pointer" (click)="openContactModal()">
            <div class="rounded-circle contact-support-footer-thumb">
              <img src="/assets/images/consultora-octadesk.jpg" alt="Consultora octadesk" title="Consultora octadesk">
            </div>
          </a>
        </div>
        <div class="col-9">
          <a class="cursor-pointer" (click)="openContactModal()">
            <div class="support-balloon">
              <h6 class="mb-0 text-purple u-font-W500">Tire suas dúvidas
                <i class="icon-next"></i>
              </h6>
              <p class="mb-0 u-font-W500">Converse com um dos nossos consultores</p>
              <octadesk-contact-consultores-modal [gtm-form-id]="'fale-com-nossos-consultores-header'" [rd-identificator]="'site-modal-consultores-casos-de-sucesso'"></octadesk-contact-consultores-modal>
            </div>
          </a>
        </div>
        <div class="container">
          <hr>
        </div>
        <div class="col-8">
          <p class="text-sm-left mb-0 u-font-W700  hidden-xs-down">Contato</p>
        </div>
        <div class="col-sm-4 hidden-xs-down">
          <p class="text-sm-right mb-0 text-purple u-font-W700">(11) 2222-1422</p>
        </div>
      </div>
      <octadesk-contact-form [gtm-form-id]="'mini-form-contato-footer'" [rd-identificador]="'site-contato-footer'"></octadesk-contact-form>
      <hr class="hidden-lg-up">
    </div>
    <div class="col-12 col-lg-6 col-xl-7 no-margin-od-ListType-item">
      <!-- menu -->
      <div class="row hidden-md-down">
        <div class="col-lg-6 mb-2">
          <nav>
            <ul class="od-ListType od-ListType--fontSmall float-right">
              <li class="od-ListType-item mb-1">
                <h6>
                  <strong>Produto</strong>
                </h6>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/funcionalidades/atendimento-ao-cliente']">Funcionalidades</a>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/planos/sistema-de-chamados']">Planos</a>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/comparativo/controle-de-chamados']">Comparativo de planos</a>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/casos-de-sucesso/sistema-de-atendimento']">Casos de sucesso</a>
              </li>
              <li class="od-ListType-item mt-3">
                <h6>
                  <strong>Materiais</strong>
                </h6>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" target="_blank" href="https://blog.octadesk.com/">Blog</a>
              </li>
              <li style="cursor: pointer !important;" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" target="_blank" href="#">Materiais</a>
                <div class="collapse ml-1" id="collapseExample">
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/mandamentos-qualidade-de-atendimento']">[eBook] Sucesso no Atendimento</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/ebook-dicas-fidelizar-clientes']">[eBook] 7 dicas para fidelizar seus clientes</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/ebook-qualidade-no-atendimento-ao-cliente']">[eBook] Aumente a Qualidade de Atendimento</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/ebook-bom-atendimento-contabilidades']">[eBook] 7 Erros de Contabilidade</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/bom-atendimento-ao-cliente']">[eBook] Gestão de Pessoas no atendimento</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/ebook-jornada-do-cliente']">[eBook] Jornada do Cliente</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/ebook-manual-nps']">[eBook] Manual Rápido do NPS</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/ebook-reduzir-custos-de-atendimento']">[eBook] Reduza Custos com Atendimento</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/info-como-atender-um-cliente']">[Infográfico] Atender bem em Redes Sociais</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/servico-de-atendimento-ao-cliente']">[Infográfico] Gestão de Processos</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/infografico-fidelizacao-clientes']">[Infográfico] Marketing de Retenção</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/infografico-canais-de-atendimento']">[Infográfico] Tecnologia no Atendimento</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/planilha-cadastro-de-clientes']">[Planilha] Cadastro de Clientes</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/kit-customer-centric']">[Kit] Gestão Focada em Atendimento ao Cliente</a>
                  </li>
                  <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                    <a class="od-ListType-link" [routerLink]="['/webinar-sistema-de-chamados']">Webinar Octadesk</a>
                  </li>
                </div>
              </li>

            </ul>
          </nav>
        </div>
        <div class="col-lg-3 mb-2">
          <nav>
            <ul class="od-ListType od-ListType--fontSmall">

              <li class="od-ListType-item mb-1">
                <h6>
                  <strong>Soluções</strong>
                </h6>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/atendimento-ao-cliente']">Atendimento ao cliente</a>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/chat-para-site']">Chat</a>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/help-desk']">Help desk</a>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/sistema-de-chamados']">Sistema de chamados</a>
              </li>
              <li class="od-ListType-item mt-3">
                <h6>
                  <strong>Comparativos</strong>
                </h6>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/concorrentes/zendesk']">Zendesk</a>
              </li>
              <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
                <a class="od-ListType-link" [routerLink]="['/concorrentes/freshdesk']">Freshdesk</a>
              </li>

            </ul>
          </nav>
        </div>
        <div class="col-lg-3 mb-2">
          <ul class="od-ListType od-ListType--fontSmall">

            <li class="od-ListType-item mb-1">
              <h6>
                <strong>Institucional</strong>
              </h6>
            </li>

            <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
              <a class="od-ListType-link" target="_blank" href="https://help.octadesk.com/kb">Suporte</a>
            </li>

            <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
              <a class="od-ListType-link cursor-pointer" gtm-identificator="solicitar-demonstracao-footer" (click)="openContactModal()">Solicite uma demonstração</a>
              <octadesk-contact-consultores-modal [rd-identificator]="'site-modal-contact'"></octadesk-contact-consultores-modal>
            </li>
            <li class="od-ListType-item od-ListType-item--arrow od-ListType-item--bulletWarning">
              <a class="od-ListType-link" [routerLink]="['/contato']">Contato</a>
            </li>


            <li class="od-ListType-item mt-5">
              <h6>
                <strong>Parceiros</strong>
              </h6>
            </li>
            <li class="od-ListType-item mt-1">
              <img src="/assets/images/microsoft.png" alt="Logo Microsoft" title="Logo Microsoft">
            </li>
            <li class="od-ListType-item mt-2">
              <img src="assets/images/endeavor.png" alt="Logo Endeavor" title="Logo Endeavor">
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="od-copyright-social-bg-white mt-2">
  <div class="container">
    <div class="row">
      <div class="col od-copyright-social-flex">
        <p class="text-center  od-Copyright float-left mt-1"> O
          <a class="text-purple" [routerLink]="['/']">Octadesk</a> é um
          <a class="text-purple" [routerLink]="['/atendimento-ao-cliente']">Sistema de atendimento ao cliente</a> e
          <a class="text-purple" [routerLink]="['/help-desk']">Help desk</a> focado em entregar resultados. &copy; 2017 Octadesk. Todos os direitos reservados. |
          <a class="text-purple" [routerLink]="['/politica-de-privacidade']">Política de privacidade</a> |
          <a class="text-purple" [routerLink]="['/termo-de-uso']">Termo de uso</a>
        </p>
        <nav class="od-Social float-right">
          <a class="od-Social-link od-Social-link--facebook" title="facebook" target="_blank" href="https://www.facebook.com/octadesk">
            <span class="sr-only">facebook</span>
            <i class="icon-facebook"></i>
          </a>
          <a class="od-Social-link od-Social-link--twitter" title="twitter" target="_blank" href="https://twitter.com/octadesk">
            <span class="sr-only">twitter</span>
            <i class="icon-twitter"></i>
          </a>
          <a class="od-Social-link od-Social-link--googlePlus" title="google plus" target="_blank" href="https://plus.google.com/118339634618037369241">
            <span class="sr-only">google plus</span>
            <i class="icon-google-plus"></i>
          </a>
          <a class="od-Social-link od-Social-link--linkedin" title="linkedin" target="_blank" href="https://www.linkedin.com/company/octadesk">
            <span class="sr-only">linkedin</span>
            <i class="icon-linkedin"></i>
          </a>
          <a class="od-Social-link od-Social-link--youtube" title="youtube" target="_blank" href="https://www.youtube.com/channel/UCYUOmC3uu-klxdHEbruhb2g">
            <span class="sr-only">youtube</span>
            <i class="icon-youtube"></i>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
