<section id="help-desk-lp">
	<!-- header -->
	<header class="od-Wrapper od-Header od-Header--lp od-Header--bgLPChat">
		<div class="container h-100">
			<div class="row d-flex align-items-center h-100">
				<div class="col-sm-6 col-md-7 col-xl-6">
					<h1 class="h2 u-font-W500">Procurando por um sistema de chat<br>para o seu site?</h1>
					<h2 class="u-fontThin">Conheça o Octachat, a forma mais rápida e fácil de ajudar os visitantes do seu site.</h2>
					<button type="button" gtm-identificator="experimente-gratis-header" class="btn btn-warning" (click)="openTrialModal()">Avalie grátis</button>
					<try-octadesk-modal [gtm-form-id]="'experimente-gratis-header'" [rd-identificator]="'form-trial-experimente-o-octadesk'"></try-octadesk-modal>
				</div>
			</div>
		</div>
	</header>

	<!-- Video chat -->
	<article class="od-Wrapper od-Wrapper--cb u-bgWhite u-o-hidden">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<video loop class="hidden-sm-down" width="100%" autoplay #ChatVideo>
						<source src="./assets/videos/lp/chat/chat.mp4" type="video/mp4">
					</video>
					<img class="hidden-md-up" src="./assets/images/lp/freshdesk/chat-interacao.jpg" width="100%" alt="Interações de chat para site Octadesk" title= "Chat para site Octadesk">
				</div>
			</div>
		</div>
	</article>

	<!-- free trial -->
	<article class="od-Wrapper u-bgOrangeOffice">
		<octadesk-free-trial></octadesk-free-trial>
	</article>

	<!-- customer expectations -->
	<article class="od-Wrapper u-bgLightGray">
		<div class="container od-CustomerExpectations">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">O que seus clientes esperam?</h2>
					<p>O cliente moderno é imediatista, tem preferência pelos canais online e busca por:</p>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col-lg-4 text-center">
					<div class="od-CustomerExpectations-thumb my-2">
						<i class="icon-bubble"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
					</div>
					<h4 class="u-fontThin">Facilidade de contato</h4>
					<span class="badge badge-lg text-info u-bgWhite badge-pill badge-default">Resolver o problema de forma fácil</span>
				</div>
				<span class="od-chat-divisor"></span>
				<div class="col-lg-4 text-center">
					<div class="od-CustomerExpectations-thumb my-2">
						<i class="icon-hourglass"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i>
					</div>
					<h4 class="u-fontThin">Menos tempo de espera</h4>
					<span class="badge badge-lg badge-pill text-info u-bgWhite">Velocidade no atendimento</span>
				</div>
				<span class="od-chat-divisor"></span>
				<div class="col-lg-4 text-center">
					<div class="od-CustomerExpectations-thumb my-2">
						<i class="icon-customer-loves"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></i>
					</div>
					<h4 class="u-fontThin">Atendimento mais pessoal</h4>
					<span class="badge badge-lg text-info u-bgWhite badge-pill badge-default">Se sentir único</span>
				</div>
			</div>
		</div>
	</article>

	<!--- distinct -->
	<article class="od-Wrapper u-bgMediumGrey">
		<div class="container od-Distinct text-white">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Por que utilizar nosso sistema de chat em seu site?</h2>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col-lg-3 text-lg-center">
					<div class="rounded-circle od-Distinct-thumb mt-1">
						<i class="icon-ticket-by-chat-o"></i>
					</div>
					<dl class="od-DescriptionList od-Distinct-description mt-1">
						<dt class="od-DescriptionList-title u-font-W500 mb-1">Atendimento fluído</dt>
						<dd class="od-DescriptionList-detail">Todas conversas do OctaChat podem gerar chamados que são tratados dentro do Octadesk</dd>
					</dl>
				</div>
				<div class="col-lg-3 text-lg-center">
					<div class="rounded-circle od-Distinct-thumb mt-1">
						<i class="icon-happy-face-o"></i>
					</div>
					<dl class="od-DescriptionList od-Distinct-description mt-1">
						<dt class="od-DescriptionList-title u-font-W500 mb-1">Clientes mais satisfeitos</dt>
						<dd class="od-DescriptionList-detail">Melhore a experiência de atendimento, diminua o tempo de espera e antecipe-se as dúvidas dos seus clientes</dd>
					</dl>
				</div>
				<div class="col-lg-3 text-lg-center">
					<div class="rounded-circle od-Distinct-thumb mt-1">
						<i class="icon-pig-safe-o"></i>
					</div>
					<dl class="od-DescriptionList od-Distinct-description mt-1">
						<dt class="od-DescriptionList-title u-font-W500 mb-1">Redução de custos</dt>
						<dd class="od-DescriptionList-detail">Diminua os custos com telefonia e aumente a produtividade da sua equipe. Faça mais com menos!</dd>
					</dl>
				</div>
				<div class="col-lg-3 text-lg-center">
					<div class="rounded-circle od-Distinct-thumb mt-1">
						<i class="icon-money-bag-o"></i>
					</div>
					<dl class="od-DescriptionList od-Distinct-description mt-1">
						<dt class="od-DescriptionList-title u-font-W500 mb-1">Aumento de vendas</dt>
						<dd class="od-DescriptionList-detail">Gere mais oportunidades, converse com os visitantes do seu site e converta-os em clientes</dd>
					</dl>
				</div>
			</div>
		</div>
	</article>

	<!-- embeded chat -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-WhatIsOctades">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Disponibilize o chat nos diversos canais de atendimento</h2>
				</div>
			</div>
			<octadesk-curt-features [area]="'getLpChatCurtFeatures'"></octadesk-curt-features>
		</div>
	</article>

	<!-- demo -->
	<article class="od-Wrapper u-bgOrangeOffice">
		<octadesk-demo></octadesk-demo>
	</article>

	<!-- chat install -->
	<article class="od-Wrapper u-bgLightGray">
		<div class="container od-ChatInstall">
			<div class="row">
				<div class="col text-center mb-2">
					<h2 class="h1 u-fontThin">Fácil de instalar e rápido de configurar</h2>
					<p>Adicione o chat em seu site e já comece a conversar com seus clientes.</p>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="u-ml-5perc col-lg-3 text-center">
					<span class="step copy"></span>
					<p class="h1 u-fontThin">Copie</p>
					<p>o código de ativação do chat</p>
				</div>
				<i class="col-lg-1 icon-angle-right u-transform-90"></i>
				<div class="col-lg-3 text-center">
					<span class="step paste"></span>
					<p class="h1 u-fontThin">Cole</p>
					<p>o código no HTML do seu site</p>
				</div>
				<i class="col-lg-1 icon-angle-right u-transform-90"></i>
				<div class="col-lg-3 text-center">
					<span class="step talk"></span>
					<p class="h1 u-fontThin">Converse</p>
					<p>em poucos minutos</p>
				</div>
			</div>
		</div>
	</article>

	<!-- chat settings -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-ChatSettings">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Deixe o chat com a cara da sua empresa</h2>
				</div>
			</div>
			<div class="row">
				<div class="col mt-3 text-center">
					<span class="icon icon-bullet-top-left hidden-md-up text-white">
						<span class="icon-brightness_1 text-warning"><p>1</p></span>
					</span>
					<i class="icon icon-arrow-left text-warning hidden-sm-down"></i>
					<div class="box box-left text-center u-bgLightGray hidden-sm-down">Defina o título do <br>chat na aba inicial</div>
					<img src="/assets/images/lp/chat/chat-configuracao.png" alt="Configurações Chat para site Octadesk" title="Chat para site">
					<span class="icon-bullet-top-right text-white number_bullet_circle hidden-md-up"><span class="icon-brightness_1 text-warning"><p>2</p></span></span>
					<i class="icon icon-arrow-top-right text-warning hidden-sm-down"></i>
					<div class="box box-top-right text-center u-bgLightGray hidden-sm-down">Escolha a cor que mais <br>combina com sua empresa</div>
					<span class="hidden-md-up icon-bullet-bottom-right text-white"><span class="icon-brightness_1 text-warning"><p>3</p></span></span>
					<i class="icon icon-arrow-bottom-left text-warning hidden-sm-down"></i>
					<div class="box box-bottom-left text-center u-bgLightGray hidden-sm-down">Selecione a posição do <br>chat na tela do seu site</div>
					<div class="mt-3 hidden-md-up">
						<ol class="text-warning text-center">
							<li><span class="text-gray-dark">Defina o título do chat na aba inicial </span></li>
							<li><span class="text-gray-dark">Escolha a cor que mais combina com sua empresa </span></li>
							<li><span class="text-gray-dark">Selecione a posição do chat na tela do seu site</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</article>

	<!-- chat available -->
	<article class="od-Wrapper od-Wrapper--cy od-Wrapper--bgChatAvailable u-o-hidden">
		<div class="container od-ChatAvailable">
			<div class="row">
				<div class="col text-center text-white">
					<h2 class="h1 u-fontThin my-2">Esteja sempre disponível para seu cliente</h2>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 od-ChatAvailable--day">
					<i class="icon-sun"></i>
					<div>
						<div class="bubble text-center mt-1 u-fontThin">Converse em tempo real <br>com seus clientes</div>
						<p class="mt-1"><i class="icon-brightness_1 text-success"></i> Chat online</p>
						<img src="/assets/images/lp/chat/chat-interface-cliente.png" alt="Interface do chat para site Octadesk" title="Interface - chat para site">
					</div>
				</div>
				<div class="col-lg-6 od-ChatAvailable--night">
					<i class="icon-brightness_1"></i>
					<div>
						<div class="bubble text-center mt-1 u-fontThin">Mesmo offline, não perca <br>oportunidade de negócio.</div>
						<p class="mt-1"><i class="icon-brightness_1 text-muted"></i> Chat offline</p>
						<img src="/assets/images/lp/chat/chat-interface-cliente-formulario-de-contato.png" alt="formulário de contato - chat para site Octadesk" title="Chat para site - Formulário de contato">
					</div>
				</div>
			</div>
		</div>
	</article>

	<!-- octachat pricing -->
	<article class="od-Wrapper u-bgLightGray">
		<div class="container u-alignCenter od-OctachatPricing">
			<div class="u-alignCenter-item u-cta text-center">
				<p class="h2 u-fontThin">Torne seu Octadesk mais poderoso com o Octachat</p>
				<button type="button" class="btn btn-warning" (click)="openContactModal()">Consulte-nos</button>
				<octadesk-contact-consultores-modal [rd-identificator]="'site-modal-contact-consultores'"></octadesk-contact-consultores-modal>
			</div>

		</div>
	</article>

</section>
