<img src="/assets/images/materials/imagem_infografico_Retencao.png" alt="infografico marketing de retencao" width="100%">
<h4>Infográfico</h4>
<h4 class="u-fontThin">Marketing de retenção</h4>
<button type="button" gtm-identificator="infografico-retencao" (click)="openModal()" class="mt-1 btn btn-warning cursor-pointer">Baixar infográfico</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1503409367infografico-marketing-de-rentencao.pdf'"
  [gtm-form-id]="'infografico-retencao'"
  [rd-identificator]="'lp-info-marketing-de-retencao'"
  [modal-title]="'Infográfico - Marketing de retenção'"
  [modal-submit-text]="'Baixar Infográfico'">
</octadesk-form-modal>


