<img src="/assets/images/materials/webinar-helpdesk-octadesk.jpg" alt="webinar de atendimento ao cliente" width="100%">
<h4>Webinar</h4>
<h4 class="u-fontThin"> Treinamento gratuito do <br> sistema de chamados <br> Octadesk</h4>
<button type="button" gtm-identificator="webinar-treinamento-octadesk" (click)="downloadWebinarModal()" class="mt-1 btn btn-warning cursor-pointer">Assistir webinar</button>
<octadesk-form-modal
  [gtm-form-id]="'webinar-treinamento-octadesk'"
  [rd-identificator]="'site-materiais-webinar-treinamento-octadesk'"
  [modal-title]="'Webinar da ferramenta de helpdesk Octadesk'"
  [modal-submit-text]="'Assistir Webinar'">
</octadesk-form-modal>

