<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'lp-planilha-cadastro-de-clientes'"
[rd-identificador]="'prod-lp-planilha-cadastro-de-clientes'"
[imagem-header]="'/assets/images/lp/planilha-cadastro-clientes/planilha_clientes_header.png'"
[hide-logo]="'false'"
[titulo]="'Planilha de cadastro de clientes: Organize seu atendimento'"
[sub-titulo]="'Descubra a melhor forma de organizar dados com nossa planilha de cadastro de clientes. Nosso material é um jeito simples e eficiente de você controlar seu atendimento, reduzir custos e aumentar a produtividade da sua equipe.'"
[alt-header]="'Planilha de cadastro de clientes'"
[titulo-form]="'Quero minha planilha grátis!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar planilha!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1494524040controle_de_cadastro_de_clientes_octadesk.xlsx'"
>
</octadesk-lp-header-com-form>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Os dados estão descentralizados e não dizem nada?</h2>
        <p>Quando o assunto é atendimento ao cliente, organização é essencial. Por isso, o cadastro de clientes deve ser feito com precisão, para evitar que informações importantes sobre eles fiquem perdidas pelo caminho. Pensando nisso, montamos uma planilha de cadastro de clientes exclusiva para você. Vamos te mostrar a importância de controlar o cadastro dos seus clientes para ter um atendimento eficiente e, com nossa planilha de cadastro de clientes, te oferecemos uma alternativa para esse tipo de gestão. Não perca!</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
            <i class="icon-client-profile">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span>
            </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Acessibilidade</dt>
          <dd class="od-DescriptionList-detail">Controlando os dados do seu cliente, você tem acesso rápido e fácil às informações que precisa para atendê-lo com precisão e eficiência. Aumentando a satisfação dos seus clientes.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-client-preferences">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Clareza das informações</dt>
          <dd class="od-DescriptionList-detail">Quando você categoriza os dados do cliente, sabe exatamente onde encontrar a informação que você precisa, como telefone da empresa ou data da última compra.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-octa-tatics">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Crie estratégias</dt>
          <dd class="od-DescriptionList-detail">Ter controle permite que você identifique quais os setores a maioria dos seus clientes atua. Isso permite que você trace estratégias para atender um público mais específico.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-hourglass-yellow">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Economize tempo</dt>
          <dd class="od-DescriptionList-detail">A planilha de cadastros de clientes centraliza todas as informações sobre o seu cliente em um único lugar. Com isso, você não perde tempo procurando os dados que você precisa.</dd>
        </dl>
      </div>
    </div>
  </div>
  </article>

  <!-- salesflow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Como a planilha de cadastro de clientes funciona?</h2>
          <p>A planilha que estamos disponibilizando para você está dividida entre informações da empresa e informações do cliente.
          <br>Sobre as informações da empresa, a planilha está segmentada da seguinte forma:
          <ul>
            <li>Nome da empresa</li>
            <li>Endereço fixo da empresa</li>
            <li>Cidade, estado e CEP</li>
            <li>Setor de atuação da empresa</li>
            <li>Informações de contato da empresa</li>
          </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/planilha-cadastro-clientes/como_funciona.png" alt="Planilha de cadastro de clientes - controlar os dados" title="Planilha de cadastro de clientes - controle de dados">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/planilha-cadastro-clientes/planilha_segmentada.png" alt="Planilha de cadastro de clientes - não perca dados importantes" title="Não perca dados importantes com a Planilha de cadastro de clientes">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Sobre as informações do contato, a planilha está segmentada da seguinte forma:</h2>
        <ul>
          <li>Nome do contato</li>
          <li>Área dentro da empresa</li>
          <li>Cargo</li>
          <li>Informações de contato do cliente</li>
          <li>Produtos/serviços contratados</li>
          <li>Data da última compra</li>
        </ul>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">O que significa controlar o cadastro dos seus clientes?</h2>
        <p>Controle de cadastro nada mais é do que a organização dos cadastros dos seus contatos. Esse processo envolve: coleta, armazenamento, categorização e priorização dos dados cadastrais dos clientes. Ao controlar o cadastro dos seus clientes, você:</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/planilha-cadastro-clientes/oque_significa.png" alt="Planilha de cadastro de clientes - identifique pontos de melhoria" title="Identifique pontos de melhoria com a Planilha de cadastro de clientes">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/planilha-cadastro-clientes/dados_importantes.png" alt="Planilha de cadastro de clientes - organização e controle" title="Planilha de cadastro de clientes">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Não perca dados importantes</h2>
        <p>Como a planilha permite que você categorize os dados dos clientes, você ganha em organização e sabe exatamente onde encontrar a informação que precisa. Quando você não centraliza as informações em um único lugar, você acaba tendo informações repetidas e soltas em muitos documentos. Assim, quando você precisar de determinando dado, não saberá onde ele está. Isso atrasa seu atendimento e deixa seu cliente impaciente esperando você procurar.</p>
      </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Evite erros e retrabalho</h2>
        <p>Concentrando os dados em um único lugar, você evita erros comuns, como informações divergentes e duplicação de dados, além de economizar o tempo da sua equipe. Sem um controle, você perde muito tempo tentando achar as informações, pois não tem um documento único que agregue todos os dados necessários para realizar o atendimento. Isso faz com que seu cliente fique insatisfeito e sinta-se desvalorizado, pois não está recebendo a atenção que merece.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/planilha-cadastro-clientes/evite_retrabalho.png" alt="Planilha de cadastro de clientes - como ela funciona?" title="Como a Planilha de cadastro de clientes funciona?">
      </div>
    </div>
  </div>
</div>
<div class="container od-SalesFlow">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-qualidade-atendimento/comportamentos_evitados.png" alt="Planilha de cadastro de clientes - informações de contato" title="Informações de contato na Planilha de cadastro de clientes">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Identifique problemas e pontos de melhoria</h2>
       <p>O controle de cadastros oferecido pela planilha faz com que você perceba o seu atendimento de um ponto de vista mais amplo, conseguindo identificar quais os principais problemas e onde você deve investir para melhorar aquilo que oferece para seus clientes.</p>
      </div>
  </div>
</div>

  <!-- resume -->
<article class="od-Wrapper u-bgLightGray">
  <div class="container">
    <h2 class="h1 u-fontThin">Resumo</h2>
    <p>Se você sofre com operações descontroladas, clientes insatisfeitos e tem dificuldade para estruturar o seu atendimento, nossa planilha de cadastro de clientes vai ajudar você a agilizar e otimizar processos. A planilha de cadastro de clientes está dividida entre:</p>
    <ul>
      <li><b>Informações da empresa:</b> nome, endereço, setor de atuação e informações de contato são os dados disponíveis para preenchimento.</li>
      <li><b>Informações do cliente:</b> nome, área, cargo, dados de contato, produtos ou serviços contratados e data da última compra são as informações que devem ser preenchidas nessa parte da planilha.</li>
    </ul>
    <p>Uma operação que atende clientes lida, diariamente, com vários tipos de solicitações, sobre os mais variados assuntos. Sem a devida organização, é impossível tirar conclusões com precisão. Por isso, é muito importante centralizar os dados dos seus clientes em um único lugar. 
      
      Com a organização que a planilha de cadastro oferece, você consegue economizar tempo, pois conta com informações centralizadas; não perde informações importantes, já que categoriza os dados; e identifica pontos de melhoria, pois é possível analisar o atendimento de um ponto de vista mais amplo, identificando problemas.
      
      Esperamos que você tenha percebido o quão importante é controlar o cadastros dos seus clientes para oferecer o melhor atendimento possível para eles.
      
      Para controle de cadastros, a melhor alternativa é um software de atendimento, mas, caso você ache que ainda não é a hora de adotar esse sistema, a planilha de cadastro de clientes é a melhor alternativa.
      
      Agora que você já sabe de toda a importância de realizar o cadastro dos clientes, baixe a planilha que preparamos especialmente para você!</p>
  </div>
</article>
