<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'infografico-como-atender-bem-seus-clientes-nas-redes-sociais'"
[rd-identificador]="'prod-infografico-como-atender-bem-seus-clientes-nas-redes-sociais'"
[imagem-header]="'/assets/images/lp/info-redes-sociais/Redes_Sociais_header.png'"
[hide-logo]="'false'"
[titulo]="'Você sabe como atender um cliente?'"
[sub-titulo]="'Se você sofre com a falta de organização do atendimento nas redes sociais, não deixe de baixar nosso infográfico e descubra como atender um cliente! '"
[alt-header]="'Infográfico de como atender um cliente nas redes sociais'"
[titulo-form]="'Quero meu infográfico grátis!'"
[subtitulo-form]="''"
[texto-submit]="'Baixar infográfico grátis!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms%2Ffiles%2F16315%2F1468242406infográfico_octadesk_atendimento_ao_cliente_final.pdf'"
>
</octadesk-lp-header-com-form>

<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Eficiência e agilidade no atendimento pelas redes sociais</h2>
        <p>Para pequenas, médias e grandes empresas que precisam organizar e ter controle sobre suas operações de atendimento pelas redes sociais, nosso infográfico é o material ideal para entender como atender um cliente, reduzindo custos e aumentando as vendas.</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-chart-up2">
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Engajamento dos clientes</dt>
          <dd class="od-DescriptionList-detail">É importante estar atento para as oportunidades de engajamento que seus clientes demonstram no mundo virtual. 35% das empresas sem rede social têm clientes que solicitam este serviço.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-color-money-bag">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Escolher a equipe certa</dt>
          <dd class="od-DescriptionList-detail">As pessoas fazem toda a diferença na hora do atendimento. 50% das empresas já possuem agentes resposáveis exclusivamente pela administração das redes sociais.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-blackboard-charts">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Monitorar, medir e otimizar</dt>
          <dd class="od-DescriptionList-detail">Monitoramento de métricas é essencial para o controle do atendimento. 48% das empresas avaliam o atendimento via rede social através dos padrões de satisfação KPIs.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-blackboard-charts">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Não ignore as redes sociais</dt>
          <dd class="od-DescriptionList-detail">As redes sociais espalham boas e más notícias em tempo recorde. Não ignore esse canal de atendimento e esteja sempre atento às postagens, elas podem formar a imagem da sua empresa. </dd>
        </dl>
      </div>
    </div>
  </div>
</article>

<!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Investa em tecnologia</h2>
        <p>Descuidar do atendimento virtual é um dos principais erros cometidos pelas empresas. O cliente moderno está cada dia mais conectado. Negligenciar esse fato é dar um tiro no pé. Entre outras coisas, não investir em tecnologia para atendimento significa dar aos clientes poucos meios para se comunicarem com a equipe, ter sistemas lentos e que dificultam o andamento dos processos, não ter um sistema de gestão eficiente, não investir em inovação, não estar conectado ao maior número de plataformas online possível e não adotar tecnologia mobile.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/invista_tecnologia.png" alt="Marketing de retenção e fidelização de clientes" title="Marketing de retenção e fidelização de clientes">
      </div>
    </div>
  </div>
</div>
    
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/atendimento_redes_sociais.png" alt="Fidelização de clientes - Keep e grow" title="Keep e grow - fidelização de clientes">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Porque investir em atendimento nas redes sociais?</h2>
        <ul>
          <li>Mais de 1,2 bilhão de pessoas já estão no Facebook</li>
          <li>Mais de 500 milhões de tweets são enviados por dia</li>
          <li>Cerca de 40% dos consumidores utilizam as redes sociais como canal de atendimento </li>
          <li>Mais de 68% do comércio diz que as redes sociais têm um papel fundamental</li>
          <li>40% dos consumidores já usam redes sociais como base para consumo</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Desses consumidores:</h2>
        <ul>
          <li>53% usaram Facebook como apoio a interação</li>
          <li>48% assistiram a apoio de vídeo (turoriais) on line</li>
          <li>60% leem blogs de marcas em que estão interessados</li>
          <li>86% dizem que estão mais do que satisfeitos pelo “canal de opções” incluso nas redes</li>
          <li>47% dizem que se uma marca não oferece um canal de preferência, mas oferece um bom serviço ao consumidor, ainda seria mais interessante buscar um concorrente que ofereça ambos</li>
        </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/redes_chart.png" alt="fidelização de clientes - Cross-selling e up-selling" title="Cross-selling e up-selling">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/dados_empresas.png" alt="Personalização e fidelização de clientes" title="Atendimento personalizado e fidelização de clientes">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">E o que as empresas enxergam?</h2>
        <ul>
          <li>Mais de 68% das empresas concordam que as redes sociais são um canal necessário</li>
          <li>61% relatam alto índice de satisfação obtido via redes sociais</li>
          <li>55% das empresas sentem que o suporte das redes é um diferencial de mercado</li>
          <li>58% dizem que o cuidado via redes sociais aumenta a fidelização de clientes</li>
          <li>Mais de 38% pensam que irão perder clientes sem o apoio das opções das redes sociais</li>
        </ul>
        <p>Um sentimento negativo (reclamação) exposto de forma viral tem o seu impacto reduzido em 35% se trabalhado via redes sociais. Mesmo assim, 60% das empresas ainda não possuem apoio ao cliente via redes sociais.</p>
    </div>
  </div>
</div>
    
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Como atender um cliente via redes sociais?</h2>
        <p>É possível atender bem seus clientes neste mundo das redes sociais. Para isso, recomendamos os seguintes passos:
          <ul>
            <li>Escolha a solução tecnológica ideal</li>
          </ul>
            <p>Um sistema de atendimento é ideal para centralizar todos os seus canais de contato com o cliente. Apesar disso, 79% das empresas utilizam serviços de rede social sem as ferramentas corretas.</p>
          <ul>
            <li>Faça um planejamento</li>
          </ul>
            <p>O planejamento é necessário para traçar as estratégias que você deve seguir para atender bem seu cliente e saber quanto irá gastar com isso. 69% das empresas que atuam em redes sociais já usam um plano de trabalho.</p>       
          <ul>
            <li>Estabelecer um protocolo de respostas</li>
          </ul>
            <p>Padronizar respostas é uma das melhores formas de otimizar seu atendimento. 64% das empresas apresentam expectativas de tempo de resposta via Twitter ou Facebook.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-redes-sociais/como_atender_social.png" alt="Como fidelizar clientes?" title="O que fazer para fidelizar clientes?">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">    
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-nps/nps-causas-raiz.png" alt="Fidelizar clientes - aumente a qualidade do seu atendimento" title="Fidelizar clientes - aumente a qualidade do seu atendimento">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Atendimento omnichannel </h2>
        <p>O omnichannel é caracterizado pela integração entre canais. Ou seja, além da empresa disponibilizar diversos canais pelos quais o cliente pode interagir (como mobile, site, lojas físicas, redes sociais, e-commerce, whatsapp, entre outros), eles ainda são integrados, o que difere o atendimento omnichannel de um atendimento multichannel, em que a integração não acontece.<br>
          <br>Com isso, o consumidor consegue comprar em qualquer lugar, a qualquer hora e pelo canal que for mais interessante e conveniente naquele momento, sem qualquer perda caso migre de um canal para outro no processo de compra.<br>
          <br>Portanto, o omnichannel visa integrar o máximo de canais possível a fim de tornar a jornada do cliente completa e preencher qualquer lacuna de comunicação entre ele e a empresa.<br>
          <br>Além disso, o atendimento omnichannel permite mapear, de maneira precisa, os dados e preferências do cliente, permitindo que a empresa apresente ofertas nos canais que o cliente mais usa, com base no histórico de compras e em formulários preenchidos por ele.<br>
          <br>Assim, o atendimento omnichannel atende com eficiência as expectativas do cliente moderno, que está cada vez mais conectado, imediatista e exigente.<br>
    </div>
  </div>
</div>


<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Em resumo, para as empresas, um atendimento omnichannel:</h2>
          <ul>
            <li>Ajuda a fidelizar clientes</li>
            <li>Fortalece o relacionamento entre empresa e cliente</li>
            <li>Oferece consistência no atendimento</li>
            <li>Melhora a experiência do cliente junto à marca</li>
            <li>Aumenta as vendas</li>
            <li>Melhora a captura de dados dos cliente</li>
            <li>Permite uma comunicação integrada</li>
            <li>Atenda o cliente em qualquer lugar</li>
          </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/ebook-dicas-fidelizar-clientes/personalizacao_fidelizar_clientes.png" alt="Como fidelizar clientes?" title="O que fazer para fidelizar clientes?">
      </div>
    </div>
  </div>
</div>
<!-- resume -->
<article class="od-Wrapper u-bgLightGray">
  <div class="container"> 
    <h2 class="h1 u-fontThin">Resumo</h2>
    <p>No infográfico que preparamos especialmente para você, vamos te mostrar como atender um cliente via redes sociais. Para isso, incluímos uma série de dados relevantes, com fontes especificadas, que reforçam a importância de se ter organização e controle nesse tipo de abordagem com o consumidor moderno, afinal, ele está cada dia mais conectado e imediatista. Com nosso infográfico, esperamos que você consiga se planejar melhor para atender nas redes sociais e  perceba como a integração de canais pode ser uma estratégia eficiente de atendimento, oferecendo resultados mais rápidos e melhores para seus clientes. Além disso, vamos te dar uma série de dicas para você cuidar da relação que sua empresa estabelece com seus clientes por meio das mídias sociais. Baixe, agora, nosso infográfico e descubra como atender um cliente!</p>
  </div>
</article>