<img src="/assets/images/materials/imagem_ebook_Jornada.png" alt="ebook jornada de sucesso" width="100%">
<h4>Ebook</h4>
<h4 class="u-fontThin">Sucesso na jornada do cliente:<br> da pré venda ao pós venda</h4>
<button type="button" gtm-identificator="ebook-pessoas" (click)="downloadEbookModal()" class="mt-1 btn btn-warning cursor-pointer">Baixar ebook</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1500650099ebook_jornada_cliente.pdf'"
  [gtm-form-id]="'ebook-jornada'"
  [rd-identificator]="'lp-jornada-do-cliente-agendor'"
  [modal-title]="'Sucesso na jornada do cliente: da pré venda ao pós venda'"
  [modal-submit-text]="'Baixar Ebook'">
</octadesk-form-modal>

