<article class="od-Wrapper u-o-hidden u-bgLightGray">
	<div class="container od-Timeline">
		<div class="row">
			<div class="col text-center">
				<h2 class="h1 u-fontThin">
					Tenha acesso ao histórico de seus clientes
				</h2>
				<p>Agilize o atendimento ao cliente e facilite o trabalho da sua equipe com informações precisas que podem ser obtidas de outros sistemas ou do próprio Octadesk.<br>
				Tudo isso personalizável e disponível em cada chamado, melhorando o processo de atendimento e aumentando o nível de satisfação dos clientes.</p>
			</div>
		</div>
		<div class="row">
			<div class="col u-alignCenter">
				<div class="u-alignCenter-item">
					<img class="od-Timeline-customer" src="/assets/images/features/timeline-cliente.png" alt="Cliente octadesk" title="Cliente octadesk">
				</div>
				<div class="u-alignCenter-item text-left">
					<strong class="h5">Juliana Smith</strong>
					<ul class="od-ListType od-ListType--fontSmall">
						<li class="od-ListType-item od-ListType-item--cm">contato@octadesk.com</li>
						<li class="od-ListType-item od-ListType-item--cm">(11) 2222-1422</li>
						<li class="od-ListType-item od-ListType-item--cm">Nacionalidade: Brasileira</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col od-Timeline-interactions mt-1">
				<img class="od-Timeline-image" src="/assets/images/features/timeline.png" alt="Timeline cliente" title="Timeline cliente">
			</div>
		</div>
	</div>
</article>
