	<article class="od-Wrapper u-bgLightGray">
		<div class="container od-ManageRelationship">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Gerencie o relacionamento com todos os tipos de clientes</h2>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col-md-4 text-md-center">
					<div class="rounded-circle od-ManageRelationship-thumb mt-2">
						<i class="icon-woman"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i>
					</div>
					<dl class="od-DescriptionList od-ManageRelationship-text mt-2">
						<dt class="od-DescriptionList-title">Clientes finais</dt>
						<dd class="od-DescriptionList-detail">Conecte todos canais de contato e<br class="hidden-lg-down"> atenda com agilidade e qualidade<br class="hidden-lg-down"> as solicitações de atendimento ao cliente.</dd>
					</dl>
				</div>
				<div class="col-md-4 text-md-center">
					<div class="rounded-circle od-ManageRelationship-thumb mt-2">
						<i class="icon-businessman"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></i>
					</div>
					<dl class="od-DescriptionList od-ManageRelationship-text mt-2">
						<dt class="od-DescriptionList-title">Parceiros</dt>
						<dd class="od-DescriptionList-detail">Gerencie com eficiência as demandas<br class="hidden-lg-down"> dos seus parceiros, fornecedores,<br class="hidden-lg-down"> franquias, representantes, entre outros.</dd>
					</dl>
				</div>
				<div class="col-md-4 text-md-center">
					<div class="rounded-circle od-ManageRelationship-thumb mt-2">
						<i class="icon-agent"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></i>
					</div>
					<dl class="od-DescriptionList od-ManageRelationship-text mt-2">
						<dt class="od-DescriptionList-title">Clientes internos</dt>
						<dd class="od-DescriptionList-detail">Controle o fluxo de demandas entre as<br class="hidden-lg-down"> áreas da empresa como contratações,<br class="hidden-lg-down"> compras, aprovações e suporte.</dd>
					</dl>
				</div>
			</div>
		</div>
	</article>

	<!-- manage people -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-ManagePeople">
			<div class="row">
				<div class="col-lg-6 od-ManagePeople--border">
					<h3 class="mb-3 u-fontThin">Gerencie clientes e organizações</h3>
					<ul class="od-ListType">
						<li class="od-ListType-item od-ListType-item--icon">
							<i class="icon-woman-o text-info"></i>
							<p><strong>Clientes</strong> - Cadastre todos seus clientes e mantenha todo o histórico dos atendimentos.</p>
						</li>
						<li class="od-ListType-item od-ListType-item--icon">
							<i class="icon-building-o text-info"></i>
							<p><strong>Organização</strong> - Agrupe os contatos da mesma empresa e tenha um atendimento ao cliente mais organizado e controlado.</p>
						</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<h3 class="mb-3 u-fontThin">Controle agentes e grupos de atendimento</h3>
					<ul class="od-ListType">
						<li class="od-ListType-item od-ListType-item--icon">
							<i class="icon-agent-o text-info"></i>
							<p><strong>Agentes</strong> - Controle acesso de cada agente e segregue o acesso a informações e funcionalidades.</p>
						</li>
						<li class="od-ListType-item od-ListType-item--icon">
							<i class="icon-groups-o text-info"></i>
							<p><strong>Grupos</strong> - Organize os agentes em grupos para facilitar a organização e atribuição dos atendimentos entre diferentes equipes.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</article>
