<section id="help-desk-lp">
	<!-- header -->
	<header class="od-Wrapper od-Header od-Header--lp od-Header--bgLPHelpDesk">
		<div class="container h-100">
			<div class="row d-flex align-items-center h-100">
				<div class="col-sm-8 col-md-7 col-xl-6">
					<h1 class="h2">Precisa melhorar o atendimento ao cliente da sua empresa?</h1>
					<h2 class="u-fontThin">O Octadesk ajuda você e a sua equipe a elevar a qualidade de atendimento da sua empresa.</h2>
					<button type="button" gtm-identificator="experimente-gratis-header" class="btn btn-warning" (click)="openTrialModal()">Avalie grátis</button>
					<try-octadesk-modal [gtm-form-id]="'experimente-gratis-header'" [rd-identificator]="'form-trial-experimente-o-octadesk'"></try-octadesk-modal>
					<i class="icon-arrow-top-left text-primary"></i>
				</div>
			</div>
		</div>
	</header>

	<!--Sales Flow-->
	<octadesk-lp-sales-flow></octadesk-lp-sales-flow>

	<!-- get to know -->
	<article class="od-Wrapper u-bgWarning u-o-hidden">
		<octadesk-get-to-know [btn-class]="'btn od-ButtonOutline--lighten'"></octadesk-get-to-know>
	</article>

	<!-- curt features -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-WhatIsOctades">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Funcionalidades para facilitar o dia a dia do seu atendimento ao cliente</h2>
				</div>
			</div>
			<octadesk-curt-features [area]="'getLpSistemaDeChamadosCurtFeatures'"></octadesk-curt-features>
		</div>
	</article>

	<!-- metrics -->
	<article class="od-Wrapper u-bgLightGray u-o-hidden">
		<octadesk-metrics></octadesk-metrics>
	</article>

	<!-- customers -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container od-Statement">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Clientes que otimizaram seu atendimento ao cliente com Octadesk</h2>
				</div>
			</div>
			<div class="row mt-1">
				<div class="col-md-5">
					<ul class="row flex-items-center od-ListType">
						<li class="col-6 text-center od-ListType-item">
							<img src="/assets/images/customers/netpartners.png" alt="net partners" title="net partners">
						</li>
						<li class="col-6 text-center od-ListType-item">
							<img src="/assets/images/customers/uplexis.png" alt="up Lexis" title="up Lexis">
						</li>
						<li class="col-6 text-center od-ListType-item">
							<img src="/assets/images/customers/essence.jpg" alt="essence" title="essence">
						</li>
						<li class="col-6 text-center od-ListType-item">
							<img src="/assets/images/customers/smartget.jpg" alt="smart get" title="smart get">
						</li>
					</ul>
				</div>
				<div class="col-md-7 flex-middle od-Statement-item">
					<div class="row">
						<div class="col-lg-7 col-xl-8 push-lg-1 flex-lg-last">
							<p class="od-Statement-item-text">
								<i class="icon-quotes-left text-info"></i> O Octadesk nos ajudou a melhorar o nível de atendimento com nossos clientes,
								além de aumentar a eficiência do time de atendimento ao cliente, possibilitando redução de custo operacional.
								<i class="icon-quotes-right text-info"></i>
							</p>
							<div class="hidden-md-down od-Statement-item-signature">
								<strong>Alexandre de Cicco</strong><br> Proprietário - Netpartners
							</div>
						</div>
						<div class="col-lg-4 col-xl-3 push-lg-1 flex-lg-first">
							<div class="row d-flex align-items-center">
								<div class="col-3 col-sm-2 col-md-3 col-lg-12">
									<div class="rounded-circle od-Statement-item-thumb">
										<img src="/assets/images/customers/alexandre-de-cicco.png" alt="Alexandre de Cicco" title="Alexandre de Cicco">
									</div>
								</div>
								<div class="col-9 col-sm-10 col-md-9 hidden-lg-up od-Statement-item-signature">
									<strong>Alexandre de Cicco</strong><br> Proprietário
									<br> Netpartners
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-1">
				<div class="col text-center">
					<a role="button" class="btn btn-warning" gtm-identificator="transforme-seu-projeto-em-caso-de-sucesso-content" [routerLink]="['/casos-de-sucesso/sistema-de-atendimento']">
						Transforme<span class="hidden-sm-up">-se</span> <span class="hidden-xs-down">seu projeto</span> em um caso de sucesso
					</a>
				</div>
			</div>
		</div>
	</article>

	<!-- pricing -->
	<article class="od-Wrapper u-bgLightGray">
		<div class="container od-ChoosePlan">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Planos para equipes de diferentes tamanhos</h2>
				</div>
			</div>
			<octadesk-choose-plan></octadesk-choose-plan>
		</div>
	</article>

</section>
