<div class="container od-Statement">
	<div class="row">
		<div class="col-md-6 od-Statement-item">
			<div class="row">
				<div class="col-lg-7 col-xl-8 flex-lg-last">
					<p class="od-Statement-item-text">
						<i class="icon-quotes-left text-info"></i>
						O Octadesk agrega todas as informações necessárias para um atendimento personalizado, de forma que o cliente se sinta conhecido e especial desde o primeiro momento.
						<i class="icon-quotes-right text-info"></i>
					</p>
					<div class="hidden-md-down od-Statement-item-signature">
						<strong>Rodrigo Von</strong><br> Sócio Diretor - Incorporadora e Construtora Plano &amp; Plano
					</div>
				</div>
				<div class="col-lg-4 col-xl-3 flex-lg-first">
					<div class="row d-flex align-items-center">
						<div class="col-3 col-sm-2 col-md-3 col-lg-12">
							<div class="rounded-circle od-Statement-item-thumb">
								<img src="/assets/images/customers/rodrigo-von.png" alt="Rodrigo Von" title="Rodrigo Von">
							</div>
						</div>
						<div class="col-9 col-sm-10 col-md-9 hidden-lg-up od-Statement-item-signature">
							<strong>Rodrigo Von</strong><br> Sócio Diretor<br> Incorporadora e Construtora Plano &amp; Plano
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 od-Statement-item">
			<div class="row">
				<div class="col-lg-7 col-xl-8 push-lg-1 flex-lg-last">
					<p class="od-Statement-item-text">
						<i class="icon-quotes-left text-info"></i>
						O Octadesk nos ajudou a melhorar o nível de atendimento com nossos clientes, além de aumentar a eficiência do time de Help Desk, possibilitando redução de custo operacional.
						<i class="icon-quotes-right text-info"></i>
					</p>
					<div class="hidden-md-down od-Statement-item-signature">
						<strong>Alexandre de Cicco</strong><br> Proprietário - Netpartners
					</div>
				</div>
				<div class="col-lg-4 col-xl-3 push-lg-1 flex-lg-first">
					<div class="row d-flex align-items-center">
						<div class="col-3 col-sm-2 col-md-3 col-lg-12">
							<div class="rounded-circle od-Statement-item-thumb">
								<img src="/assets/images/customers/alexandre-de-cicco.png" alt="Alexandre de Cicco" title="Alexandre de Cicco">
							</div>
						</div>
						<div class="col-9 col-sm-10 col-md-9 hidden-lg-up od-Statement-item-signature">
							<strong>Alexandre de Cicco</strong><br> Proprietário
							<br> Netpartners
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<button [routerLink]="['/casos-de-sucesso/sistema-de-atendimento']" class="btn btn-outline-info mt-1 u-font-W500" type="button">
			Veja nossos casos de sucesso
		</button>
	</div>

</div>
