<!-- sales flow -->
<article class="od-Wrapper u-bgWhite">
	<div class="container od-SalesFlow">
		<div class="row d-flex align-items-center">
			<div class="col-12 col-md text-center">
				<img class="od-SalesFlow-image" src="/assets/images/lp/help-desk/problemas-sem-help-desk.png" alt="Problemas no atendimento ao cliente" title="Problemas no atendimento ao cliente">
			</div>
			<div class="col-12 col-md">
				<h2 class="u-fontThin">Quais problemas um sistema de<br>atendimento ao cliente pode resolver?</h2>
				<ul class="od-ListType mt-2">
					<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Velocidade e precisão no atendimento, desorganização e falta de controle</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Comunicação ineficiente entre os clientes e a equipe de atendimento</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Grande volume de chamados não atendidos nos prazos acordados</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Descentralização dos canais e falta de histórico de atendimento</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<p class="h2 u-fontThin text-danger px-3 py-3 od-SalesFlow-arrow od-SalesFlow-arrow--right">"A insatisfação de um cliente chega a <strong>impactar até <br>11 pessoas</strong> e,no mundo digital, mais de 1000."</p>
			</div>
		</div>

		<div class="row d-flex align-items-center">
			<div class="col-12 col-md">
				<h2 class="u-fontThin">Qual o impacto de não ter um<br>atendimento ao cliente bem estruturado? </h2>
				<ul class="od-ListType mt-2">
					<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Perda de credibilidade, transparência e principalmente clientes</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Queda nos níveis de qualidade, produtividade e eficiência</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Aumento de retrabalho, insatisfação dos clientes e custo operacional</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletDanger">Atendimento amador, lento e desestruturado</li>
				</ul>
			</div>
			<div class="col-12 col-md flex-first flex-md-last text-center">
				<img class="od-SalesFlow-image" src="/assets/images/lp/help-desk/impactos-sem-help-desk.png" alt="Impactos de não ter um sistema de atendimento ao cliente" title="Impactos em não ter um sistema de atendimento ao cliente">
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<p class="h2 u-fontThin text-danger px-3 py-3 od-SalesFlow-arrow od-SalesFlow-arrow--left">"Chega a <strong>custar 4x mais</strong> para fechar com um novo cliente <br>do que vender mais para um cliente existente."</p>
			</div>
		</div>

		<div class="row d-flex align-items-center">
			<div class="col-12 col-md text-center">
				<img class="od-SalesFlow-image" src="/assets/images/lp/help-desk/canais-de-atendimento-ao-cliente.png" alt="Canais de atendimento ao cliente" title="Canais de atendimento ao cliente">
			</div>
			<div class="col-12 col-md">
				<h2 class="u-fontThin">Como resolver os problemas da sua central<br> de atendimento ao cliente?</h2>
				<ul class="od-ListType mt-2">
					<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Organize, classifique e priorize os chamados de atendimento ao cliente</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Atenda o cliente em diversos canais, organize as conversas e tenha histórico</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Tenha métricas, observe o desempenho da equipe e a satisfação dos clientes</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Padronize a comunicação e automatize as tarefas do dia a dia</li>
				</ul>
				<a role="button" class="btn btn-success mt-1" gtm-identificator="veja-nossas-funcionalidades-content" [routerLink]="['/funcionalidades/atendimento-ao-cliente']">
					Veja nossas funcionalidades
					<i class="icon-next"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<p class="h2 u-fontThin text-success px-3 py-3 od-SalesFlow-arrow od-SalesFlow-arrow--right">"Mercados maduros já utilizam <strong>sistemas de<br>atendimento ao cliente</strong> há mais de 10 anos."</p>
			</div>
		</div>

		<div class="row d-flex align-items-center">
			<div class="col-12 col-md">
				<h2 class="u-fontThin">Por que investir em atendimento ao cliente?</h2>
				<ul class="od-ListType mt-2">
					<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Tenha clientes mais satisfeitos e construa relacionamentos verdadeiros</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Aumente a credibilidade da sua empresa com um atendimento ágil e preciso</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Ganhe qualidade de serviço controlando e otimizando o seu atendimento</li>
					<li class="od-ListType-item--bullet od-ListType-item--bulletSuccess">Atenda mais chamados, como menos esforço e torne sua equipe mais produtiva</li>
				</ul>
			</div>
			<div class="col-12 col-md flex-first flex-md-last text-center">
				<img class="od-SalesFlow-image" src="/assets/images/lp/help-desk/beneficios-com-help-desk.png" alt="Quais benefícios de investir em atendimento ao cliente" title="benefícios do atendimento ao cliente">
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<p class="h2 u-fontThin text-success px-3 py-3">"<strong>Custa quase 10x</strong> mais trazer um novo cliente<br>do que manter um existente."</p>
			</div>
		</div>
	</div>
</article>
