<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'lp-webinar-octadesk'"
[rd-identificador]="'prod-lp-webinar-octadesk'"
[imagem-header]="'/assets/images/lp/webinar-octadesk/webinar_octadesk.png'"
[hide-logo]="'false'"
[titulo]="'Conheça o Sistema de Chamados que melhora seu atendimento!'"
[sub-titulo]="'Saiba mais sobre o Octadesk, um sistema de chamados simples e eficiente para empresas de todos os tamanhos que buscam rapidez e praticidade no atendimento sem aumento custos.'"
[alt-header]="'Sistema de chamados Octadesk'"
[titulo-form]="'Quero conhecer o sistema de chamados!'"
[subtitulo-form]="''"
[texto-submit]="'Assistir ao Webinar agora!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://www.youtube.com/watch?v=bIxRpZSq53g'"
>
</octadesk-lp-header-com-form>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Problemas de atendimento? Clientes insatisfeitos?</h2>
        <p>Sabendo da importância de mostrar aos nossos clientes como nossa ferramenta funciona, decidimos gravar um Webinar explicando detalhadamente o que você pode fazer com o Octadesk e como ele funciona. Com nosso treinamento online, você vai aprender a utilizar o Octadesk para um atendimento eficiente e sem complicações. Assista ao Webinar!</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
            <i class="icon-agent-chart-up">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span>
            </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Produtividade da equipe</dt>
          <dd class="od-DescriptionList-detail">Um sistema de chamados permite que sua equipe de atendimento tenha mais autonomia, aumentando a produtividade dela.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-agent-star">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Atendimento organizado</dt>
          <dd class="od-DescriptionList-detail">Um sistema de chamados permite monitorar as demandas de forma mais organizada, já que elas ficam reunidas em um só local.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-hourglass-yellow">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Controle de prazos</dt>
          <dd class="od-DescriptionList-detail">Um sistema de atendimento permite a configuração de um SLA (Service Level Agreement), permitindo controlar os prazos de atendimento.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-agent-profile-center">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Informações centralizadas</dt>
          <dd class="od-DescriptionList-detail">Um sistema de chamados permite centralizar e organizar todos os dados de seus clientes e os históricos de atendimento.</dd>
        </dl>
      </div>
    </div>
  </div>
  </article>

  <!-- salesflow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">O que um sistema de chamados faz por você?</h2>
          <p>Se a sua empresa sofre com atendimento impreciso, lento, desorganizado e sem controle, um sistema de chamados eficiente pode ajudar você!
          <br>Muitas vezes, é difícil para as empresas conseguirem dar conta do grande volume de solicitações que recebem. O sistema de chamados serve, justamente, para resolver esse problema e melhorar a comunicação entre colaboradores e clientes. Esse modelo de gestão é capaz de centralizar todos os dados do cliente e o histórico de atendimento, facilitando o acesso às informações fundamentais para atender bem.</p>            
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/info-gestao-processos/atendimento_eficiente.png" alt="O que um sistema de chamados pode fazer por você?" title="O que um sistema de chamados pode fazer por você?">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/webinar-octadesk/sem_sistema_chamados.png" alt="Quais as desvantagens de não adotar um sistema de chamados?" title="Quais as desvantagens de não adotar um sistema de chamados?">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Quais as desvantagens de não adotar um sistema de chamados?</h2>
        <p>Ao optar por não ter um sistema para gerenciar os atendimentos, é provável que você recorra a opções menos eficientes para a gestão do seu relacionamento, como:</p>
          <ul>  
            <li>E-mail compartilhado</li>
            <li>Planilhas</li>
          </ul>
        <p>Não adotar um sistema de chamados pode significar atendimento desorganizado, sem consistência e sem estrutura. No fim, o resultado é aumento de custos, de retrabalho, queda da produtividade da equipe e ineficiência dos processos. Assim, você deixa seus consumidores insatisfeitos, perdendo clientes e credibilidade.</p>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Por que adotar um sistema de chamados?</h2>
        <p>Quando você adota um sistema de chamados, você é capaz de organizar, classificar e priorizar as solicitações de atendimento. Além disso, o sistema permite que você realize atendimento multicanal, centralizando todos os chamados dos clientes e registrando o histórico de conversas. Assim, você fica atualizado ao que acontece no seu negócio, acompanhando as demandas do mercado, já que o atendimento por múltiplos canais é uma tendência nos dias de hoje. 
          <br>Por fim, como o sistema permite automatizar tarefas do dia-a-dia, seus colaboradores podem resolver questões mais urgentes e atender mais clientes, aumentando a produtividade da equipe e garantindo um atendimento escalável para o seu negócio. Como resultado, você tem um atendimento otimizado, clientes satisfeitos e seu serviço valorizado.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/planilha-cadastro-clientes/oque_significa.png" alt="Por que adotar um sistema de chamados?" title="Por que adotar um sistema de chamados?">
      </div>
    </div>
  </div>
</div>

<div class="container od-SalesFlow">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md text-center">
      <img class="od-SalesFlow-image" src="/assets/images/lp/webinar-octadesk/momento_sistema_chamados.png" alt="Qual o melhor momento de adotar um sistema de chamados?" title="Qual o melhor momento de adotar um sistema de chamados?">
    </div>
    <div class="col-12 col-md">
      <h2 class="u-fontThin">Qual o melhor momento de adotar um sistema de chamados?</h2>
        <p>Nem sempre é muito fácil saber quando um sistema de chamados é necessário. Para te ajudar a identificar esse momento, listamos alguns problemas que sua empresa pode estar enfrentando - eles mostram que chegou a hora de você organizar o seu atendimento usando um sistema especializado:</p>
          <ul>
            <li>Sua equipe está perdida, improdutiva e sobrecarregada</li>
            <li>Você sofre com o alto volume de solicitações e com a falta de organização</li>
            <li>As solicitações levam muito tempo para serem respondidas</li>
            <li>Sua empresa não tem controle sobre prazos</li>
            <li>Os dados dos seus clientes estão espalhados ou foram perdidos</li>
          </ul>
          <p>Se sua empresa sofre come esses problemas, então é hora de adotar um sistema de chamados. Um dos motivos principais para investir em um sistema de chamados é ajudar a sua empresa a ampliar suas operações de apoio e aproveitar melhor o tempo dos funcionários. Por isso, é importante descobrir as necessidades da sua equipe e buscar as soluções mais eficientes. Sua equipe e seus clientes irão ficar ainda mais satisfeitos!</p>
      </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Funcionalidades do sistema de chamados</h2>
        <p>Algumas funcionalidades de um sistema de chamados eficiente são:</p>
        <ul>
          <li>Múltiplos canais de atendimento</li>
          <li>Controle de prazos (SLA)</li>
          <li>Automações e workflow</li>
          <li>Base de conhecimento</li>
          <li>Chat</li>
          <li>Dashboard e relatórios</li>
        </ul>
        <p></p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/webinar-octadesk/funcionalidades_sistema_chamados.png" alt="Funcionalidades do sistema de chamados" title="Funcionalidades do sistema de chamados">
      </div>
    </div>
  </div>
</div>


  <!-- resume -->
<article class="od-Wrapper u-bgLightGray">
  <div class="container">
    <h2 class="h1 u-fontThin">Resumo</h2>
    <p>O Webinar  de treinamento foi dividido em 2 etapas: a primeira foi focada nos agentes, mostrando como um atendente pode utilizar o nosso sistema de chamados da melhor forma possível.
    <br>Já segunda parte do treinamento teve foco nos administradores, com o objetivo de mostrar como um gestor pode configurar todo o sistema para facilitar os relatórios e atividades do dia a dia, evitando retrabalho e erros humanos.
    <br>Nosso treinamento utiliza ilustrações para que você conheça o Octadesk em detalhes.
    <br>Com o Webinar, você irá aprender o que é e para que serve um ticket, como funciona nosso histórico de atendimento, como utilizar o cadastro de produtos e serviços que o sistema permite catalogar, como abrir e fechar um chamado, como priorizar chamados e estabelecer as regras de SLA, entre outros. Confira!</p>
  </div>
</article>
