<section id="home-view">
	<!-- header -->
	<div class="od-BgHeaderGray">
		<header class="od-Wrapper od-Header od-HeaderHeight">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-lg-8 col-xl-6">
						<h1 class="titleHide">O melhor Sistema de relacionamento e atendimento ao cliente</h1>
						<h2 class="font-style-header">
							O Octadesk é um sistema de suporte e
							<br> relacionamento que sua empresa precisa
							<br> para
							<span class="u-font-W700" id="typed"></span>
						</h2>
						<div class="header-content-display-md-down">
							<div class="od-Header-Form-Email-Trial-Container float-left">
								<octadesk-avalie-form-email-field [gtm-form-id]="'experimente-gratis-header'"></octadesk-avalie-form-email-field>

								<p class="mt-1 mb-0"> Avalie sem compromisso. Não pedimos cartão de crédito</p>
							</div>
							<octadesk-know-octadesk-yt></octadesk-know-octadesk-yt>
						</div>
					</div>
					<div class="col-6 col-lg-4 text-right od-notebook-header hidden-md-down">
						<img src="/assets/images/octadesk-notebook.png" alt="NoteBook aberto na página de dashboard do octadesk" title="NoteBook aberto na página de dashboard do octadesk">
					</div>
				</div>

			</div>
		</header>
	</div>

	<!--midia mentions -->
	<article class="od-Wrapper">
		<octadesk-midia-mentions></octadesk-midia-mentions>
	</article>


	<!-- what is octadesk -->
	<article class="mb-1 u-bgWhite">
		<div class="container od-WhatIsOctadesk">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">O que é o Octadesk?</h2>
					<p>Somos uma plataforma de atendimento e Help Desk que ajuda empresas a cuidar do relacionamento com
						<br class="hidden-md-down">seus clientes de forma organizada e flexível, com foco na qualidade e agilidade do atendimento.</p>
				</div>
			</div>
			<octadesk-curt-features [area]="'getHomeCurtFeatures'"></octadesk-curt-features>
		</div>
	</article>

	<!-- why octadesk -->
	<article class="od-Wrapper od-Wrapper--cb u-bgGrayGeometric u-o-hidden">
		<octadesk-why-octadesk></octadesk-why-octadesk>
	</article>

	<!--- distinct -->
	<article class="od-Wrapper u-bgWhite">
		<octa-differences></octa-differences>
	</article>


	<div class="container">
		<hr>
	</div>

	<!-- customers -->
	<article class="od-Wrapper u-bgWhite">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2 class="h1 u-fontThin">Clientes que confiam no Octadesk</h2>
					<p>A flexibilidade do nosso sistema de atendimento ao cliente e Help Desk permite atender empresas de diferentes portes
						e segmentos de mercado.</p>
				</div>
			</div>
		</div>
	</article>


	<!-- statement -->
	<article class="od-Wrapper u-bgWhite">
		<octadesk-statement></octadesk-statement>
	</article>

	<div class="container">
		<hr class="mt-0">
	</div>

	<article class="od-Wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-9 mx-auto">
					<highlight-materiais></highlight-materiais>
				</div>
				<div class="col-lg-9 col-md-9 mx-auto">
					<highlight-blog></highlight-blog>
				</div>
			</div>
		</div>
	</article>


</section>