<div class="card u-no-border">
	<div class="card-block od-blog-highlight">
		<p class="text-purple">
			<strong>Destaques do Blog</strong>
		</p>



		<ngb-carousel role="listbox" class="od-Apps od-HighLightBlog-Height mt-2 hidden-md-down">

			<ng-template ngbSlide class="od-Apps-item" id="slide-1">
				<div class="row ml-1">
					<div class="od-HighLightBlog-item-container">
						<a href="https://blog.octadesk.com/mau-atendimento-excelente-produto" target="_blank">
							<img src="/assets/images/blog/artigos_thumbs_mau-atendimento-excelente-produto.png" alt="octadesk tela mau atendimento excelente produto" title="octadesk tela mau atendimento excelente produto">
						</a>
						<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/mau-atendimento-excelente-produto" target="_blank">
							<p class="mt-3">Excelente produto e mau atendimento: Por que você está falhando?</p>
						</a>

					</div>
					<div class="od-HighLightBlog-item-container">
						<a href="https://blog.octadesk.com/cultura-de-atendimento-o-que-e/" target="_blank">
							<img src="/assets/images/blog/artigos_thumbs_cultura-de-atendimento-o-que-e.png" alt="octadesk tela cultura de atendimento" title="octadesk tela cultura de atendimento">
						</a>
						<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/cultura-de-atendimento-o-que-e/" target="_blank">
							<p class="mt-3">O que é cultura de atendimento e por que adotá-la?</p>
						</a>

					</div>
					<div class="od-HighLightBlog-item-container">
						<a href="https://blog.octadesk.com/o-que-e-customer-centric/" target="_blank">
							<img src="/assets/images/blog/artigos_thumbs_o-que-e-customer-centric.png" alt="octadesk tela o que e customer centric" title="octadesk tela o que e customer centric">
						</a>
						<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/o-que-e-customer-centric/" target="_blank">
							<p class="mt-3">
								O que é customer centric?<br> Conheça essa estratégia!
							</p>
						</a>

					</div>
				</div>
			</ng-template>

			<ng-template ngbSlide class="od-Apps-item" id="slide-2">
				<div class="row ml-1">
					<div class="od-HighLightBlog-item-container">
						<a href="https://blog.octadesk.com/bom-atendimento-valorizacao-produto" target="_blank">
							<img src="/assets/images/blog/artigos_thumbs_bom-atendimento-valorizacao-produto.png" alt="octadesk tela valorizacao do produto" title="octadesk tela valorizacao do produto">
						</a>
						<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/bom-atendimento-valorizacao-produto" target="_blank">
							<p class="mt-3">Bom atendimento valorização produto</p>
						</a>

					</div>
					<div class="od-HighLightBlog-item-container">
						<a href="https://blog.octadesk.com/diferencas-service-desk-e-help-desk/" target="_blank">
							<img src="/assets/images/blog/artigos_thumbs_diferencas-service-desk-e-help-desk.png" alt="octadesk tela diferencas help-desk e serivce-desk" title="octadesk tela diferencas help-desk e serivce-desk">
						</a>
						<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/diferencas-service-desk-e-help-desk/" target="_blank">
							<p class="mt-3">Diferenças entre service desk e help desk</p>
						</a>

					</div>
					<div class="od-HighLightBlog-item-container">
						<a href="https://blog.octadesk.com/monte-uma-central-de-atendimento-ao-cliente/" target="_blank">
							<img src="/assets/images/blog/artigos_thumbs_monte-uma-central-de-atendimento-ao-cliente.png" alt="octadesk tela monte um central de atendimento ao cliente" title="octadesk tela monte um central de atendimento ao cliente">
						</a>
						<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/monte-uma-central-de-atendimento-ao-cliente/" target="_blank">
							<p class="mt-3">
								Monte uma central de atendimento ao cliente
							</p>
						</a>

					</div>
				</div>
			</ng-template>

		</ngb-carousel>

		<ngb-carousel role="listbox" class="od-Apps od-HighLightBlog-Height my-3 hidden-lg-up">

			<ng-template ngbSlide class="od-Apps-item" id="slide-1">

					<div class="od-HighLightBlog-item-container-sm">
						<a href="https://blog.octadesk.com/mau-atendimento-excelente-produto" target="_blank">
							<img src="/assets/images/blog/artigos_thumbs_mau-atendimento-excelente-produto.png" alt="octadesk tela mau atendimento excelente produto" title="octadesk tela mau atendimento excelente produto">
						</a>
						<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/mau-atendimento-excelente-produto" target="_blank">
							<p class="mt-3">Excelente produto e mau atendimento: Por que você está falhando?</p>
						</a>

					</div>


			</ng-template>

			<ng-template ngbSlide class="od-Apps-item" id="slide-2">
				<div class="od-HighLightBlog-item-container-sm">
					<a href="https://blog.octadesk.com/cultura-de-atendimento-o-que-e/" target="_blank">
							<img src="/assets/images/blog/artigos_thumbs_cultura-de-atendimento-o-que-e.png" alt="octadesk tela cultura de atendimento" title="octadesk tela cultura de atendimento">
						</a>
					<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/cultura-de-atendimento-o-que-e/" target="_blank">
						<p class="mt-3">O que é cultura de atendimento e por que adotá-la?</p>
					</a>

				</div>
			</ng-template>
			<ng-template ngbSlide class="od-Apps-item" id="slide-3">
				<div class="od-HighLightBlog-item-container-sm">
					<a href="https://blog.octadesk.com/o-que-e-customer-centric/" target="_blank">
						<img src="/assets/images/blog/artigos_thumbs_o-que-e-customer-centric.png" alt="octadesk tela o que e customer centric" title="octadesk tela o que e customer centric">
					</a>
					<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/o-que-e-customer-centric/" target="_blank">
						<p class="mt-3">
							O que é customer centric? Conheça essa estratégia!
						</p>
					</a>
				</div>
			</ng-template>
			<ng-template ngbSlide class="od-Apps-item" id="slide-4">
				<div class="od-HighLightBlog-item-container-sm">
					<a href="https://blog.octadesk.com/bom-atendimento-valorizacao-produto" target="_blank">
						<img src="/assets/images/blog/artigos_thumbs_bom-atendimento-valorizacao-produto.png" alt="octadesk tela valorizacao do produto" title="octadesk tela valorizacao do produto">
					</a>
					<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/bom-atendimento-valorizacao-produto" target="_blank">
						<p class="mt-3">Bom atendimento valorização produto</p>
					</a>

				</div>
			</ng-template>
			<ng-template ngbSlide class="od-Apps-item" id="slide-5">
				<div class="od-HighLightBlog-item-container-sm">
					<a href="https://blog.octadesk.com/diferencas-service-desk-e-help-desk/" target="_blank">
						<img src="/assets/images/blog/artigos_thumbs_diferencas-service-desk-e-help-desk.png" alt="octadesk tela diferencas help-desk e serivce-desk" title="octadesk tela diferencas help-desk e serivce-desk">
					</a>

					<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/diferencas-service-desk-e-help-desk/" target="_blank">
						<p class="mt-3">Diferenças entre servicedesk e helpdesk</p>
					</a>

				</div>
			</ng-template>
			<ng-template ngbSlide class="od-Apps-item" id="slide-6">
				<div class="od-HighLightBlog-item-container-sm">
					<a href="https://blog.octadesk.com/monte-uma-central-de-atendimento-ao-cliente/" target="_blank">
						<img src="/assets/images/blog/artigos_thumbs_monte-uma-central-de-atendimento-ao-cliente.png" alt="octadesk tela monte um central de atendimento ao cliente" title="octadesk tela monte um central de atendimento ao cliente">
					</a>
					<a class="txt-deco-underline-txt-default cursor-pointer" href="https://blog.octadesk.com/monte-uma-central-de-atendimento-ao-cliente/" target="_blank">
						<p class="mt-3">Monte uma central de atendimento ao cliente</p>
					</a>

				</div>
			</ng-template>
		</ngb-carousel>
  </div>
</div>