<div class="card">
  <div class="card-block od-materials-highlight">
    <a class="cursor-pointer txt-no-decoration" [routerLink]="['/materiais-para-helpdesk']">
      <p class="text-purple text-left"><strong>Materiais educativos</strong></p>
    </a>
    <a class="cursor-pointer" [routerLink]="['/materiais-para-helpdesk']">
      <img src="/assets/images/ebooks/ebook-pessoas.png" alt="Gestão de pessoas no atendimento ao cliente" title="eBook Gestão de pessoas no atendimento ao cliente">
    </a>
    <a class="cursor-pointer txt-deco-underline-txt-default" [routerLink]="['/materiais-para-helpdesk']">
      <p class="text-center">
        Melhore sua gestão com nossos<br> conteúdos sobre atendimento
      </p>
    </a>
    <button class="btn btn-outline-info mx-auto d-block cursor-pointer" [routerLink]="['/materiais-para-helpdesk']" type="button">Veja Materiais <i class="icon-next"></i></button>

  </div>
</div>
