<div class="container od-CustomizeOctadesk">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">
          O Octadesk com a cara da sua empresa
        </h2>
        <p>Personalize nossa plataforma de atendimento ao cliente e Help Desk de acordo com seu negócio</p>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-md-12 col-lg mt-2">
        <dl class="od-DescriptionList od-DescriptionList--icon">
          <dt class="od-DescriptionList-title">
            <i class="icon-check-circle text-warning"></i> Categorias de assuntos
          </dt>
          <dd class="od-DescriptionList-detail">Categorize as solicitações dos clientes para uma melhor organização, priorização e obtenha métricas precisas sobre
            sua operação.</dd>
          <dt class="od-DescriptionList-title">
            <i class="icon-check-circle text-warning"></i> Campos personalizados
          </dt>
          <dd class="od-DescriptionList-detail">Inclua novos campos para facilitar e controlar o atendimento ao cliente de maneira mais clara e personalizada obtendo
            métricas com a cara do seu negócio.</dd>
          <dt class="od-DescriptionList-title">
            <i class="icon-check-circle text-warning"></i> Formulários personalizados
          </dt>
          <dd class="od-DescriptionList-detail">Crie formulários customizados para atender com mais agilidade cada situação.</dd>
          <dt class="od-DescriptionList-title">
            <i class="icon-check-circle text-warning"></i> Produtos e serviços
          </dt>
          <dd class="od-DescriptionList-detail">Relacione seus produtos e serviços em chamados, tenha métricas mais eficientes e gere insights para melhorias.</dd>
        </dl>
      </div>
      <div class="col-md-12 col-lg text-center mt-2">
        <img class="od-CustomizeOctadesk-image" src="/assets/images/features/octadesk-personalizacao.png" alt="Computador na tela de produtos e serviços do octadesk"
        title="Computador na tela de produtos e serviços do octadesk">
      </div>
    </div>
  </div>
