<img src="/assets/images/materials/imagem_infografico_Satisfacao.png" alt="infografico de satisfacao do cliente" width="100%">
<h4>Infográfico</h4>
<h4 class="u-fontThin">Dicas que garantem a satisfação dos seus clientes</h4>
<button type="button" gtm-identificator="infografico-satisfacao" (click)="openModal()" class="mt-1 btn btn-warning cursor-pointer">Baixar infográfico</button>
<octadesk-form-modal
  [material-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1499894061infografico_satisfacao_do_cliente.pdf'"
  [gtm-form-id]="'infografico-satisfacao'"
  [rd-identificator]="'lp-infografico-satisfacao-do-cliente'"
  [modal-title]="'Dicas que garantem a satisfação dos seus clientes'"
  [modal-submit-text]="'Baixar Infográfico'">
</octadesk-form-modal>

