<!-- header -->
<octadesk-lp-header-com-form
[gtm-form-id]="'gestao-atendimento-ao-cliente-erp'"
[rd-identificador]="'prod-gestao-atendimento-ao-cliente-erp'"
[imagem-header]="'/assets/images/lp/kit-gestao-atendimento/kit_customer_centric_header.png'"
[hide-logo]="'false'"
[titulo]="'Alinhe suas estratégias de atendimento ao customer centric!'"
[sub-titulo]="'Conheça o kit de gestão focado em atendimento ao cliente produzido pela Octadesk em parceria com a ERPFlex. Para empresas que desejam revolucionar o seu relacionamento com o cliente e centrar suas estratégias no consumidor, nosso material é um guia completo para alcançar excelência em atendimento e prospecção de clientes. Não deixe de conferir!'"
[alt-header]="'Kit de customer centric - Materiais para você tornar a sua empresa voltada para o cliente'"
[titulo-form]="'Quero melhorar minhas estratégias de atendimento!'"
[subtitulo-form]="''"
[texto-submit]="'Quero meu kit agora!'"
[under-cta]="'Prometemos não enviar SPAM e nem divulgar suas informações!'"
[download-ebook-url]="'https://d335luupugsy2.cloudfront.net/cms/files/16315/1500326355kit-octadesk-erpflex-gestao-atendimento-ao-cliente.zip'"
>
</octadesk-lp-header-com-form>


<!--- distinct -->
<article class="od-Wrapper u-bgWhite">
  <div class="container od-Distinct">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 u-fontThin">Atendimento desorganizado? Processos lentos e descontrolados?</h2>
        <p>Como anda o seu atendimento ao cliente? Será que sua empresa é adepta do customer centric e coloca o cliente como centro da estratégia? Pensando em esclarecer essas questões e te ajudar a otimizar o seu atendimento ao cliente, a Octadesk e a ERPFlex produziram um kit especial de gestão focada em atendimento ao cliente. Com ele, você saberá exatamente os pontos que precisa melhorar no seu negócio e ainda receberá dicas de atendimento e prospecção de clientes. Confira!</p>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-star-medal">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Qualidade de atendimento</dt>
          <dd class="od-DescriptionList-detail">Nossos materiais vão te ensinar o passo-a passo para elevar a qualidade do seu atendimento. Com isso, você conseguirá atrair mais clientes, fidelizar os que já estão na sua base e aumentará sua receita. Evitando a "síndrome do balde furado".</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-color-money-bag">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Aumento de vendas</dt>
          <dd class="od-DescriptionList-detail">Garantindo a qualidade do atendimento ao cliente, as práticas de fidelização tornam-se mais eficientes, bem como os processos de recomendação. Tudo isso contribui para que você venda cada vez mais, aumentando seus lucros.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-color-pig-safe-money">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Redução de custos</dt>
          <dd class="od-DescriptionList-detail">Com as informações contidas nos nossos materiais, você conseguirá estabelecer estratégias mais inteligentes e que priorizem seus clientes. Com isso, não perde tempo com processos caros e pouco eficientes, reduzindo seus custos.</dd>
        </dl>
      </div>
      <div class="col-lg-3 text-lg-center">
        <div class="rounded-circle od-Distinct-thumb mt-1">
          <i class="icon-customer-lover">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
          </i>
        </div>
        <dl class="od-DescriptionList od-Distinct-description mt-1">
          <dt class="od-DescriptionList-title">Clientes satisfeitos</dt>
          <dd class="od-DescriptionList-detail">Ao aplicar as melhores práticas de atendimento ao cliente e colocar o cliente como centro da sua estratégia, você aumenta a satisfação que eles têm com sua empresa, aumentando as chances de recomendação.</dd>
        </dl>
      </div>
    </div>
  </div>
</article>

<!-- sales flow -->
<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Afinal, o que é customer centric?</h2>
        <p>Customer centric é uma estratégia de negócio centrada na experiência do cliente durante toda a sua jornada e que pretende atrair e fidelizar os consumidores, de modo a aumentar os lucros da empresa.<br>De acordo com um material produzido pela Deloitte, as empresas que pretendem construir uma cultura organizacional voltada ao cliente precisam seguir alguns passos:</p>
        <ul>
          <li>Estabelecer uma liderança voltada ao cliente, para que os gestores inspirem seus funcionários a serem focados no consumidor.</li>
          <li>Entender o cliente a partir de uma pesquisa prévia sobre ele, com coleta de informações e dados relevantes. Isso ajuda a mapear as necessidades, preferências e hábitos de cada cliente. Dessa maneira, você pode personalizar produtos e serviços, entregando mais valor.</li>
          <li>Oferecer mais autonomia para a equipe tomar decisões e resolver os problemas dos consumidores.</li>
          <li>Usar métricas relevantes que meçam a eficiência do atendimento prestado.</li>
          <li>Usar o feedback dos clientes para melhoria contínua. Seja por meio de redes sociais ou chat e atendimento em tempo real.</li>
        </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/kit-gestao-atendimento/o_que_e_customer_centric.png" alt="Afinal, o que é customer centric?" title="Afinal, o que é customer centric?">
      </div>
    </div>
  </div>
</div>
    
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/kit-gestao-atendimento/por_que_utilizar_customer_centric.png" alt="Por que utilizar a estratégia de Customer Centric?" title="Por que utilizar a estratégia de Customer Centric?">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Por que utilizar a estratégia de Customer Centric?</h2>
        <p>Adotar o Customer Centric nada mais é do que oferecer um atendimento de qualidade para ele. Isso envolve investir na experiência que ele tem com a sua empresa. De acordo com uma pesquisa realizada pela American Express:</p>
        <ul>
          <li>3 a cada 4 clientes gastariam mais por um histórico de boas experiências com a marca</li>
          <li>20% dos clientes escolhem a marca pelo serviço prestado</li>
        </ul>
        <p>Empresas que colocam o cliente como centro da estratégia alcançam resultados melhores de venda. Além de seus clientes ficarem mais satisfeitos, eles ainda indicam a marca para conhecidos. Ainda de acordo com a pesquisa, o boca-a-boca positivo tem muita influência para que um novo consumidor teste uma determinada empresa.<br>>42% dos clientes consideram a recomendação de um amigo ou família como fator mais importante para experimentarem uma nova marca.</p>
      </div>
    </div>
  </div>
</div>

<!-- resume -->
<article class="od-Wrapper u-bgLightGray">
    <div class="container"> 
      <h2 class="h1 u-fontThin">Resumo</h2>
      <p>Para que sua empresa coloque o seu cliente como centro da estratégia, pensamos em um kit exclusivo que te ajude a avaliar o seu atendimento e melhorá-lo. Nosso kit consiste em duas checklists e dois e-books: </p>
    </div>
  </article>

  <!-- sales flow -->
<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/kit-gestao-atendimento/ebook_17_dicas.png" alt="Dicas para melhorar a qualidade no atendimento ao cliente e aplicar o customer centric" title="Dicas para melhorar a qualidade no atendimento ao cliente e aplicar o customer centric">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">[eBook] 17 dicas para melhorar a qualidade no atendimento ao cliente</h2>
        <p>Oferecer um atendimento de qualidade é fundamental para empresas de todos os tamanhos que buscam adotar o customer centric. Com nosso material, você vai ficar por dentro das melhores dicas para aumentar a qualidade no atendimento que sua empresa está oferecendo e ainda vai aprender muito sobre a conceitos fundamentais, como gestão de pessoas, processos e tecnologia.
        <br>Nesse e-book, te oferecemos 17 dicas essenciais para você melhorar a qualidade no atendimento ao cliente. Seguindo nossas dicas, você vai superar as expectativas dos clientes e entregar uma experiência mais completa para ele. 
        <br>Alguns temas abordados no e-book "17 dicas essenciais para melhorar a qualidade no atendimento ao cliente", são:</p>
        <ul>
          <li>Qual a relevância da qualidade de atendimento para o seu negócio</li>
          <li>Quais as qualidades de um bom atendimento</li>
          <li>A importância de otimizar processos</li>
          <li>Como a tecnologia dá suporte ao seu atendimento</li>
          <li>Como treinar sua equipe</li>
          <li>Quais métricas de atendimento adotar</li>
          <li>E muito mais</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">[eBook] Guia da prospecção de clientes para PMEs</h2>
        <p> processo de prospecção é composto por etapas e estratégias que levam ao fechamento de novos contratos e, consequentemente, geração de mais receita. No eBook "Guia da prospecção de clientes para PMEs", produzido pela ERPFlex , você vai aprender algumas dessas estratégias. Também vai receber muitas dicas para prospectar clientes de forma eficiente e sem perder tempo! Além disso, vai entender em detalhes o que é a prospecção, o que difere a prospecção ativa da prospecção passiva e quais os motivos que levam a prospecção ativa a ser uma das formas mais eficientes para conseguir clientes.
          <br>Outros tópicos abordados ao longo do eBook são:</p>
        <ul>
          <li>Como prospectar em Outbound Marketing</li>
          <li>como prospectar em Inbound Marketing</li>
          <li>Como integrar o Inbound e Outbound</li>
          <li>Construindo sua buyer persona de prospecção</li>
          <li>Diferenças entre Buyer Persona Inbound x Outbound</li>
        </ul>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/kit-gestao-atendimento/ebook_prospeccao.png" alt="Ebook guia de prospecção de clientes focado em customer centric" title="Ebook guia de prospecção de clientes focado em customer centric">
      </div>
    </div>
  </div>
</div>

<div class="od-Wrapper">
  <div class="container od-SalesFlow">    
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/kit-gestao-atendimento/checklist_atendimento.png" alt="Checklist de atendimento ao cliente" title="Checklist de atendimento ao cliente">
      </div>
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Checklist de atendimento ao cliente</h2>
        <p>A checklist que preparamos para você indica o passo-a-passo que deve ser seguido para alcançar qualidade máxima no atendimento. Ao adotá-la, você organiza e prioriza tarefas, deixando claro para sua equipe o que deve ser feito. Além disso, uma lista de verificação oferece a visão do todo e coloca cada tarefa em perspectiva.
          <br>O material divide-se em três tópicos: pessoas, processos e tecnologia; e em vários subtópicos.
          <br>Ao adotar uma checklist como modelo de gestão, o resultado é a simplificação e divisão tarefas, por conta da estrutura segmentada do material; automatização de processos de memorização, evitando que algum tarefa importante seja esquecida; e padronização do atendimento, dando clareza a sua equipe sobre o que deve ser feito.</p>
      </div>
    </div>
  </div>
</div>

<div class="u-bgLightGray">
  <div class="container od-SalesFlow">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md">
        <h2 class="u-fontThin">Checklist de gestão de serviços</h2>
        <p>Com a checklist criada pela ERPFlex, você consegue avaliar o nível de maturidade da sua gestão de serviços e fica sabendo da importância de manter um serviço de qualidade na sua empresa para a estratégia de customer centric:</p>
        <ul>
          <li><b>Referências:</b> quando recebem um serviço de qualidade, os clientes naturalmente recomendam sua empresa a outras pessoas.</li>
          <li><b>Repetição:</b> oferecendo um serviço de excelência,  é fácil repetir as boas práticas e expandir seu negócio sem perder a qualidade dos seus serviços.</li>
          <li><b>Receita e lucro:</b> com um bom atendimento, é possível gerar muito mais receita, reduzindo custos. </li>
        </ul>
        <p>Ao final da checklist, após responder a todas as perguntas, você receberá um resultado de 0 a 75. Assim, você consegue saber como está sua gestão de serviço e o que você ainda precisa melhorar.</p>
      </div>
      <div class="col-12 col-md flex-first flex-md-last text-center">
        <img class="od-SalesFlow-image" src="/assets/images/lp/kit-gestao-atendimento/checklist_gestao_servicos.png" alt="Checklist de gestão de serviços" title="Checklist de gestão de serviços">
      </div>
    </div>
  </div>
  </div>